@charset "utf-8";
/* 최근게시물 스킨 (latest) */
.idx_notice {position:relative;width:300px;max-height:248px;padding:15px;overflow:hidden;background:#fff;border: 3px double #EC4254;}
.idx_notice h2{padding-bottom:10px;border-bottom:1px solid #eee}
.idx_notice h2 a{display:inline-block;padding:5px;color:#fff;background:#EC4254;text-align:center;}
.idx_notice ul {margin:5px 0;padding:0;list-style:none;}
.idx_notice ul li{line-height:25px;position:relative;padding-right:50px;text-align:left}
.idx_notice .cnt_cmt {display:inline-block;margin:0 0 0 3px;font-weight:bold;color:#993355}
.idx_notice .li_date{position:absolute;top:0;right:0;font-size:0.92em;color:#949494}
.idx_notice .lt_tit{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display:block}
.idx_notice .empty_lt{padding:30px 0;padding-right:0;text-align:center;color:#999}


@media (max-width:1200px){
	.idx_notice{width:100%}
}

@media (max-width: 970px){
	.idx_notice{width:100%}
}