@charset "utf-8";
/*************************************************/
/*	스킨코드 : UIF20P1511
	홈페이지 : http://uifandango.com
	이메일 : ui.fandango@gmail.com                */
/*************************************************/
/*************************************************/
/* 레이아웃 */
/*************************************************/
#UIF_TopBanner { position:relative; height:0; }

#UIF_HeaderWrap_Root { 
	position:fixed;
	width:100%; 
	top:0;
	z-index:180;
	background:rgba(255,255,255,0.95);
}
#UIF_HeaderWrap_A, #UIF_HeaderWrap_B, #UIF_HeaderWrap_C {
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}


#UIF_HeaderWrap_A { width:100%; border-top:3px solid #909090; }
#UIF_HeaderWrap_B { width:100%; height:118px; opacity:1; -webkit-transition: height 0.4s opacity 0.4s; -moz-transition: height 0.4s opacity 0.4s; transition: height 0.4s opacity 0.4s;border-bottom:1px solid #909090;  }
#UIF_HeaderWrap_C { width:100%; height:57px; border-top:1px solid #909090; border-bottom:1px solid #909090; }

#UIF_HeaderWrap_A > .HeaderWrap_Inner { position:relative; width:1100px; height:34px; margin:0 auto; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s; }
#UIF_HeaderWrap_B > .HeaderWrap_Inner { position:relative; width:1100px; margin:0 auto; }
#UIF_HeaderWrap_C > .HeaderWrap_Inner { position:relative; width:1100px; margin:0 auto; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s; }


#UIF_HeaderWrap_Root.ScrollC_ON #UIF_HeaderWrap_B {
	height:0;
	opacity:0;
	overflow:hidden;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	transition-delay: 0.2s; 
}
#UIF_HeaderWrap_Root.ScrollC_ON #UIF_HeaderWrap_C { box-shadow:0 2px 2px rgba(0,0,0,0.2); -webkit-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s; }
#UIF_HeaderWrap_Root.ScrollC_ON #UIF_HeaderWrap_C .downLogo { opacity:1; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s; }
#UIF_HeaderWrap_Root.ScrollC_ON #UIF_HeaderWrap_C .MenuAll { left:50px; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s; }

#UIF_LayoutWrap { margin:0 auto; width:1100px; margin-top:231px;}
	#UIF_ContentsWrap { position:relative; }
	#UIF_ContentsWrap #UIF_Contents { position:relative; }

	#banner { position:absolute; top:0; left:-95px; width:90px; display:none; }
	#quick,
	#quick_fixed { position:absolute; top:20px; left:25px; width:70px; }

#UIF_CommWrap { background:#f3f3f3; margin-top:50px; }
#UIF_BannerWrap { background:#f3f3f3; }
#UIF_FooterWrap { position:relative; background:#909090; }
.UIF_InnerWrap { position:relative; margin:0 auto; padding:50px 0; width:1100px; text-align:center; }
.UIF_LayoutUpWrap { margin:0 -20px; } /* width 1140으로 확장 */
.overflowhidden { overflow:hidden !important; }

/*************************************************/
/* 우측 메뉴 */
/*************************************************/
#UIF_RightArea { position:fixed; top:0; right:0; height:100%; width:180px; background:#000; z-index:190; }
#UIF_RightArea {
	visibility: visible;
	-ms-transform: translate(95%, 0);
	-moz-transform: translate3d(95%, 0, 0);
	-o-transform: translate3d(95%, 0, 0);
	-webkit-transform: translate3d(95%, 0, 0);
	transform: translate3d(95%, 0, 0);
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
#UIF_RightArea.RightOpen {
	visibility: visible;
	-ms-transform: translate(0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
#UIF_RightArea .RightAreaBtn { position:absolute; display:block; width:20px; height:40px; top:calc(50% - 20px); left:-20px; background:#000; color:#fff; cursor:pointer; border-radius:3px 0 0 3px; }
#UIF_RightArea .RightAreaBtn::before { display:block; height:40px; line-height:40px; font-size:20px; text-align:center; content: "\f104"; font-family:'FontAwesome'; }
#UIF_RightArea .RightAreaBtn:hover { background:#eda641; box-shadow:-1px 1px 2px rgba(0,0,0,0.2); }
#UIF_RightArea.RightOpen .RightAreaBtn::before { content: "\f105"; font-family:'FontAwesome'; }

#UIF_RightArea .Right_Myinfo { position:relative; margin:20px 25px 15px 25px; font:11px Verdana,Dotum,AppleGothic,'Nanum Gothic','Nixie One','FontAwesome',sans-serif; }
#UIF_RightArea .Right_Myinfo li { margin:5px 0; }
#UIF_RightArea .Right_Myinfo li a { display:block; padding:5px; border:1px solid #909090; text-align:center; text-decoration:none; font-size:11px; }
#UIF_RightArea .Right_Myinfo li a:hover { background:#909090; color:#000; }

#UIF_RightArea .Right_Cash { position:relative; margin:0 25px 15px 25px; border:1px solid #909090; font:11px Verdana,Dotum,AppleGothic,'Nanum Gothic','Nixie One','FontAwesome',sans-serif; }
#UIF_RightArea .Right_Cash li { margin:5px; }
#UIF_RightArea .Right_Cash li a { display:block; padding:5px; text-align:left; text-decoration:none; font-size:11px; }
#UIF_RightArea .Right_Cash li a:hover { background:#909090; color:#000; }
#UIF_RightArea .Right_Cash li a span { color:#fff; }

#UIF_RightArea .Right_Recent { position:relative; margin:20px 25px; }
#UIF_RightArea .UIF_Recent2 { width:130px; text-align:center; margin-bottom:20px; }
#UIF_RightArea .UIF_Recent2 h2 a { display:block; height:20px; line-height:20px; font-size:11px; font-weight:normal; color:#909090; }
#UIF_RightArea .UIF_Recent2 ul { width:130px; margin:7px auto; padding:15px 0; border-top:1px solid #909090; border-bottom:1px solid #909090; }
#UIF_RightArea .UIF_Recent2 li { padding:5px 0; }
#UIF_RightArea .UIF_Recent2 li a { display:block; color:#909090; font-size:11px; background:#fff; }
#UIF_RightArea .UIF_Recent2 li img { width:130px; }
#UIF_RightArea .UIF_Recent2 p { color:#909090; }
#UIF_RightArea .UIF_Recent2 p:hover { color:#fff; }
#UIF_RightArea .UIF_Recent2 span.more a {
	margin-top:10px;
	padding:3px 0;
	width:100%;
	text-align:center;
	border-radius:0;
}
#UIF_RightArea .Right_Info { position:relative; margin:0 25px 7px 25px; padding:10px 5px; border:1px solid #909090; color:#fff; font:11px Verdana,Dotum,AppleGothic,'Nanum Gothic','Nixie One','FontAwesome',sans-serif; }
#UIF_RightArea .Right_Info h4 { font-weight:normal; color:#eda641; }
#UIF_RightArea .Right_Info section { padding-top:10px; }
#UIF_RightArea .Right_Info section p.sect { padding-top:7px; }
#UIF_RightArea .Right_Info section span { display:inline-block; width:30px; }

/* 탑 링크 */
#UIF_RightArea .UIF_TopLink { position:absolute; display:block; bottom:5px; left:-65px; width:60px; height:60px; font-size:36px; background:rgba(255,255,255,0.7); border-radius:3px; text-decoration:none; opacity:0; -webkit-transition: opacity 0.4s; -moz-transition: opacity 0.4s; transition: opacity 0.4s; }
#UIF_RightArea .UIF_TopLink::before { position:absolute; display:block; top:0; left:0; width:60px; height:60px; line-height:60px; text-align:center; color:#909090; }
#UIF_RightArea .UIF_TopLink:hover::before { color:#000; }
#UIF_RightArea .UIF_TopLink title { display:none; }
#UIF_RightArea .UIF_TopLink.LinkView { opacity:1; -webkit-transition: opacity 0.4s; -moz-transition: opacity 0.4s; transition: opacity 0.4s; }

/*************************************************/
/* 전체 메뉴 */
/*************************************************/
#UIF_PushMenu {
	position:fixed;
	width:100%;
	left:0;
	height:100%;
	top:-100%;
	z-index:200;
	overflow:hidden;
	overflow-y:auto;
	font-size:1.1em;
	/*background:rgba(255,255,255,0.7);*/
	background:none;
}
#UIF_PushMenu.UIF_PushMenu-open { top:0 !important; }
#UIF_PushMenu {
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.UIF_PushMenu_Wrap {
	position:relative;
	height:auto;
	background:rgba(0,0,0,0.85);
}
.UIF_PushMenu_innerWrap {
	position:relative;
	padding:15px 50px 30px 50px;
	margin:0 auto;
	width:1200px;
}
.UIF_PushMenu_Title { position:relative; text-align:center; }
.UIF_PushMenu_Title a {
	display:inline-block;
	padding:15px 20px;
	font-size:32px;
	color:#fff;
	line-height:32px;
	font-family: 'Nixie One','Nanum Gothic',Verdana,Dotum,AppleGothic,'FontAwesome',sans-serif;
	text-decoration:none;
	border-radius:3px;
}
.UIF_PushMenu_Title a:hover { background:#909090; }
.UIF_PushMenu_Title > span.topclose {
	position:absolute;
	display:inline-block;
	top:17px;
	right:0;
	padding:6px 7px;
	border:1px solid #767676;
	font-family:'FontAwesome';
	font-size:14px;
	line-height:14px;
	color:#767676;
	cursor:pointer;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.UIF_PushMenu_Title > span.topclose:hover {
	border-color:#f3f3f3;
	color:#f3f3f3;
}
.UIF_PushMenu_Contents {
	position:relative;
	display:inline-block;
	font-size:0;
	line-height:0;
	padding-top:15px;
}
.UIF_PushMenu_Button {
	margin-top:20px;
	padding-top:30px;
	text-align:center;
	border-top:1px dotted #f3f3f3;
}
.UIF_PushMenu_Button button {
	font-family: 'Nanum Gothic','Nixie One','FontAwesome',Verdana,Dotum,AppleGothic,sans-serif;
	padding:20px 40px;
	background:none;
	color:#f3f3f3;
	outline:none;
	border-radius:3px;
}
.UIF_PushMenu_Button button::before { padding-right:5px; }
.UIF_PushMenu_Button button:hover { background:#909090; }
.UIF_PushMenu_Contents ul.CateAll_1 li.CateAll_1_Sub,
.UIF_PushMenu_Contents ul.GroupAll,
.UIF_PushMenu_Contents ul.BannerAll {
	float:left;
	position:relative;
	font-size:0;
	line-height:0;
	vertical-align:top;
}
.UIF_PushMenu_Contents ul.CateAll_1 li.CateAll_1_Sub,
.UIF_PushMenu_Contents ul.GroupAll {
	width:196px;
	max-height:200px;
	min-height:200px;
	position:relative;
	background:#ffffff;
	margin:2px;
	border:0;
	padding:0;
	overflow:hidden;
}
.UIF_PushMenu_Contents ul.BannerAll {
	width:190px;
	min-height:194px;
	position:relative;
	background:none;
	margin:2px;
	border:0;
	padding:0;
	border:3px solid #ffffff;
	overflow:hidden;
}	
.UIF_PushMenu_Contents ul.CateAll_1 a,
.UIF_PushMenu_Contents ul.GroupAll a { 
	display:block;
	font-size:11px;
	line-height:14px;
	padding:3px 10px;
	text-decoration:none;
	font-weight:normal;
}
.UIF_PushMenu_Contents ul.CateAll_1 .CateAll_1_Sub > a { padding:5px 10px; background:#909090; color:#f3f3f3; }
.UIF_PushMenu_Contents ul.CateAll_1 .CateAll_1_Sub > a:hover { background:#000; color:#fff; }
.UIF_PushMenu_Contents ul.CateAll_1 .CateAll_2_Sub > a { color:#1c1a18; }
.UIF_PushMenu_Contents ul.CateAll_1 .CateAll_3_Sub > a { color:#909090; padding-left:20px; }
.UIF_PushMenu_Contents ul.CateAll_1 .CateAll_4_Sub > a { color:#d3c0b4; padding-left:30px; }
.UIF_PushMenu_Contents ul.CateAll_1 a:hover,
.UIF_PushMenu_Contents ul.GroupAll a:hover { background:#1c1a18; color:#fff; }
.UIF_PushMenu_Contents ul.GroupAll a { background:#fff; color:#909090; }
.UIF_PushMenu_Contents ul.GroupAll a:hover { background:#1c1a18; color:#fff; }
.UIF_PushMenu_Contents ul.GroupAll li { margin:0; padding:0; }
.UIF_PushMenu_Contents ul.GroupAll li.Title a { font-size:12px; line-height:14px; padding:5px 10px; background:#c7c7c7; color:#1c1a18; }
.UIF_PushMenu_Contents ul.GroupAll li.Title a:hover { background:#1c1a18; color:#fff; }

.UIF_PushMenu_Title a,
.UIF_PushMenu_Button button,
.UIF_PushMenu_Contents ul.CateAll_1 a,
.UIF_PushMenu_Contents ul.GroupAll a { 
	-webkit-transition: all 0.15s;
	-moz-transition: all 0.15s;
	transition: all 0.15s;
}
.BasketCount { color:#ef4d27; }
.Seper { margin-top:5px; }

.UIF_PushMenu_Contents ul.BannerAll div {
	font-size:11px;
	line-height:14px;
	margin:10px;
	color:#fff;
}
.UIF_PushMenu_Contents ul.BannerAll h4 { position:relative; padding-top:50px; text-align:center; font-size:14px; color:#f3f3f3; }
.UIF_PushMenu_Contents ul.BannerAll h4::before { position:absolute; font-size:40px; line-height:40px; left:calc(50% - 20px); top:8px; color:#f3f3f3; }
.UIF_PushMenu_Contents ul.BannerAll section { margin-top:20px; text-align:center; }

/*
.UIF_PushMenu_Contents ul.CateAll_3 > li > a::before {
	content: "\f105";
	font-weight:normal;
}

*/
/*
@media screen and (max-width: 55.1875em){
	.UIF_PushMenu { font-size: 75%; height: 110px; }
	.UIF_PushMenu-top { top: -110px; }
}
*/


/*************************************************/
/* 최상단 로그인 메뉴 */
/*************************************************/
#UIF_Topmenu { position:absolute; bottom:5px; right:0; }
nav.UIF_Topmenu ul { font-size:10px; }
nav.UIF_Topmenu li {
	display:inline-block;
	margin-left:5px;
}
nav.UIF_Topmenu li a {
	display:inline-block;
	position:relative;
	color:#909090;
	height:24px;
	line-height:24px;
	font-size:10px;
	padding:0 5px;
	border-radius:2px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
nav.UIF_Topmenu li a:hover {
	background:rgba(0,0,0,0.2);
	color:#fff;
	text-decoration:none;
}
nav.UIF_Topmenu li a span {
	height:24px;
	line-height:24px;
	font-size:10px;
}
nav.UIF_Topmenu li a span.txt {
	padding-left:3px;
}


/*************************************************/
/* 유틸리티 메뉴 */
/*************************************************/
#UIF_Utilmenu { position:absolute; bottom:5px; left:15px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
nav.UIF_Utilmenu .Utilmenu_Inner { 
	font-size:10px;
	/*background:rgba(157,153,149,0.2);*/
}
nav.UIF_Utilmenu .Utilmenu_Inner::before { position:absolute; height:24px; line-height:24px; padding:0 5px; font-size:10px; top:-1px; left:-15px; color:#909090; font-family:'FontAwesome',Verdana,Dotum,AppleGothic,'Nanum Gothic'; }
nav.UIF_Utilmenu div,
nav.UIF_Utilmenu ul {
	display:inline-block;
	position:relative;
}
nav.UIF_Utilmenu li {
	display:inline-block;
}
nav.UIF_Utilmenu li a {
	display:inline-block;
	color:#909090;
	height:24px;
	line-height:24px;
	padding:0 5px;
	border-radius:2px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
	cursor:pointer;
}
nav.UIF_Utilmenu li a strong { color:#000; }
nav.UIF_Utilmenu li a span.BasketCount { color:#ef4d27; }
nav.UIF_Utilmenu li a:hover { color:#fff; background:rgba(0,0,0,0.2); text-decoration:none; }
nav.UIF_Utilmenu li a:hover strong { color:#fff; }
nav.UIF_Utilmenu li:first-child { padding-left:10px; }
nav.UIF_Utilmenu li:last-child { padding-right:10px; }

nav.UIF_Utilmenu .MultiShop {
	display:none;
	position:absolute;
	top:0;
	left:103px;
	width:100%;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
	border-left:2px solid #909090;
}
nav.UIF_Utilmenu .MultiShop li { 
	display:block;
	color:#909090;
	padding:0;
	margin:0;
}
nav.UIF_Utilmenu .MultiShop li img,
nav.UIF_Utilmenu .MultiShop li span { display:inline-block; }
nav.UIF_Utilmenu .MultiShop li img { width:20px; vertical-align:middle; }
nav.UIF_Utilmenu .MultiShop li.selected {  }
nav.UIF_Utilmenu .MultiShop li a {
	display:inline-block;
	color:#909090;
	height:24px;
	line-height:24px;
	padding:0 5px;
	border-radius:0 2px 2px 0;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}
nav.UIF_Utilmenu .MultiShop li a:hover { 
	color:#f3f3f3;
	background:rgba(0,0,0,0.8);
	text-decoration:none;
}
nav.UIF_Utilmenu .MultiShopLink:hover .MultiShop { display:block; }


/*************************************************/
/* 로고 영역 */
/*************************************************/
.orgLogo { padding:20px 0; float:left; width:300px}
.topsearch { padding:20px 0; float:left; width:500px; font-size:12px; color:#2e2e2e; background:#fff;}
.topsearch fieldset { border:3px solid #dcdcdc; border-radius:2px;width:450px; height:32px;margin:18px 10px 0 0; padding:3px 5px 0 0; text-align:right; }
.topmenu { padding:20px 0; float:left;  position:absolute; top:25px; right:0;}
.topmenu a { text-decoration:none; }
/*************************************************/
/* 메뉴 카테고리 영역 */
/*************************************************/
.downLogo { position:absolute; top:12px; left:0; height:0;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	opacity:0;
	z-index:181;
}
.downLogo img { width:35px; }
#UIF_MenuWrap { position:relative; margin:0; height:59px; }
#UIF_MenuWrap h2 { font-size:0; width:0; height:0; line-height:0; }
.MenuAll { 
	position:absolute;
	top:calc(50% - 20px);
	left:0;
	outline:none;
	cursor:pointer;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	z-index:182;
}
.MenuAll::before {
	font-family:'FontAwesome';
	display:inline-block;
	width:40px;
	height:40px;
	font-size:24px;
	text-align:center;
	line-height:40px;
	background:#909090;
	color:#fff;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.MenuAll:hover::before { background:#000000; }

/* 메뉴 */
/* set menu position; change here to set to relative or float, etc. */
.Category_Menu {
	display: block;
	z-index: 183;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
	text-transform: capitalize;
	border:0;
}
.Category_Menu h2 { font-size:0; width:0; height:0; line-height:0; }
/* first level menu items */
.Category_Menu > li {
	display: inline-block;
	margin: 0 2em;
	position: relative;
}
.Category_Menu > li > a {
	line-height: 4em;
	padding: 0 0.3em;
	font-size: 1.2em;
	display: block;
	color: #909090;
	text-decoration:none;
}
.Category_Menu > li > a:hover,
.Category_Menu > li > a:active {
	color:#e8c763;
}
/* sumbenu with transitions */
.Category_Submenu {
	position: absolute;
	display: block;
	visibility: hidden;
	opacity: 0;
	padding: 0;
	text-align: center;
	z-index: 185;
	pointer-events: none;
	-webkit-transition: visibility 0s, opacity 0s;
	-moz-transition: visibility 0s, opacity 0s;
	transition: visibility 0s, opacity 0s;
}
.Category_Show .Category_Submenu {
	width: 12em;
	left: 50%;
	margin: 0 0 0 -6em;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	-webkit-transition: visibility 0s, opacity 0.3s;
	-moz-transition: visibility 0s, opacity 0.3s;
	transition: visibility 0s, opacity 0.3s;
}
.Category_Show_Above .Category_Submenu {
	bottom: 48px;
	padding-bottom: 10px;
}
.Category_Show_Below .Category_Submenu {
	top: 48px;
	padding-top: 10px;
}
/* extreme cases: not enough space on the sides */
.Category_Nospace_Right .Category_Submenu {
	right: 0;
	left: auto;
}
.Category_Nospace_Left .Category_Submenu {
	left: 0;
}
/* last menu item has to fit on the screen */
.Category_Menu > li:last-child .Category_Submenu {
	right: 0;
}
/* 	
arrow: depending on where the menu will be shown, we set 
the right position for the arrow
*/
.Category_Submenu:after {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.Category_Show_Above .Category_Submenu:after {
	top: 100%;
	margin-top: -10px;
}
.Category_Show_Below .Category_Submenu:after {
	bottom: 100%;
	margin-bottom: -10px;
}
.Category_Submenu:after {
	border-color: transparent;
	border-width: 16px;
	margin-left: -16px;
	left: 50%;
}
.Category_Show_Above .Category_Submenu:after {
	border-top-color: #606060;
}
.Category_Show_Below .Category_Submenu:after {
	border-bottom-color: #606060;
}
.Category_Submenu > li {
	display: block;
	background: #606060;
}
.Category_Submenu > li > a {
	padding: 7px 0; /* top/bottom paddings in 'em' cause a tiny "jump" in Chrome on Win */
	display: block;
	font-size: 1.2em;
	position: relative;
	color: #fff;
	border: 4px solid #606060;
	text-decoration:none;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}
.Category_Submenu > li > a:hover,
.Category_Submenu > li > a:active {
	color: #fff;
	background: #000;
}
/* the icons (main level menu icon and sublevel icons) */
.Category_Submenu li a:before,
.Category_Menu > li > a:before {
	font-family: 'FontAwesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: middle;
	margin-right: 0.6em;
	-webkit-font-smoothing: antialiased;
}
.Category_Submenu li a:before {
	position: absolute;
	top: 50%;
	margin-top: -0.5em;
	right: 0.5em;
}
.Category_Menu > li > a:not(:only-child):before {
	content: "\f078";
	font-size: 100%;
	opacity: 0.3;
}

/* Media Queries 
@media screen and (max-width: 55.6875em) {
	.Category_Menu {
		font-size: 80%;
	}
}
@media screen and (max-height: 25.25em), screen and (max-width: 44.3125em) {
	.Category_Menu {
		font-size: 100%;
		position: relative;
		text-align: center;
		padding: 0;
		top: auto;
	}
	.Category_Menu > li {
		display: block;
		margin: 0;
		border-bottom: 4px solid #3793ca;
	}
	.Category_Menu > li:first-child {
		border-top: 4px solid #3793ca;
	}
	li.Category_Show > a,
	.Category_Menu > li > a:hover,
	.Category_Menu > li > a:active {
		color: #fff;
		background: #02639d;
	}
	.Category_Submenu {
		position: relative;
		display: none;
		width: 100%;
	}
	.Category_Submenu > li {
		padding: 0;
	}
	.Category_Submenu > li > a {
		padding: 0.6em 2.3em 0.6em 0.6em;
		border: none;
		border-bottom: 2px solid #6fbbe9;
	}
	.Category_Submenu:after {
		display: none;
	}
	.Category_Menu .Category_Show .Category_Submenu {
		display: block;
		width: 100%;
		left: 0;
		margin: 0;
		padding: 0;
	}
}*/

/* 검색 */
.UIF_SearchBar {
	position: absolute;
	top:calc(50% - 20px);
	right:0;
	width:40px;
	min-width:40px;
	height:40px;
	float:right;
	overflow:hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility:hidden;
}

.UIF_SearchBar input[type=text] {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: #f3f3f3;
	width: 350px;
	height: 20px;
	margin: 0;
	z-index: 10;
	padding: 10px 50px 10px 10px;
	font-size: 14px;
	color: #909090;
}

.UIF_SearchBar input[type=text]::-webkit-input-placeholder {
	color: #909090;
}

.UIF_SearchBar input[type=text]:-moz-placeholder {
	color: #909090;
}

.UIF_SearchBar input[type=text]::-moz-placeholder {
	color: #909090;
}

.UIF_SearchBar input[type=text]:-ms-input-placeholder {
	color: #909090;
}

.UIF_SearchBar-icon,
.UIF_SearchBar-submit  {
	padding:0;
	width:40px;
	height:40px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	text-align: center;
	line-height:40px;
	cursor: pointer;
	font-family:'FontAwesome',Verdana,Dotum,AppleGothic,'Nanum Gothic';
}

.UIF_SearchBar-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

.UIF_SearchBar-icon {
	color: #909090;
	background: #ffffff;
	z-index: 90;
	font-size: 24px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.UIF_SearchBar-icon:hover {
	color:#000;
}

/* Open state */
.UIF_SearchBar.UIF_SearchBar-open,
.no-js .UIF_SearchBar {
	width: 50%;
}

.UIF_SearchBar.UIF_SearchBar-open .UIF_SearchBar-icon,
.no-js .UIF_SearchBar .UIF_SearchBar-icon {
	background: #909090;
	color: #f3f3f3;
	z-index: 11;
}

.UIF_SearchBar.UIF_SearchBar-open .UIF_SearchBar-submit,
.no-js .UIF_SearchBar .UIF_SearchBar-submit {
	z-index: 90;
}

/*************************************************/
/* 우측 날개 영역 (최근본 상품 + 배너) */
/*************************************************/
.UIF_Recent { width:70px; text-align:center; margin-bottom:20px; }
.UIF_Recent h2 a { display:block; height:20px; line-height:20px; font-size:12px; font-weight:normal; color:#909090; }
.UIF_Recent ul { width:70px; margin:7px auto; padding:15px 0; border-top:1px solid #909090; border-bottom:1px solid #909090; }
.UIF_Recent li { padding:5px 0; }
.UIF_Recent li a { display:block; color:#909090; font-size:11px; background:#fff; }
.UIF_Recent li img { width:70px; }
.UIF_Recent p { color:#909090; }
.UIF_Recent p:hover { color:#000; }
.UIF_Recent span.more a {
	margin-top:10px;
	padding:3px 0;
	width:100%;
	text-align:center;
}
.WingBanner { width:70px; text-align:center; }
.WingBanner ul { width:100%; overflow:hidden; }
.WingBanner li { display:block; margin-bottom:10px; }

/*************************************************/
/* 메인 */
/*************************************************/
/* 메인배너 및 공지사항 */
.MainBannerNotice { position:relative; width:1100px; margin:0 auto 5px auto; overflow:hidden; }
.MainBannerNotice .moviebanner { float:left; width:795px; height:420px; }
.MainBannerNotice .banner_right { float:left; width:290px; height:400px; margin-left:14px; }
.MainBannerNotice .banner_wide { margin-top:20px;float:left; width:1100px; height:150px;}
.main_weekly {margin-top:20px; height:600px;}
.main_weekly ul li{float:left;padding:10px 10px 10px 10px}
.main_all {margin-top:40px;}
.main_all ul li{float:left;padding:10px 15px 10px 15px;}
.main_all ul li img{ width:330px; height:330px;}

/* 메인 상품 롤링 */
.UIF_ProductWrap_Slick { position:relative; width:1100px; margin:0 auto; clear:both; height:250px;}
.ProductList_Slick { position:relative; margin:0 -10px;  }
.ProductList_Slick li { float:left; }
.ProductList_Slick .Item_Slick { position:relative;padding:10px; text-decoration:none; outline:none; overflow:hidden; }
.ProductList_Slick .ImgBox_Slick { position:relative; overflow:hidden; }

/* 4개씩 보일 경우 260px , 5개씩 204px */ 
.ProductList_Slick .Item_Slick,
.ProductList_Slick .ImgBox_Slick,
.ProductList_Slick .ImgBox_Slick .Thumb { width:204px; height:204px; }
.ProductList_Slick .Item_Slick .InfoBox_Slick { width:204px; }

/* 4개 .ImgBox_Slick .SaleRate_Mark { top:8px; left:8px; width:70px; height:70px; line-height:70px; font-size:20px; }*/
/* 5개 */.ImgBox_Slick .SaleRate_Mark { top:6px; left:6px; width:60px; height:60px; line-height:60px; font-size:18px; }

.ProductList_Slick a { text-decoration:none; outline:none !important; }
.ProductList_Slick .ImgBox_Slick::after {
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:#1A1111;
	opacity:0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}
.ProductList_Slick .Item_Slick:hover .ImgBox_Slick::after { opacity:0.5; }

.ProductList_Slick .Item_Slick .InfoBox_Slick { 
	position:absolute;
	top:22%;
	left:0;
	padding:0 10px;
	opacity:0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	cursor:pointer;
}
.ProductList_Slick .Item_Slick:hover .InfoBox_Slick { opacity:1; }
.ProductName_Slick { padding:20px 0 10px; text-align:center; width:100%; }
.ProductItemBox_Slick { position:relative; text-align:center; }
.ProductItemBox_Slick p { padding:4px 0; }
.ProductItemBox_Slick p span img { display:inline-block; }

/* 메인 와이드 배너 */
.WideBanner_Slick { width:1100px; margin:20px auto 90px auto; padding:0; }
.WideBanner_Slick img { width:100%; }

/* 메인 와이드 배너 */
.WideBanner_Parallax {
	position:relative;
	background: url("/UI_FANDANGO/img/widebanner03.jpg") 50% 50% no-repeat fixed;
	height:200px;
	width:1100px;
	margin:20px auto 40px auto;
	padding:0;
}
.WideBanner_Parallax .Wcopy {
	display:block;
	padding:0 30px;
	text-align:right;
	line-height:200px;
	font-size:24px;
	font-family:'Julius Sans One',Verdana,Dotum,AppleGothic;
	color:#fff;
}

/*************************************************/
/* 서브메인 이미지 및 타이틀 영역 */
/*************************************************/
.subimgArea { margin:20px 0; text-align:center; }
.subtitleWrap { position:relative; margin:0 20px; }

/*************************************************/
/* 경로탐색 */
/*************************************************/
.path { position:absolute; top:5px; right:20px; height:30px; line-height:30px; *zoom:1; z-index:10; }
.path span { overflow:hidden; position:absolute; width:0; height:0; white-space:nowrap; text-indent:100%; }
.path ol { float:right; }
.path li { float:left; padding-left:10px; color:#909090; }
.path li::before { padding-right:5px; vertical-align:middle; }
.path li a { color:#909090; text-decoration:none; font-size:11px; }
.path li:hover,
.path li:hover a { color:#000000; }

/*************************************************/
/* 타이틀 */
/*************************************************/
.titleArea { position:relative; margin:20px 0; }
.titleArea h2 { display:inline-block; font-family: 'Nixie One','Nanum Gothic','FontAwesome',Verdana,Dotum,AppleGothic,sans-serif, cursive; font-size:36px; height:42px; font-weight:normal; }
.titleArea h2.uif_pd_title { padding-top:40px; font-size:30px; height:30px; max-width:80%; }
.titleArea p.desc { }
.AddStyle { padding-bottom:10px; }
.AddStyle_UnderLine { margin:20px 0 0 0; padding-bottom:20px; border-bottom:1px solid #909090; }
.titleArea ul { padding:5px 0; }
.titleArea ul li { font-size:12px; color:#000000; }
.titleArea ul li::before { content: "\f058"; padding-right:5px; }

.titleArea .banner { }
.titleArea .delivery { display:inline-block; padding-top:46px; vertical-align:top; }
.titleArea .icon { display:inline-block; padding-top:46px; vertical-align:top; }
/*
.xans-product-menupackage .title { min-height:30px; margin:10px 0 20px; }
.xans-product-menupackage .title .banner { }
.xans-product-menupackage .title h2 { padding:0 0 0 12px; color:#4a5164; font-size:16px;  *zoom:1; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_heading.gif") 0 2px no-repeat; }
*/
/*************************************************/
/* 이용안내 */
/*************************************************/
.help { margin:40px 0 0; border:1px solid #909090; line-height:18px; }
.help h3 { padding:9px 0 6px 10px; border-bottom:1px solid #f3f3f3; color:#353535; font-size:12px; background:#f3f3f3; }
.help .content { padding:0 9px 12px; }
.help .content h4 { margin:22px 0 -4px; color:#000; font-size:12px; font-weight:normal; }
.help .content h4:first-child { margin-top:13px; }
.help .content p { margin:15px 0 0 10px; color:#757575; }
.help .content ul { margin:15px 0 0 11px; }
.help .content li { padding:0 0 0 25px; color:#757575; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_number.png") no-repeat; }
.help .content li.item1 { background-position:-484px 0; }
.help .content li.item2 { background-position:-434px -100px; }
.help .content li.item3 { background-position:-384px -200px; }
.help .content li.item4 { background-position:-334px -300px; }
.help .content li.item5 { background-position:-284px -400px; }
.help .content li.item6 { background-position:-234px -500px; }
.help .content li.item7 { background-position:-184px -600px; }
.help .content li.item8 { background-position:-134px -700px; }
.help .content li.item9 { background-position:-84px -800px; }
.help .content li.item10 { background-position:-34px -900px; }

/*************************************************/
/* 하단 풋터 */
/*************************************************/
.UIF_FooterWrap ul.FooterUtil { padding:20px 0; border-bottom:1px solid #aca7a3; }
.UIF_FooterWrap ul.FooterUtil li { display:inline-block; padding-left:25px; }
.UIF_FooterWrap ul.FooterUtil li a { color:#ffffff; text-decoration:none; }
.UIF_FooterWrap ul.FooterUtil li a:hover { color:#ffffff; }
.UIF_FooterWrap ul.FooterUtil li a::before { padding-right:3px; text-decoration:none; font-size:1px !important; vertical-align:middle; }
.UIF_FooterWrap ul.FooterUtil li a::after { content:"|"; font-size:11px; vertical-align:middle; padding-left:24px; }
.UIF_FooterWrap ul.FooterUtil li:first-child,
.UIF_FooterWrap ul.FooterUtil li:last-child a::after { content:""; padding-left:0; }

.UIF_FooterWrap .ComInfo { padding:20px 0; color:#ffffff; }
.UIF_FooterWrap .ComInfo ul { padding:2px 0; }
.UIF_FooterWrap .ComInfo li { display:inline; padding:0 5px; }
.UIF_FooterWrap .ComInfo li a { color:#ffffff; }
.UIF_FooterWrap .copyright { color:#f3f3f3; }

/* 게시판 메인 */
.boardMain { overflow:hidden; *zoom:1; }
.boardMain td img { vertical-align:middle; margin:1px; }
.boardMain .board { margin:0 0 65px; }
.boardMain .leftArea { float:left; width:50%; }
.boardMain .leftArea .board { margin:0 23px 65px 0; }
.boardMain .rightArea { float:right; width:50%; }
.boardMain .rightArea .board { margin:0 0 65px 23px; }
 
/* 퀵뷰 모달 */
#modalBackpanel { display:none; position:absolute; top:0; left:0; z-index:10000; width:100%; height:100%; background:#000; }
#modalContainer { display:none; position:absolute; top:100px; left:100px; z-index:10001; width:975px; height:720px; border:1px solid #333; background:#fff; }
#modalContainer #modalContent { width:100%; height:100%; }

/* 관리자 레이어팝업 기능 레이어 위치 조정 */
div[id^="popup_"] { z-index:500 !important; }