@charset "utf-8";

/* 내용관리 */
#ctt {}
.ctt_admin {margin:0 5px;text-align:right}
#ctt header h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#ctt_con {padding:10px 30px;line-height:1.5em}
.ctt_img {text-align:center}
#ctt_con img{max-width:100%;height:auto}

@media (max-width: 640px){
    #ctt_con {padding:10px 20px;}

}