@charset "utf-8";

/*메인배너*/
#main_bn{position:relative;float:left;width:900px;max-height:500px;overflow:hidden;}
#main_bn img{height:auto;width:100%;}
#main_bn .owl-prev{position:absolute;top:50%;left:0;z-index:9;margin-top:-35px;;width:50px;height:70px;background:url('img/pv_btn_3.png') no-repeat 50% 50%;text-indent:-999px;overflow:hidden;opacity:0.5}
#main_bn .owl-next{position:absolute;top:50%;right:0;z-index:9;margin-top:-35px;width:50px;height:70px;background:url('img/nx_btn_3.png') no-repeat 50% 50%;text-indent:-999px;overflow:hidden;opacity:0.5}
#main_bn .owl-next:hover,#main_bn .owl-prev:hover{opacity:1}
#main_bn .owl-pagination{z-index:10;position:absolute;bottom:10px;text-align:center;width:100%}
#main_bn .owl-page{width:40px;height:4px;background:#fff;display:inline-block;margin:3px;}
#main_bn .active{background:#333}

/*이벤트*/
.idx_ev h2 {display:inline-block;font-size:1em;margin:10px;color:#fff;background:#EC4254;padding:5px 10px}
#sev{padding-top:20px;}
#sev:after{display:block;visibility:hidden;clear:both;content:""}
#sev li{margin-bottom:10px;width:100%;}
#sev img{width:100%;height:auto}

@media (max-width: 1200px){
	#main_bn{width:100%;max-height:100%}
    #main_bn img{width:100%;height:auto}
    
    #sev{padding-top:0}
	#sev li{width:100%;float:left}
	#sev img{width:100%;height:auto}
}

@media (max-width: 970px){
	#sev{padding-top:0}
	#sev li{width:50%;float:left}
	#sev img{width:100%;height:auto}
	
    #gnb_bnner{display:none}
    #main_bn{width:100%;}
    #main_bn img{width:100%;height:auto}	
}

@media (max-width: 640px){
	#main_bn{width:100%;}
	#sev li{width:100%;}
}

.side_bn{margin-top:20px;background:pink}
.side_bn .owl-buttons{/*display:none;*/width:100%;}
.side_bn .owl-buttons .owl-prev{position:absolute;top:250px;left:0;}
.side_bn .owl-buttons .owl-next{position:absolute;top:250px;right:0;}
.side_bn:hover .owl-buttons{display:block}

/*오늘본상품 */
#stv_list{position:static !important;}
#stv_list li:after{display:block;visibility:hidden;clear:both;content:""}
#stv_ul{border-top:1px solid #e6e6e6;text-align:left;}
#stv_ul li{border-bottom:1px solid #e6e6e6;padding:10px 0}
.c2{display:none}
.stv_img{float:left;width:50%}
.stv_txt{float:left;width:50%;text-align:left;}
.stv_name{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.stv_pgwr{margin:10px 0; font-size:0.92em;position:relative;line-height:30px;}
.stv_name{margin:5px 0;font-weight:bold}
#up{position:absolute;top:0;left:0;width:60px;height:30px;border:1px solid #ddd;background:#fff}
#down{position:absolute;top:0;right:0;width:60px;height:30px;border:1px solid #ddd;background:#fff}
#up:hover,#down:hover{background:#f3f3f3}
.stv_pgwr i{color:#aaa}
.stv_no{color:#999;margin:100px 0 0}

/* ##### maint.(nn).skin.php, list.(nn).skin.php 공통 적용 시작 ##### */
/* 공통 */
.sct_wrap {margin:0 0 30px;zoom:1}
.sct_wrap:after {display:block;visibility:hidden;clear:both;content:""}
.sct_wrap header {margin:0 0 20px;zoom:1}
.sct_wrap header:after {display:block;visibility:hidden;clear:both;content:""}
.sct_wrap h2 a {text-decoration:none}
.sct_wrap h2 a:hover{color:#34b5a1}
.sct_wrap_hdesc {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}

.sct {margin: 0 ;padding:0;list-style:none;zoom:1;clear:both;}
.sct:after {display:block;visibility:hidden;clear:both;content:""}
.sct_li {position:relative;text-align:center}
.sct_noitem {padding:200px 0;color:#999;text-align:center}
.sct_icon img {margin:0 1px 0 0}
.sct_sns a {display:inline-block;margin:0 4px 0 0}
.sct_sns button {margin:0 4px 0 0;padding:0;border:0}

.mli_btn button{background:url(img/mainlist_btn.gif) no-repeat; width:30px; height:30px;border:none;text-indent:-9999px}
.mli_btn button.mli_pre{position:absolute;top:0;left:10px}
.mli_btn button.mli_next{background-position: -33px 0;position:absolute;top:0;right:10px}

/* 상품 목록 스킨 10 */
.sct_10{margin-bottom:40px;padding-top:20px;}
.sct_10 .sct_li {position:relative;float:left;padding:10px;margin-bottom:1px}
.sct_10 .sct_last {}
.sct_10 .sct_clear {clear:both;margin-left:0 !important}
.sct_10 .sct_a {display:block;text-decoration:none;text-overflow:ellipsis;overflow: hidden;white-space:nowrap;line-height:20px}
.sct_10 .sct_a img{width:100%;height:auto}
.sct_10 .sct_id {display:block;margin:0 0 5px}
.sct_10 .sct_basic {margin:0 0 10px}
.sct_10 .sct_cost {display:block;margin:0 0 5px;font-weight:bold;color:#467fff;font-size:0.92em}
.sct_10 .sct_cost strike {display:block;margin:0 0 5px;color:#999;font-weight:normal}
.sct_10 .sct_icon {margin:0 0 10px}
.sct_10 .sct_sns {margin:15px 0 0}
.sct_10 .sct_cont{padding:0 10px 10px}
.sct_10 .sct_cont .sct_txt{margin-bottom:5px;font-size:1.2em}
.sct_10 .sct_img{margin:0 0 5px ;position:relative}
.sct_10 .sct_img .sct_rvws{position:absolute;bottom:0;left:0;width:100%;background:#fff;background:rgba(255,255,255,0.8);color:#666;line-height:30px;transition: all 0.3s ease 0s;
-webkit-transition:  all 0.3s ease 0s;opacity:0}
.sct_10 .sct_icon_wr{padding-top:10px;border-top:1px solid #ddd}
.sct_10 .sct_li:hover .sct_img .sct_rvws{display:block;opacity:1}
.sct_10 .sct_ws,.sct_10 .sct_rv{display:inline-block;padding:0 5px;}
.sct_10 .sct_icon_wr img{margin:2px 1px}
.sct_10 .sct_btn{display:none}
.sct_10 li:hover .sct_btn{display:block;position:absolute;bottom:10px;left:0;width:100%;font-size:0}
.sct_10 .sct_btn .sct_cart_btn{margin:10px}
.sct_10 .sct_btn button{padding:10px 5px;width:40px;height:40px;border-radius:100px;background:#333;font-size:18px;color:#777;transition: all 0.2s ease;border:none;line-height:18px}
.sct_10 .sct_btn button.btn_cart{margin-right:1%;}
.sct_10 .sct_btn button:hover{background:#f2f2f2;color:#fff;border-color:#333}
.sct_10 .sct_btn button i{color:#fff}
.sct_10 .sct_btn button:hover i{color:#FC4C5E;}
.sct_10 .sct_cartop{display:none;position:absolute;top:0;left:0;width:100%;height:100%;background:#fff;background:rgba(255,255,255,0.7);padding:20px;text-align:left;margin-left:-1px}
.sct_10 .sct_cartop label{display:inline-block;margin-bottom:5px}
.sct_10 .sct_cartop select{margin-bottom:10px}
.sct_10 .sct_cartop .cartopt_cart_btn{background:#333;color:#fff;border:0;width:100%;padding:7px 0}
.sct_10 .sct_cartop .cartopt_close_btn{background:#fff;border:1px solid #aaa;margin-top:4px;color:#333;width:100%;padding:7px 0}
.li_more{text-align:center}
.li_more img{width:30px;margin:5px 0}
.li_more p{color:#aaa;margin-top:5px;display:none;}
.li_more button{background:#fff;border:3px double #e9e9e9;width:205px;padding:10px 0 ;font-size:0.917em;color:#797979;margin-top:15px}
.li_more button:hover{background:#993355;color:#fff;}

@media (max-width: 640px){
	.sct_10{padding-top:0}
    .sct_10 li:hover .sct_btn{display:none}
    .sct_10 .sct_li{width:50% !important;padding:5px}
    .sct_10 .sct_li:nth-child(2n+1){clear:both}
    .sct_10 .sct_clear{clear:none}
}

/* 상품 목록 스킨 20 */
.sct_20{border:1px solid #f1f1f1;margin:20px 0 40px 0;background:#fff}
.sct_20 li{position:relative;float:left;width:25%;padding:10px;border-left:1px solid #f1f1f1;border-bottom:1px solid #f1f1f1}
.sct_20 li .sct_img img{width:100%;height:auto}
.sct_20 li:after {display:block;visibility:hidden;clear:both;content:""}
.sct_20 .sct_txt{display:none;}
.sct_20 .sct_rank{position:absolute;top:10px;left:10px;display:inline-block;width:40px;height:40px;font-family:'Nanum Gothic',sans-serif;font-weight:bold;font-size:1.5em;line-height:40px;color:#000;border-bottom:2px solid #000;}
.sct_20 .sct_li_0,.sct_20 .sct_li_2,.sct_20 .sct_li_6{margin-left:-1px}
.sct_20 .sct_li_6,.sct_20 .sct_li_7,.sct_20 .sct_li_8,.sct_20 .sct_li_9{border-bottom:none}
.sct_20 .sct_li_0 .sct_rank{position:absolute;top:-5px;left:10px;width:48px;height:45px;background:url('img/20-best-ranking.png') no-repeat;text-indent:-9999px;border-bottom:none}
.sct_20 .sct_li_0,.sct_20 .sct_li_1{width:50%;}
.sct_20 .sct_li_0 .sct_txt,.sct_20 .sct_li_1 .sct_txt{display:block;width:50%;position:absolute;bottom:0;left:0;text-align:left;padding:10px;line-height:1.4em;}
.sct_20 .sct_li_0 .sct_img,.sct_20 .sct_li_1 .sct_img{float:right}
.sct_20 .sct_li_0 .sct_cost,.sct_20 .sct_li_1 .sct_cost{font-weight:bold;margin-top:10px}

@media (max-width: 640px){
	.sct_20{margin-top:0;}
    .sct_20 li{width:50%}
    .sct_20 .sct_li_0,.sct_20 .sct_li_1{width:50%;border-bottom:1px solid #e9ecef;border-left:1px solid #ddd}
    .sct_20 .sct_li_3{border-left:0}
}

/* 상품 목록 스킨 30 */
.sct_30{margin:20px 0 40px 0;background:#fff}
.sct_30 li{position:relative;float:left;width:100%;padding:12.8px 10px;border-left:1px solid #f1f1f1;border-bottom:1px solid #f1f1f1;text-align:left}
.sct_30 li img{float:left;width:20%;height:auto}
.sct_30 li:after {display:block;visibility:hidden;clear:both;content:""}
.sct_30 .sct_img{display:inline-block;float:left}
.sct_30 .sct_cont{float:left;margin-left:20px;}
.sct_30 .sct_txt{margin-bottom: 10px;font-size: 1.2em;}
.sct_30 .sct_rank{position:absolute;top:10px;left:10px;display:inline-block;width:40px;height:40px;font-family:'Nanum Gothic',sans-serif;font-weight:bold;font-size:1.5em;line-height:40px;color:#000;border-bottom:2px solid #000;}
.sct_30 .sct_li_0,.sct_30 .sct_li_2,.sct_30 .sct_li_6{margin-left:-1px}
.sct_30 .sct_li_6,.sct_30 .sct_li_7,.sct_30 .sct_li_8,.sct_20 .sct_li_9{border-bottom:none}
.sct_30 .sct_li_0 .sct_rank{position:absolute;top:-5px;left:10px;width:48px;height:45px;background:url('img/best-ranking.png') no-repeat;text-indent:-9999px;border-bottom:none}
.sct_30 .sct_li_0,.sct_30 .sct_li_1{width:50%;}
.sct_30 .sct_li_0 .sct_txt,.sct_30 .sct_li_1 .sct_txt{display:block;width:50%;position:absolute;bottom:0;left:0;text-align:left;padding:10px;line-height:1.4em;}
.sct_30 .sct_li_0 .sct_img,.sct_30 .sct_li_1 .sct_img{float:right}
.sct_30 .sct_li_0 .sct_cost,.sct_30 .sct_li_1 .sct_cost{font-weight:bold;margin-top:10px}

@media (max-width: 1200px){
    .sct_30 {margin-top:0px}
    .sct_30 li{padding: 9px 10px;}
}

@media (max-width: 640px){
    .sct_30 {margin-top:10px}
}

/* 관련상품 목록 스킨 10 */
#sit_rel{padding:20px;background:#fff;text-align:center;border:1px solid #ddd }
#sit_rel h2{text-align:center;color:#666;margin:10px 0}
#sit_rel .item img{width:100%;height:auto}
#sit_rel .item {padding:5px;}
#sct_relitem{padding:0 15px}
#sct_relitem .owl-prev{position:absolute;top:50%;left:0;margin-top:-8px;width: 0; height: 0; border-top: 8px solid transparent;border-bottom: 8px solid transparent;border-right: 10px solid #aaa;text-indent:-999px;overflow:hidden}
#sct_relitem .owl-next{ position:absolute;top:50%;right:0;margin-top:-8px;width: 0; height: 0; border-top: 8px solid transparent;border-bottom: 8px solid transparent;border-left: 10px solid #aaa;text-indent:-999px;overflow:hidden}
#sct_relitem .owl-prev:hover{border-right-color:#777}
#sct_relitem .owl-next:hover{border-left-color:#777}
#sit_rel .sct_noitem{padding:50px 0 !important}

/*같이구매한 상품*/
#sit_relbuy{background:#f3f3f3;padding:20px ;margin:20px 0;border:1px solid #ddd}
#sit_relbuy h2{text-align:center;color:#666;margin:10px 0}
#sit_relbuy .item img{width:100%;height:auto}
#sit_relbuy .item {padding:5px;}
#sct_relbuyitem{padding:0 15px}
#sct_relbuyitem .owl-prev{position:absolute;top:50%;left:0;margin-top:-8px;width: 0; height: 0; border-top: 8px solid transparent;border-bottom: 8px solid transparent;border-right: 10px solid #aaa;text-indent:-999px;overflow:hidden}
#sct_relbuyitem .owl-next{ position:absolute;top:50%;right:0;margin-top:-8px;width: 0; height: 0; border-top: 8px solid transparent;border-bottom: 8px solid transparent;border-left: 10px solid #aaa;text-indent:-999px;overflow:hidden}
#sct_relbuyitem .owl-prev:hover{border-right-color:#777}
#sct_relbuyitem .owl-next:hover{border-left-color:#777}


/* 베스트상품 스킨 10 */
#best_item{border:1px solid #FC4C5E;background:#fff;padding:20px 10px;margin:20px 0;overflow:hidden;position:relative;}
#best_item h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden;}
#best_item .owl-item{padding:10px;}
#best_item .item{position:relative;}
#best_item .item img{width:100%;height:auto}
#best_item .best_icon{text-align:center;padding-bottom:10px;display:block;font-family:'Nanum Gothic',sans-serif;font-weight:bold;font-size:1.25em;padding-top:15px;background:url(img/best.png) 50% 0  no-repeat}
#best_item .sct_txt{padding:10px 0 5px;}
#best_item .sct_cost{font-weight:bold;color:#de9786;font-size:0.92em}
#best_item .owl-pagination .owl-page{background:#aaa;width:10px;height:10px;display:inline-block;border-radius:50%;margin:3px}
#best_item .owl-pagination .active{background:#333}

@media (max-width: 640px){
    #best_item{margin:0;padding:10px}
    #best_item .owl-item{padding:5px}
}


/* 개인결제 목록 */
.sct_pv {margin-top:10px}
.sct_pv .sct_li {position:relative;float:left;position:relative;float:left;margin-bottom:10px;}
.sct_pv .sct_img{padding:0 5px}
.sct_pv .sct_img a{border:1px solid #e2edef}
.sct_pv .sct_img img{width:100%;}
.sct_pv .sct_last {margin:0 0 15px !important}
.sct_pv .sct_clear {clear:both}
.sct_pv .sct_a {display:block;position:relative;margin:0 0 5px;text-decoration:none;  font-weight: bold;  text-overflow: ellipsis;  overflow: hidden;  white-space: nowrap;  line-height: 20px;}
.sct_pv .sct_id {display:block;margin:0 0 5px}
.sct_pv .sct_basic {margin:0 0 10px}
.sct_pv .sct_cost {display:block;margin:0 0 10px;}
.sct_pv .sct_cost strike {display:block;margin:0 0 5px;color:#999;font-weight:normal}
.sct_pv .sct_icon {margin:0 0 10px}
/* ##### maint.(nn).skin.php, list.(nn).skin.php 공통 적용 끝 ##### */

/* 상품 목록 */
#sct {}
.sct_admin {margin:0 0 10px;text-align:right}

/* 상품 목록 현재 위치 */
#sct_location {border:1px solid #e9e9e9;background:#f2f5f9;letter-spacing:-4px}
#sct_location a {display:inline-block;padding:5px 10px;text-decoration:none;letter-spacing:0 !important}
.sct_here {font-weight:bold}
.sct_bg {padding-right:13px !important;background:url('img/sct_bg_toright.gif') right 8px no-repeat}

/* 상품 목록 카테고리 목록 */
.sct_ct {text-align:center;width:100%;margin-top:20px}
.sct_ct h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
.sct_ct ul {list-style:none;display:inline-block;margin:0;padding: 0}
.sct_ct ul:after {display:block;visibility:hidden;clear:both;content:""}
.sct_ct ul li {display:inline-block;padding:0 3px 0 ;font-size:0.917em;line-height:24px;font-family:'Nanum Gothic',sans-serif}
.sct_ct ul li:first-child{background:none}
.sct_ct a {text-decoration:none;color:#000;display:inline-block;margin:0 5px;transition: all 0.3s ease;letter-spacing: 1.5px;}
.sct_ct a:hover{color:#FC4C5E}
.sct_ct_parent {font-weight:bold}
.sct_ct_here {color:#ff3600 !important}

#sct_ct_2 li {margin:0 0 10px}
#sct_ct_2 a {display:inline-block;width:120px}
#sct_ct_3 li {float:left;margin:0 10px 10px 0;width:120px}

@media (max-width: 640px){
    .sct_ct{margin:10px 0 }
}

/* 상품 정렬 */
#sct_sort {padding:20px 20px;text-align:right;clear:both}
#sct_sort select{height:30px;width:150px}
#sct_sort:after {display:block;visibility:hidden;clear:both;content:""}
#sct_sort h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sct_sort ul {margin:0;padding:0 0 0 1px;list-style:none;}
#sct_sort ul:after {display:block;visibility:hidden;clear:both;content:""}
#sct_sort li {float:left;position:relative;margin-left:-1px;width:33.33%}
#sct_sort li a{display:block;text-align:center;color:#8d8d8d;background:#fff;border-color:#e9e9e9;font-size:0.917em}


/* 상품 리스트 스타일 선택 */
#sct_lst {float:right;margin:10px 0;padding:0;list-style:none}
#sct_lst:after {display:block;visibility:hidden;clear:both;content:""}
#sct_lst li {position:relative;float:left;margin:0 0 0 -1px}
#sct_lst button {position:relative;margin:0 0 0 -1px;padding:0;width:25px;height:25px;border:1px solid #ccc}
#sct_lst button span {position:absolute;top:0;left:0;width:100%;height:100%;background:url('../shop/img/is_button.gif')}
#sct_lst button.sct_lst_list span {background-position:0 0}
#sct_lst button.sct_lst_list span.sct_lst_on {background-position:0 -30px}
#sct_lst button.sct_lst_gallery span {background-position:-30px 0}
#sct_lst button.sct_lst_gallery span.sct_lst_on {background-position:-30px -30px}

/* 상품 상세보기 */
#sit {background:#fff;padding:20px}
.sit_admin {margin:10px 10px 0;text-align:right}
.sit_empty {padding:50px 0;color:#777;text-align:center}

/* 상품상세 */
#info_content {padding:0 10px 30px;zoom:1}
#info_content:after {display:block;visibility:hidden;clear:both;content:""}
#info_content h3 {margin:0 0 10px}
.if_tit{text-align:center;margin-top:10px;padding:10px;background:#f5f5f5;border:1px solid #e9e9e9;}
.win_desc_if{border:1px solid #e9e9e9;padding:10px;border-top:none;}
.win_desc{margin-top:10px}

/* 상품 상세보기 - 개요 */
#sit_ov_wrap {margin:0 0 10px;text-align:left}
#sit_ov_wrap:after {display:block;visibility:hidden;clear:both;content:""}

/* 상품 상세보기 - 이미지 미리보기 */
#sit_pvi {position:relative;text-align:center;float:left;width:50%;padding:20px 0}
#sit_pvi .owl-prev {position:absolute;top:50%;left:0;background:url(img/pv_btn_3.png) no-repeat 50% 50%;width:27px;height:45px;text-indent:-9999px;margin-top:-20px;}
#sit_pvi .owl-next {position:absolute;top:50%;right:0;background:url(img/nx_btn_3.png) no-repeat  50% 50%;margin-top:-20px;width:27px;height:45px;text-indent:-9999px}
.sit_pvi_btn {display:none;z-index:10;width:20px;border:0;background:#f2f5f9}
#sit_pvi_slide {position:relative;margin:0 auto;padding:0;list-style:none;overflow-x:hidden}
#sit_pvi_slide img {max-width:100%;height:auto}
#sit_pvi_nw h1 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sit_pvi_nwbig {padding:10px 0;text-align:center}
#sit_pvi_nwbig span {display:none}
#sit_pvi_nwbig span.visible {display:inline}
#sit_pvi_nw ul {margin:0 0 20px;padding:0 10px;list-style:none;text-align:center;zoom:1;}
#sit_pvi_nw ul:after {display:block;visibility:hidden;clear:both;content:""}
#sit_pvi_nw li {display:inline-block;margin:0 0 1px 1px}
#sit_pvi_nw li img {width:60px;height:60px}

#sit_pvi .flex-direction-nav a{background:url(img/next_btn.png) no-repeat;opacity:1;text-indent:-999px;overflow:hidden;}
#sit_pvi .flex-direction-nav .flex-next{background-position:-43px 50%;right:6px}
#sit_pvi .flex-direction-nav .flex-prev{background-position:15px 50%;left:6px}


/* 상품 상세보기 - 간략정보 및 구매기능 */
#sit_ov {position:relative;padding:20px 0 0 20px ;height:auto !important;float:right;width:50%;padding-right:20px;}
#sit_ov h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sit_ov h3 {margin:0 0 10px}
#sit_ov section{margin: 10px;padding-bottom:10px}

.sit_icon_wr{margin:10px 0 5px}
.sit_icon_wr img{margin:2px;}
#sit_title {display:block;margin:5px 0 10px; font-size:2.5em;font-family:'Nanum Gothic',sans-serif;}
#sit_desc {display:block;margin:10px 0;line-height:1.5em}
#sit_opt_info {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
.sit_icon {display:block;margin: 0 0;}
.sit_icon img {margin:0 1px 0 0;vertical-align:middle;margin:0 1px}

#sit_star_sns{clear:both;border-top:1px solid #ddd;border-bottom:1px solid #ddd;margin:10px 0;line-height:45px}
#sit_star_sns:after {display:block;visibility:hidden;clear:both;content:""}
#sit_star {color:#777;font-size:0.95em;float:left;width:50%}
#sit_star span {display:inline-block;margin:0 5px 0 0;color:#666;letter-spacing:0}
#sit_star .sit_star {position:relative;top:-2px;margin:0 5px 0 0}
#sit_star a {display:inline-block;vertical-align:middle;}
#sit_star button {margin:0;padding:0;border:0}
#sit_sns{float:right;width:50%;text-align:right;}
#sit_sns a{display:inline-block;width:30px;vertical-align:middle;height:30px;text-align:center;opacity:0.4}
#sit_sns a:hover{opacity:1}
#sit_sns a img{width:100%;height:auto;vertical-align:top;}
#sit_btn_rec {background:none;font-size:0.92em;color:#000;padding:0 3px;display:inline-block;font-size:16px;}
 #sit_btn_rec  i{line-height:30px;vertical-align:top}
.sit_ov_tbl {margin:10px 0px 20px;padding:15px;border:1px solid #FFB5BC;background:#FFFBFB}
.sit_ov_tbl table{border-collapse:collapse;width:100%;border:0;font-size:0.917em;color:#626262}
.sit_ov_tbl th {;font-weight:normal;text-align:left;padding:5px ;}
.sit_ov_tbl td {padding:5px 0}
.sit_ov_tbl tr:first-child td,.sit_ov_tbl tr:first-child th{border:none}
.sit_ov_ro {padding:2px 2px 3px;border:0;background:transparent;text-align:right;vertical-align:middle}
.sit_ov_opt {padding:2px 2px 3px;border:0;background:transparent;vertical-align:middle}
.sit_ov_input {height:1.8em;border:1px solid #b8c9c2;background:transparent;vertical-align:middle}
.sit_ov_tbl button {margin:0}

.sit_opt_wr{width:100%}
.sit_btn_wr{width:100%;padding:10px 0;}
.sit_op_sl{font-size:0.92em;color:#666;border-bottom:1px solid #ddd;padding:0 0 10px;margin:10px 0 0}
.sit_op_sl h3{margin-bottom:10px;}
.sit_op_sl table{width:100%;border-collapse:collapse}
.sit_op_sl th{font-weight:normal;text-align:left;}
.sit_op_sl td{text-align:left;}

.sit_sel_btn {position:relative;top:-15px;right:-2px} /* 선택옵션용 추가 버튼 */
.sit_sel_btn button {width:100%}

#sit_ov_soldout {margin:0 0 20px;color:#ff3061;font-weight:bold;text-align:right}
#sit_ov_btn {margin:0;text-align:center;}
#sit_ov_btn:after {display:block;visibility:hidden;clear:both;content:""}
#sit_ov_btn a {display:inline-block;padding: 0;vertical-align:middle;text-decoration:none;line-height:42px;height:42px}
#sit_ov_btn input {padding:0;height:42px;line-height:42px;font-weight:bold}
#sit_btn_cart{border:0;background:#4A4A4A;color:#fff;float:left;width:40%;transition: all 0.3s ease;display:inline-block}
#sit_btn_cart:hover{background:#FC4C5E}
#sit_btn_buy, #sit_btn_wish{border:1px solid #4A4A4A;background:#FFF;color:#4A4A4A}
#sit_btn_buy:hover, #sit_btn_wish:hover {border:1px solid #FFB5BC;background: #FFFBFB;color:#FC4C5E}
#sit_btn_buy:hover, #sit_btn_wish:hover{color:#4A4A4A}
#sit_btn_buy{;width:40%;float:left;margin:0 1%}
#sit_btn_wish{;width:18%;float:right;font-weight:bold}


@media (max-width: 970px){
    .sit_opt_wr,.sit_btn_wr{width:100%;padding-left:0;}
    .naverpay-item{text-align:center}
}

@media (max-width: 640px){
    #sit_ov{width:100%;padding:0}
    #sit_pvi{width:100%;padding:20px 0 10px}
}



/* 상품 상세보기 - 다른 상품 보기 */
#sit_siblings {text-align:center;position:relative}
#sit_siblings h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sit_siblings a {display:inline-block;background:#383838;color:#fff}
#sit_siblings a#siblings_prev {position:absolute;bottom:20px;left:10px;background: url(img/mainlist_btn.gif) no-repeat;  width: 30px;  height: 30px;text-indent:-999px;overflow:hidden}
#sit_siblings a#siblings_next {position:absolute;bottom:20px;right:10px;background: url(img/mainlist_btn.gif) no-repeat -33px 0;  width: 30px;  height: 30px;text-indent:-999px;overflow:hidden}
#sit_siblings a span {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}

/* 상품 상세보기 하단 버튼 */
#sit_more {-webkit-backface-visibility: hidden;padding:0;background-color: rgba(0, 0, 0, 0.8);position:fixed;bottom:0;left:0;width:100%;z-index:9999}
#sit_more:after {display:block;visibility:hidden;clear:both;content:""}
#sit_more li {position:relative;width:25%;float:left;letter-spacing:0.2em;background:url(img/item_bg.gif) no-repeat left 17px;}
#sit_more li:first-child{background:none}
#sit_more a {display:block;padding:15px 0 15px 2px;text-align:center;color:#fff}
.item_use_count,.item_qa_count{color:#999;padding-left:2px}

/* 상품 상세보기 - 상품정보 */
#sit_inf{}
#sit_inf h3 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sit_inf_explan{text-align:left}
#sit_inf_explan img{max-width:100%;height:auto}
#sit_inf_open{text-align:left;text-align:center;border-collapse:collapse;width:100%;color:#626262;margin:20px 0;font-size:0.92em}
#sit_inf_open th{text-align:left;background:#f8f8f8;border:1px solid #eee;padding:5px}
#sit_inf_open td{text-align:left;border:1px solid #eee;padding:5px}


/*상품 상세보기 - 탭*/

#sit_tab .tabsTit{text-align:center;;margin:30px 0px 0px}
#sit_tab .tabsTit {border-bottom:1px solid #ddd;font-size:0}
#sit_tab .tabsTit h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#sit_tab .tabsTit li{width:120px;display:inline-block;line-height: 30px;border-bottom: 4px solid #fff;font-size: 13px}
#sit_tab .tabsTita{display:block}
#sit_tab .tabsTit .tabsHover{border-color:#FC4C5E;color:#FC4C5E;font-weight: bold;}
#sit_tab .tabsCon h2{position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}

#sit_dvex{height:auto;margin:20px 0 }
#sit_dvex:after {display:block;visibility:hidden;clear:both;content:""}
#sit_dvex h3{margin-bottom:10px;}
#sit_dvr{float:left;width:49%;text-align:left;background:#f1f1f1;padding:20px;min-height:200px;line-height:1.5em}
#sit_ex{float:right;width:49%;text-align:left;background:#f1f1f1;padding:20px;min-height:200px;line-height:1.5em}

@media (max-width: 640px){
    #sit_dvr, #sit_ex{width:100%;margin-bottom:10px}
    #sit_tab .tabsTit li{width:33.33%}
}

/* 상품 상세보기 - 사용후기 */
.tit_no{position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sit_use {margin:0 0 10px;padding:0px 0 20px}
#sit_use_ol {margin:0 0 20px;padding:0;list-style:none}
.sit_use_li{padding:20px 0;border-bottom:1px solid #ddd;position:relative}
.sit_use_li:after {display:block;visibility:hidden;clear:both;content:""}
.sit_use_dl{float:left;width:20%;text-align:left;}
.sit_use_dl dt{position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
.sit_use_dl dd{color:#777;font-size:0.92em;font-size:0.92em;line-height:1.5em}
.sit_use_star{margin-bottom:20px;}
.sit_content{float:left;width:80%;text-align:left}
.sit_content h3{font-family:'Nanum Gothic',sans-serif;font-size:1.17em;margin-bottom:5px;line-height:1.4em;padding-right:100px}
.show-more{display:block;background:none;font-size:0.92em;;color:#FC4C5E;border:1px solid #FC4C5E;padding:3px 5px;;margin:10px 0 0}
.show-more:hover{background:#FC4C5E;color:#fff;}
.sit_use_con {display:none;line-height:1.5em;margin:10px 0;color:#777}
.sit_use_cmd{text-align:right;position:absolute;top:20px;right:0}
.sit_use_cmd a{display:inline-block;background:#f3f3f3;font-size:0.92em;color:#777;padding:3px 5px;border:1px solid #ddd}
#sit_use_wbtn {margin:0 0 5px;text-align:right;font-weight:bold}
#sit_use_write {}
#sit_use_write #is_subject {width:100%}
#sit_use_write ul {margin:5px 0 0}
#sit_use_write li {margin:0 0 5px}
#sit_use_write li label {display:inline-block;width:80px}
#sit_use_write_star {margin:0;padding:0;list-style:none}

@media (max-width: 970px){
    .sit_use_dl{width:30%}
    .sit_content{width:70%}
}
@media (max-width: 640px){
    .sit_use_dl{width:100%}
    .sit_content{width:100%}
    .sit_use_dl dd{display:inline-block;padding-right:5px;}
    .sit_use_dl .sit_use_star{display:block;margin-bottom:5px}
    .sit_content h3{margin-top:10px;padding-right:0}
}

/* 상품 상세보기 - 상품문의 */
#sit_qa {margin:0 0 10px;padding:0px 0px 20px}
#sit_qa_ol {margin:0 0 20px;padding:0;list-style:none}
.sit_qa_li{padding:20px 0;border-bottom:1px solid #ddd;position:relative}
.sit_qa_li:after {display:block;visibility:hidden;clear:both;content:""}
.sit_qa_dl{float:left;width:20%;text-align:left;}
.sit_qa_dl dt{position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
.sit_qa_dl dd{color:#777;font-size:0.92em;font-size:0.92em;line-height:1.5em}
.sit_qa_dl dd.sit_qaa_yet span,.sit_qa_dl dd.sit_qaa_done span{background:#eee;padding:5px 9px;color:#888;border-radius:10px;display:inline-block;margin-bottom:10px;}
.sit_qa_dl dd.sit_qaa_done span{background:#ff3e5e;color:#fff}
.sit_qa_con {display:none;line-height:1.5em;margin:10px 0;color:#777}
.sit_qa_cmd{text-align:right;position:absolute;top:20px;right:0}
.sit_qa_cmd a{display:inline-block;background:#f3f3f3;font-size:0.92em;color:#777;padding:3px 5px;border:1px solid #ddd}
span.sit_alp{position:absolute;top:10px;left:0;background:#000;color:#fff;color:#fff;font-weight:bold;width:25px;height:25px;line-height:25px;display:inline-block;border-radius:15px;text-align:center;}
.sit_qa_qaq,.sit_qa_qaa {padding:10px 0;position:relative;line-height:1.5em}
.sit_qa_qaq strong,.sit_qa_qaa strong{position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
.sit_qa_qaa {border-top:1px dotted #ddd;background:url(img/qa_rp.png) no-repeat 0 10px ;padding:35px 15px 20px 15px}
.sit_qa_qaa  span.sit_alp{background:#5b5b5b}
.sit_qa_pw {display:none;position:absolute;top:30px;left:175px;padding:10px;width:348px;border:1px solid #000;background:#fff;text-align:center}
.sit_qa_pw span {display:block;margin:0 0 5px}
#sit_qa_wbtn {margin:0 0 5px;text-align:right;font-weight:bold}
#sit_qa_w {display:none}
a.qa_wr{height:40px;line-height:40px;display:inline-block;width:120px;text-align:center;background:#333;color:#fff;vertical-align:top}
#itemqa_list,#itemuse_list{text-align:center;background: #fff;  border: 1px solid #cbcbcb;  width: 120px;  height:40px;line-height:40px;font-size: 0.917em;  color: #888;padding:0;;vertical-align:top}

@media (max-width: 970px){
    .sit_qa_dl{width:30%}
}
@media (max-width: 640px){
    .sit_qa_dl{width:100%}
    .sit_qa_dl dd{display:inline-block;padding-right:5px;}
    .sit_qa_dl dd.sit_qaa_yet,.sit_qa_dl dd.sit_qaa_done{display:block}
    a.qa_wr{width:49%}
    #itemqa_list,#itemuse_list{width:49%}
}


/* 로딩안내 레이어 */
#loading_message {z-index:10000;position:absolute;top:0;left:0;background:#fff;opacity:0.7}
#loading_message img {position:relative;opacity:1.0}

/* 알림 box */
#fancyalert {display:block;z-index:10000;position:absolute;top:0;left:0}
#fancyalert_inner {display:table;z-index:2;position:relative}
#fancyalert_inner div {display:table-cell;vertical-align:middle;text-align:center}
#fancyalert_inner span {display:block;margin:0 auto;padding:30px;width:200px;background:#1f1f1f;color:#f0f1f2}
#fancyalert_inner button {margin:15px 0 0;padding:10px 30px;border:0;background:#000;color:#fff}
#fancyalert_bg {z-index:0;position:absolute;top:0;left:0;width:100%;height:100%;vertical-align:middle;background:#000;text-align:center;opacity: 0.7}

#sit_sms_new .tbl_frm01 th {width:100px}

/*쿠폰존 리스트*/
.couponzone_list{margin:10px 20px 50px;text-align:left;padding:20px 20px 40px;background:#fff;border:1px solid #ced2d7;}
.couponzone_list h2{margin:0 0 5px;font-size:1em;font-family:'Nanum Gothic',sans-serif}
.couponzone_list p{margin:10px 0;}
.couponzone_list ul{padding:0;margin:0;list-style:none;border-left:1px dotted #ddd;background:#fff;padding:20px 0}
.couponzone_list ul:after {display:block;visibility:hidden;clear:both;content:""}
.couponzone_list ul li{float:left;width:33.33%;border-right:1px dotted #ddd;background:#fff;padding:15px;;line-height:1.2em}
.couponzone_list ul li:nth-child(3n+1){clear:both;}
.couponzone_list ul li img{width:100%;height:auto}
.couponzone_list ul li .coupon_img{}
.couponzone_list ul li .coupon_tit{margin:10px 0 5px;font-weight:bold;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.couponzone_list ul li .coupon_date{margin: 5px 0px;font-size:0.92em;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#777}
.couponzone_list ul li .coupon_target{margin: 5px 0px;font-size:0.92em;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#777}
.couponzone_list ul li .coupon_target a{color:#777;text-decoration:underline}
.couponzone_list ul li .coupon_point{margin: 5px 0px;font-size:0.92em;;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#777}
.couponzone_list ul li .coupon_btn{margin:10px 0 0;text-align:center}
.couponzone_list ul li .coupon_btn .btn02{width:100%;height:35px;padding:0;font-weight:bold;background:#FC4C5E;border:0}
.couponzone_list ul li .coupon_btn .btn02:hover{background:#ae1548;color:#fff}
.couponzone_list ul li .coupon_btn .disabled {background: #ddd;border:1px;color:#999;border-color:#ddd}
.couponzone_list ul li .coupon_btn .disabled:hover {background: #ddd;border:1px;color:#999;border-color:#ddd}
.couponzone_list .no_coupon{padding: 100px 0;text-align:center;color:#999}
#point_coupon li{height:250px;}

@media (max-width: 970px){
    .couponzone_list ul li{width:50%}
    .couponzone_list ul li:nth-child(3n+1){clear:none;}
    .couponzone_list ul li:nth-child(2n+1){clear:both;}
}

@media (max-width:  640px){
    .couponzone_list ul li{padding:7px}
}


#sit_hhtml img{max-width:100%;height:auto}