@charset "utf-8";
/* 최근게시물 스킨 (latest) */
.idx_notice {position:relative;}
.idx_notice ul {padding:0;list-style:none}
.idx_notice ul li{line-height:22px;position:relative;padding-left:15px;background:url(img/bulllet.png) no-repeat 5px 50%;}
.idx_notice .cnt_cmt {display:inline-block;margin:0 0 0 3px;font-weight:bold;color:#993355}
.idx_notice .lt_tit{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display:block;color:#555}
.idx_notice .empty_lt{padding:30px 0;padding-right:0;text-align:center;color:#999}