@charset "utf-8";

/* ### 기본 스타일 커스터마이징 시작 ### */

/* 게시판 버튼 */
/* 목록 버튼 */
#bo_list a.btn_blue,#bo_list_admin a.btn_blue {vertical-align:middle;line-height:31px;height:31px;padding:0 10px}
#bo_list a.btn_b01:focus, #bo_list .btn_b01:hover {}
#bo_list a.btn_b02 {font-weight:bold}
#bo_list a.btn_b02:focus, #bo_list .btn_b02:hover {}
#bo_list_admin a.btn_admin {height:40px;line-height:40px;padding:0 10px} /* 관리자 전용 버튼 */
#bo_list a.btn_admin:focus, #bo_list a.btn_admin:hover {}

/* 읽기 버튼 */
#bo_v a.btn_b01 {}
#bo_v a.btn_b01:focus, #bo_v .btn_b01:hover {}
#bo_v a.btn_b02 {font-weight:bold}
#bo_v a.btn_b02:focus, #bo_v .btn_b02:hover {}
#bo_v a.btn_admin {} /* 관리자 전용 버튼 */
#bo_v a.btn_admin:focus, #bo_v a.btn_admin:hover {}

/* 쓰기 버튼 */
#bo_w .btn_confirm {margin-top:20px} /* 서식단계 진행 */
#bo_w .btn_submit {height:40px;padding:0 10px ;}
#bo_w .btn_cancel {height:40px;line-height:40px;padding:0 10px}
#bo_w .btn_frmline {} /* 우편번호검색버튼 등 */

/* 기본테이블 */
/* 목록 테이블 */
#fboardlist .tbl_board caption {}
#fboardlist .tbl_board th {background:#d3d3d3;padding:15px 0}
#fboardlist .tbl_board td {background:#fff;border-bottom:1px solid #f3f3f3;padding:10px 0;color:#868686}
#fboardlist .tbl_board td.td_subject{padding:10px;text-align:left}
#fboardlist .tbl_board td.td_name{width:70px}
#fboardlist .tbl_board td.td_chk{width:30px}
#fboardlist .tbl_board .bo_notice td,#fboardlist .tbl_board .bo_notice th{background:#e4f1fc;border-bottom:1px solid #d5e4f2}
#fboardlist .tbl_board a {}
#fboardlist .tbl_board th input {} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
#fboardlist td.empty_table {}

/* 읽기 내 테이블 */
#bo_v .tbl_head01 {}
#bo_v .tbl_head01 caption {}
#bo_v .tbl_head01 thead th {}
#bo_v .tbl_head01 thead a {}
#bo_v .tbl_head01 thead th input {} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
#bo_v .tbl_head01 tfoot th {}
#bo_v .tbl_head01 tfoot td {}
#bo_v .tbl_head01 tbody th {}
#bo_v .tbl_head01 td {}
#bo_v .tbl_head01 a {}
#bo_v td.empty_table {}

/* 쓰기 테이블 */
#bo_w .tbl_wrap{padding:0 30px;}
#bo_w table {background:#fff;text-align:left}
#bo_w caption  {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#bo_w .frm_address {}
#bo_w .frm_file {}
#bo_w .frm_info {}

#bo_w .tbl_frm01 {}
#bo_w .tbl_frm01 caption {}
#bo_w .tbl_frm01 th {padding:10px 15px;min-width:75px !important}
#bo_w .tbl_frm01 td {padding:5px 15px}
#bo_w .tbl_frm01 textarea {}
#bo_w .frm_input{background-color:#f3f3f3;border:1px solid #e6e6e6;line-height:30px;height:30px;padding: 0 10px;width:100%}
#bo_w .tbl_frm01 textarea {}
/*
#bo_w .tbl_frm01 #captcha {}
#bo_w .tbl_frm01 #captcha input {}
*/
#bo_w .tbl_frm01 a {}

#bo_w .required, #bo_w textarea.required {}

/* ### 기본 스타일 커스터마이징 끝 ### */

/* 게시판 목록 */
.td_name{text-align:left}
.td_view,.td_date{width:40px;text-align:center}

#bo_cate{text-align:center}
#bo_cate h2 {width:0;height:0;font-size:0;line-height:0;overflow:hidden}
#bo_cate ul {padding-left:1px;display:inline-block;;zoom:1}
#bo_cate ul:after {display:block;visibility:hidden;clear:both;content:""}
#bo_cate li {float:left;margin-bottom:-1px;}
#bo_cate a {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display:block;position:relative;margin-left:-1px;padding: 0 10px;height:40px;line-height:38px;border:1px solid #d8d8d8;background:#fff;color:#888;text-align:center;text-decoration:none;min-width:80px}
#bo_cate a:focus, #bo_cate a:hover, #bo_cate a:active {text-decoration:none}
#bo_cate #bo_cate_on {z-index:2;border:1px solid #333;background:#333;color:#fff;font-weight:bold}

@media (max-width: 970px){
    #bo_cate ul{width:100%}
    #bo_cate li {width:20%;}
}

@media (max-width: 640px){
    #bo_cate li {width:33.3333%}
    #bo_cate a{padding:0 5px;font-size:11px}
}

/* 관리자일 때 */
#bo_list_admin,#bo_list {padding:0 30px}

#bo_list_admin th label {position:absolute;font-size:0;line-height:0;overflow:hidden}
@media (max-width: 640px){
    #bo_list_admin,#bo_list {padding:0 20px}
}
/* 관리자가 아닐 때 */
#bo_list th:nth-of-type(2) {width:100px}

#bo_list td:nth-of-type(2) {text-align:center}

/* 게시판 목록 공통 */
.bo_fx {margin:10px 0;}
.bo_fx:after {display:block;visibility:hidden;clear:both;content:""}
.bo_fx ul {margin:0;padding:0;list-style:none}
#bo_list_total {text-align:center;padding:0;height:2.5em;line-height:2.5em;color:#5e5e5e;margin-top:-20px}
.btn_bo_user {float:right;margin:0;padding:0;list-style:none}
.btn_bo_user li {float:left;margin-left:5px}
.btn_bo_adm {float:left}
.btn_bo_adm li {float:left;margin-right:5px}
.btn_bo_adm input {padding:8px;border:0;background:#e8180c;color:#fff;text-decoration:none;vertical-align:middle}
.bo_notice td {background:#f7f7f7}
.bo_notice td a {font-weight:bold}
.td_num strong {color:#000}
.bo_cate_link {display:inline-block;margin:0 3px 0 0;color:#000 !important;font-weight:bold;text-decoration:none} /* 글제목줄 분류스타일 */
.bo_current {color:#e8180c}
.td_subject a {display:inline-block}
.td_subject img {margin-left:3px}
.cnt_cmt {display:inline-block;margin:0 0 0 3px;font-weight:bold;color:#72aee6}

#bo_sch {margin-bottom:10px;padding-top:5px;text-align:center}
#bo_sch .frm_input{background:#fff !important;height:30px;line-height:30px;padding:0 10px;}
#bo_sch .btn_submit{height:30px;}
#bo_sch select{height:30px;}

/* 게시판 쓰기 */
#bo_w #wr_email, #bo_w #wr_homepage, #bo_w #wr_subject {width:100%}
#char_count_desc {display:block;margin:0 0 5px;padding:0}
#char_count_wrap {margin:5px 0 0;text-align:right}
#char_count {font-weight:bold}
#wr_email, #wr_homepage, #wr_subject, .wr_link {width:100%}

/* 게시판 읽기 */
#bo_v {padding:30px;text-align:left}
#bo_v_table {padding:0 10px;color:#999;font-size:0.9em;font-weight:bold}
#bo_v_title {padding:15px;font-size:1.2em;background:#d3d3d3}
#bo_v_info {padding:10px;;background:#fff; text-align:right;color:#888;border-bottom:1px solid #ddd}
#bo_v_info:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_info .bo_name{float:left;}
#bo_v_info .bo_info{float:right;}
#bo_v_info .st_bg{margin:0 5px}
#bo_v_info h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#bo_v_info {}
#bo_v_info strong {display:inline-block;margin:0 0 0 5px;font-weight:normal}
@media (max-width: 640px){
    #bo_v_info .bo_info{width:100%;float:left;text-align:left;margin-top:3px}
    #bo_v {padding:0 20px;}
}

#bo_v_file {}
#bo_v_file i{color:#888;margin-right:5px;font-size:13px}
#bo_v_file h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#bo_v_file ul {margin:0;padding:0;list-style:none}
#bo_v_file li {padding:10px;border-bottom:1px solid #fff;background:#f3f3f3}
#bo_v_file a {display:inline-block;color:#000;text-decoration:none}
#bo_v_file a:focus, #bo_v_file a:hover, #bo_v_file a:active {text-decoration:none}
#bo_v_file span {color:#999;font-size:0.92em}
.bo_v_file_cnt {display:inline-block;margin:0 10px}

#bo_v_link {}
#bo_v_link i{color:#888;font-size:13px;margin-right:5px}
#bo_v_link h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#bo_v_link ul {margin:0;padding:0;list-style:none}
#bo_v_link li {padding:10px;border-bottom:1px solid #fff;background:#f3f3f3}
#bo_v_link a {display:inline-block;color:#65a2f1;text-decoration:underline;}
#bo_v_link a strong{font-weight:normal}
#bo_v_link span {color:#999;font-size:0.92em}
.bo_v_link_cnt {display:inline-block;margin:0 10px}

#bo_v_top {margin:10px 0;}
#bo_v_top:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_top h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#bo_v_top ul {margin:0;padding:0;list-style:none}
#bo_v_top .btn_blue{padding: 8px 7px 7px;}
#bo_v_top a{font-weight:bold}
#bo_v_bot {padding: 10px 0}
#bo_v_bot:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_bot h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#bo_v_bot ul {margin:0;padding:0;list-style:none}
.bo_v_com .btn_blue{padding: 8px 7px 7px;}
.bo_v_nb {float:left}
.bo_v_nb li {float:left;margin-right:5px}
.bo_v_com {float:right}
.bo_v_com li {float:left;margin-left:5px;font-weight:bold}

#bo_v_act {position:relative;margin-bottom:20px;text-align:center}
#bo_v_act a {vertical-align:middle;padding:10px;border:1px solid #ddd}
#bo_v_act_good, #bo_v_act_nogood {display:none;position:absolute;top:30px;right:10%;padding:10px 0;width:165px;background:#ff3061;color:#fff;text-align:center}
#bo_v_atc_title {margin:0;padding:0;height:0;overflow:hidden}

#bo_v_img {margin:0 0 10px;width:100%;overflow:hidden;zoom:1}
#bo_v_img:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_img img {margin-bottom:15px;max-width:100%;height:auto}

#bo_v_con {margin-bottom:20px;width:100%;font-size:1.250em;line-height:1.7em;word-break:break-all;overflow:hidden;min-height:200px}
#bo_v_con a {color:#000;text-decoration:underline}
#bo_v_con img {max-width:100%;height:auto}

#bo_v_act {position:relative;margin-bottom:20px;text-align:center}
#bo_v_act a {vertical-align:middle;padding:10px}
#bo_v_act_good, #bo_v_act_nogood {display:none;position:absolute;top:30px;right:10%;padding:10px 0;width:165px;background:#ff3061;color:#fff;text-align:center}

#bo_v_sns {margin:0 0 20px;padding:0;list-style:none;text-align:center;zoom:1}
#bo_v_sns:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_sns li {display:inline-block;margin:0 5px 0 0}


/* 게시판 댓글 */
#bo_vc {border-bottom:1px solid #ddd}
#bo_vc h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden;background:#fff}
#bo_vc article {padding:0 0 5px;border-top:1px dotted #aaa;background:#fff}
#bo_vc header {padding:10px;border-bottom:1px solid #aaa;background:#f3f3f3}
#bo_vc header:after {display:block;visibility:hidden;clear:both;content:""}
#bo_vc header .icon_reply {position:absolute;top:13px;left:-20px}
#bo_vc .sv_member, #bo_vc .sv_guest {font-weight:normal;color:#1d1d1d}
#bo_vc i{color:#888;margin-right:5px;}
.bo_vc_hdinfo{color:#888}
.bo_vc_hdinfo1 {display:inline-block;margin:0 10px 0 5px;float:right;color:#888;font-size:0.92em}
#bo_vc h1 {width:0;height:0;font-size:0;line-height:0;overflow:hidden}
#bo_vc a {;text-decoration:none;display:inline-block;}
#bo_vc p {padding:15px;line-height:1.8em}
#bo_vc p a {text-decoration:underline}
#bo_vc p a.s_cmt {text-decoration:none}
#bo_vc_empty {margin:0;padding:50px 0 !important;text-align:center;border-bottom:1px solid #eee;color:#666;background:#f3f3f3}
#bo_vc #bo_vc_winfo {float:left}
#bo_vc footer {zoom:1}
#bo_vc footer:after {display:block;visibility:hidden;clear:both;content:""}

.reply {position:relative;margin-bottom:10px;padding:15px;display:block;background:#fff;}
.reply .tbl_wrap {margin:0 0 ;padding:10px 0;border:1px solid #eee}
.reply #char_cnt {display:block;margin-bottom:5px}
.reply textarea {width:99%}
.reply td{padding:5px 0}
.reply th{text-align:left;padding:10px 15px;font-weight:normal;color:#999;width:120px}
.reply .frm_input  {border:1px solid #e6e6e6;background-color:#f3f3f3;line-height:30px;height:30px;}
.reply .bo_vc_w_cmt{padding:10px 80px 0 15px;position:relative;}
.reply .bo_vc_w_cmt textarea{border:1px solid #e6e6e6;background-color:#f3f3f3;height:80px;}
.reply .bo_vc_w_cmt .btn_submit{position:absolute;top:10px;right:15px;height:80px;width:80px}

.bo_vc_act {float:right;margin:0;list-style:none;padding:0 0 10px;}
.bo_vc_act:after {display:block;visibility:hidden;clear:both;content:""}
.bo_vc_act li {float:left;margin-left:5px}

#bo_vc_w {position:relative;margin-bottom:10px;background:#fff;margin-top:10px;border:1px solid #ddd;background:#f3f3f3}
#bo_vc_w h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#bo_vc_w .tbl_wrap {margin:0 0 15px;padding:10px 0;}
#bo_vc_w #char_cnt {display:block;margin-bottom:5px}
#bo_vc_w textarea {width:99%}
#bo_vc_w td{padding:5px 0}
#bo_vc_w th{text-align:left;padding:10px 0 10px 10px;font-weight:normal;color:#999;width:100px}
#bo_vc_sns {margin:0;padding:0;list-style:none;zoom:1}
#bo_vc_sns input{margin:0 5px}
#bo_vc_sns:after {display:block;visibility:hidden;clear:both;content:""}
#bo_vc_sns li {float:left;margin:0 10px 0 0}
#bo_vc_w .frm_input  {border:1px solid #e6e6e6;background-color:#f3f3f3;line-height:30px;height:30px;}
#bo_vc_w .bo_vc_w_cmt{padding:10px 80px 10px 15px;position:relative;}
#bo_vc_w .bo_vc_w_cmt textarea{border:1px solid #e6e6e6;background-color:#fff;height:80px;}
#bo_vc_w .bo_vc_w_cmt .btn_submit{position:absolute;top:10px;right:15px;height:80px;width:80px}

