@charset "utf-8";
/*************************************************/
/*	스킨코드 : UIF20P1511
	홈페이지 : http://uifandango.com
	이메일 : ui.fandango@gmail.com                */
/*************************************************/
/*************************************************/
/* 하단 커뮤니티 영역 */
/*************************************************/
.CommTitle { padding-bottom:20px; font-size:36px; text-align:center; font-family: 'Nixie One','Nanum Gothic','FontAwesome',Verdana,Dotum,AppleGothic,sans-serif; font-weight:normal; }
.CommSection { position:relative; text-align:center; height:420px; }
.CommSection > div { float:left; position:relative; overflow:hidden; padding:10px 19px 10px 20px; width:340px; height:390px; border-right:1px solid #ffffff; }
.CommSection > div:first-child { padding-left:0; }
.CommSection > div:last-child { padding-right:0; border:0; }

.CommBoard { position:relative; }
.CommBoard .CommIcon::before { display:block; padding:0 0 20px; font-size:48px; }
.CommBoard h3 { font-size:24px; font-weight:normal; font-family: 'Nixie One','Nanum Gothic','FontAwesome',Verdana,Dotum,AppleGothic,sans-serif, cursive; }
.CommBoard .Comment { padding:5px 0 30px 0; font-size:11px; color:#909090; }
.CommBoard table { width:300px; margin:0 auto; }
.CommBoard thead th { height:0; font-size:0; line-height:0; }
.CommBoard td { width:auto; padding:0 1px 0 0; border:none; border-bottom:1px solid #ffffff; font-size:11px; color:#909090; text-align:right; line-height:34px; }
.CommBoard td.title { width:auto; font-size:12px; text-align:left; }
.CommBoard td.title a,
.CommBoard td.title a:hover { color:#000; }
.CommBoard .more { padding:30px 0 20px; }
.CommBoard .more a { width:80px; }

.CommInfo { position:relative; }
.CommInfo .CommIcon::before { display:block; padding:0 0 20px; font-size:48px; }
.CommInfo .Comment { padding:5px 0 15px 0; font-size:11px; color:#909090; }
.CommInfo .CustomorInfo ul.TypeA { padding:5px 0; }
.CommInfo .CustomorInfo ul.TypeB { padding:15px 28px; text-align:left; }
.CommInfo .CustomorInfo li { padding:3px 0; }
.CommInfo .CustomorInfo .ShopTel { padding:0; font-size:38px; font-family: 'Nixie One','Nanum Gothic','FontAwesome',Verdana,Dotum,AppleGothic,sans-serif, cursive; }
.CommInfo .CustomorInfo span::before { padding-right:5px; vertical-align:middle; }
.CommInfo .CustomorInfo .fa-blank { padding-left:16px; }
.CommInfo h3 { font-size:24px; font-weight:normal; font-family: 'Nixie One','Nanum Gothic','FontAwesome',Verdana,Dotum,AppleGothic,sans-serif, cursive; }
.CommInfo .CommSNS { padding:10px 0; }
.CommInfo .CommSNS a { display:inline-block; margin:0 2px; padding:8px; width:25px; height:25px; background:#000; border-radius:2px; box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18); -webkit-transition: all 0.2s; transition: all 0.2s; }
.CommInfo .CommSNS a img { width:100%; height:100%; }
.CommInfo .CommSNS a:hover { background:#ec5b22; }


/*************************************************/
/* 상품목록 상단 카테고리 */
/*************************************************/
.UIF_SubCategory { margin:0; }
.UIF_SubCategory .menuCategory { margin-bottom:20px; padding-bottom:20px; border-bottom:1px solid #909090; font-size:0; line-height:0; }
.UIF_SubCategory .menuCategory > li { position:relative; display:inline-block; width:12em; margin:0; padding:10px; font-size:12px; line-height:12px; text-align:center; vertical-align:top; *display:inline; *zoom:1; background:#909090; }
.UIF_SubCategory .menuCategory > li:last-child {  }
.UIF_SubCategory .menuCategory > li > a { margin:10px; color:#ffffff; text-decoration:none; }
.UIF_SubCategory .menuCategory > li > a:hover { color:#000000; }
.UIF_SubCategory .menuCategory > li > ul { padding:0; margin:0; }
.UIF_SubCategory .menuCategory > li > ul > li { margin:0; padding:7px; line-height:14px; text-align:left; }
.UIF_SubCategory .menuCategory > li > ul > li:first-child { padding-top:15px; }
.UIF_SubCategory .menuCategory > li > ul > li > a { color:#f3f3f3; text-decoration:none; }
.UIF_SubCategory .menuCategory > li > ul > li > a::before { padding-right:3px; vertical-align:middle; }
.UIF_SubCategory .menuCategory > li > ul > li > a:hover { color:#ffffff; }

.UIF_SubCategory .subCategory { margin:0; padding:0; font-size:0; line-height:0; z-index:10; }
.UIF_SubCategory .subCategory li { margin:0; padding:7px 0 0 10px; font-size:12px; line-height:14px; text-align:left; *zoom:1; }
.UIF_SubCategory .subCategory li:last-child {  }
.UIF_SubCategory .subCategory li a { color:#dad2cb; text-decoration:none; }
.UIF_SubCategory .subCategory li a::before { padding-right:3px; vertical-align:middle; }
.UIF_SubCategory .subCategory li a:hover { color:#ffffff; }


/*************************************************/
/* 상품목록 상단 정렬 */
/*************************************************/
.UIF_ProductTopWrap { padding:0; }
.UIF_ProductTopWrap .title { margin:0 0 17px; display:none; }
.UIF_ProductTopWrap .function { margin:0 20px; text-align:right; line-height:38px; background:#cacaca; }
.UIF_ProductTopWrap .prdCount { float:left; padding:0 0 0 8px; color:#f3f3f3; }
.UIF_ProductTopWrap ul#type { display:inline; margin:0 4px 0 0; }
.UIF_ProductTopWrap ul#type li { display:inline; padding:0 6px 0 10px; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/product/bg_result_type.gif") no-repeat 0 50%; }
.UIF_ProductTopWrap ul#type li:first-child { background:none; }
.UIF_ProductTopWrap ul#type li a { color:#f3f3f3 }
.UIF_ProductTopWrap ul#type li a:hover { color:#000; text-decoration:none; }
.UIF_ProductTopWrap ul#type li a.sort { color:#fff; font-weight:normal !important; }
.UIF_ProductTopWrap ul#type li a.sort::before { content: "\f0ab"; vertical-align:middle; padding-right:3px; }
.UIF_ProductTopWrap .compare img { border-left:1px solid #cacaca; vertical-align:middle; }
.UIF_ProductTopWrap fieldset { margin:-1px 0 0; padding:7px 12px; border:1px solid #cacaca; text-align:right; background:#fff; }
.UIF_ProductTopWrap fieldset select { height:24px; }

/*************************************************/
/* 상품목록 */
/*************************************************/
.UIF_ProductWrap { position:relative; width:100%; height:100%; }
ul.ProductList { position:relative; padding-bottom:20px; font-size:0; }
.Item_Title { position:relative; margin:30px 20px 20px 20px; display:block; text-align:center; }
.Item_Title2 { position:relative; display:block; color:#000; text-align:center; font-family: 'Nixie One','Nanum Gothic','FontAwesome',Verdana,Dotum,AppleGothic,sans-serif; font-size:30px; font-weight:300; }
.Item_Title .Title_Txt { position:relative; padding:0 40px; background:#fff; font-family: 'Nixie One','Nanum Gothic','FontAwesome',Verdana,Dotum,AppleGothic,sans-serif; font-size:28px; color:#909090; z-index:2; }
.Item_Title .Title_Line { position:absolute; width:100%; height:1px; background:#aaaaaa; box-shadow:0 1px 0 rgba(0,0,0,0.1); top:50%; z-index:1; }
.Item_Title_Img { position:relative; margin:30px 0 20px 0; display:block; color:#cacaca; font-family: 'Nixie One','Nanum Gothic','FontAwesome',Verdana,Dotum,AppleGothic,sans-serif; font-size:28px; font-weight:300; text-align:center; text-shadow:1px 1px 5px #fff; }

.none { display:none !important; }

ul.ProductList > li { display:inline-table; vertical-align:top; margin:15px 20px; font-size:12px; }
.Column1 > li { width:1100px; }
.Column2 > li { width:530px; }
.Column3 > li { width:340px; }
.Column4 > li { width:245px; }
.Column5 > li { width:188px; }
.Column6 > li { width:150px; }
.Column1 .ImgBox { height:1100px; }
.Column2 .ImgBox { height:530px; }
.Column3 .ImgBox { height:340px; }
.Column4 .ImgBox { height:245px; }
.Column5 .ImgBox { height:188px; }
.Column6 .ImgBox { height:150px; }

.Item { position:relative; }
.Item .ImgBox_Link,
.Item .ImgBox { 
	position:relative;
	display:block;
	overflow:hidden;
}
.Item .ImgBox::after {
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:#1A1111;
	opacity:0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}
.Item .ImgBox:hover::after { opacity:0.3; }
.Item .Thumb { width:100%; }

.OverBtn {
	position:relative;
	margin-top:10px;
	display:inline-block;
	text-decoration:none;
}
.OverBtn img { padding-right:5px; cursor:pointer; }

.InfoBox { position:relative; width:100%; }
.InfoBox_Detail { position:relative; width:100%; }

.ProductIcon { padding:10px 0 0; text-align:right; }
.ProductName { padding:10px 0 5px; text-align:left; }
.ProductItemBox { position:relative; text-align:left; }
.ProductItemBox p { padding:4px 0; }

.InfoBox_One { overflow:hidden; }
.InfoBox_One .ProductItemBox { text-align:center; font-size:11px; }
.InfoBox_One .ProductItemBox p { display:inline-block; padding:5px 0; }
.InfoBox_One .ProductName { text-align:center; width:100%; font-size:12px; }

/* module="product_ListItem" */
.UIF_ProductWrap .xans-product-listitem { margin:0; }
.UIF_ProductWrap .xans-product-listitem li .title { font-weight:normal; vertical-align:top; }
.UIF_ProductWrap .xans-product-listitem li .title span { vertical-align:top; }

/* 할인기간 레이어 */
.UIF_ProductWrap .discountPeriod { display:inline-block; z-index:10; position:relative; width:55px; height:19px; vertical-align:middle; *zoom:1; *display:inline; }
.UIF_ProductWrap .discountPeriod .edge { position:absolute; left:50%; top:-6px; width:10px; height:6px; margin:0 0 0 -5px; font-size:0; line-height:0; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_tip_edge.gif") no-repeat 0 0; }
.UIF_ProductWrap .layerDiscountPeriod { display:none; position:absolute; left:50%; top:27px; width:247px; margin:0 0 0 -124px; border:1px solid #565960; font-size:12px; background-color:#fff; }
.UIF_ProductWrap .layerDiscountPeriod strong.title { display:block; margin:0 0 12px; padding:0 35px 0 0; font-weight:bold; color:#2e2e2e; }
.UIF_ProductWrap .layerDiscountPeriod .content { padding:9px 10px 12px 14px; font-family:Verdana, "돋움", Dotum, sans-serif; }
.UIF_ProductWrap .layerDiscountPeriod .content p { margin:2px 0 0; font-size:11px; color:#000; line-height:16px; color:#909090; letter-spacing:-1px; }
.UIF_ProductWrap .layerDiscountPeriod .content p strong { font-weight:normal; font-size:12px; color:#2e2e2e; }
.UIF_ProductWrap .layerDiscountPeriod .content p strong span { font-size:11px; }
.UIF_ProductWrap .layerDiscountPeriod .close { position:absolute; right:14px; top:14px; }
.UIF_ProductWrap .layerDiscountPeriod .close img { cursor:pointer; }

/* 할인율 마킹 */
.data_price { display:none; }
.SaleRate_Mark { 
	position:absolute;
	overflow:hidden;
	background:rgba(0,0,0,0.8);
	color:#fff;
	text-align:center;
	border-radius:50% 50%;
	font-family:'Nixie One';
}
.Column1 .ImgBox .SaleRate_Mark { top:10px; left:10px; width:250px; height:250px; line-height:250px; font-size:62px; }
.Column2 .ImgBox .SaleRate_Mark { top:10px; left:10px; width:120px; height:120px; line-height:120px; font-size:42px; }
.Column3 .ImgBox .SaleRate_Mark { top:10px; left:10px; width:80px; height:80px; line-height:80px; font-size:24px; }
.Column4 .ImgBox .SaleRate_Mark { top:8px; left:8px; width:70px; height:70px; line-height:70px; font-size:20px; }
.Column5 .ImgBox .SaleRate_Mark { top:6px; left:6px; width:60px; height:60px; line-height:60px; font-size:18px; }
.Column6 .ImgBox .SaleRate_Mark { top:4px; left:4px; width:50px; height:50px; line-height:50px; font-size:14px; }

.SaleRate_Mark.on { display:block; }
.SaleRate_Mark.off { display:none; }


/*************************************************/
/* 상품상세 */
/*************************************************/
.UIF_ProductDetailWrap { position:relative; margin:0 20px; }
.UIF_ProductDetailWrap .delv_price_B strong { font-weight:normal; }
.UIF_ProductDetailWrap .btnTooltip { display:inline-block; position:relative; z-index:10; vertical-align:middle; *display:inline; *zoom:1; }

/* detailArea */
.UIF_detailArea { position:relative; *zoom:1; }
.UIF_detailArea:after { content:""; display:block; clear:both; }

/* imgArea */
.UIF_imgArea { float:left; width:60%; margin:0; }
.UIF_imgArea .keyImg { position:relative; width:100%; margin:0 auto; }
.UIF_imgArea .keyImg img { width:100%; cursor:pointer; }

.UIF_imgArea .listImg { position:absolute; bottom:0; right:0; overflow:hidden; margin:0; text-align:right; }
.UIF_imgArea .listImg ul { margin:0; font-size:0; line-height:0; }
.UIF_imgArea .listImg li { display:block; overflow:hidden; margin:5px; width:75px; font-size:12px; line-height:14px; vertical-align:top; *zoom:1; }
.UIF_imgArea .listImg li img { width:100%; cursor:pointer; opacity:0.5; border-radius:2px; -webkit-transition: all 0.5s; transition: all 0.5s;	 }
.UIF_imgArea .listImg li img:hover { opacity:1; }
.UIF_imgArea .listImg button { position:absolute; top:0; width:21px; height:77px; font-size:0; line-height:0; color:transparent; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/product/btn_product_detail_ctrl.png") no-repeat; }
.UIF_imgArea .listImg .prev { left:0; background-position:0 0; }
.UIF_imgArea .listImg .next { right:0; background-position:-31px 0; }

.UIF_imgArea .ProductPrev { position:absolute; top:10px; left:10px; }
.UIF_imgArea .ProductNext { position:absolute; top:10px; right:10px; }
.UIF_imgArea .ProductPrev a,
.UIF_imgArea .ProductNext a { 
	display:inline-block;
	font-size:12px;
	width:50px;
	height:50px;
	text-align:center;
	line-height:50px;
	color:#000;
	border-radius:50%;
	border:2px solid #000;
	text-decoration:none;
	opacity:0;
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
}
.UIF_imgArea .keyImg:hover .ProductPrev a,
.UIF_imgArea .keyImg:hover .ProductNext a { opacity:0.5; }

.UIF_imgArea .keyImg:hover .ProductPrev a:hover,
.UIF_imgArea .keyImg:hover .ProductNext a:hover { opacity:1; }

.UIF_imgArea .CBWrap { position:relative; margin-top:2px; padding:5px 0; height:20px; vertical-align:top; }
.UIF_imgArea .CBWrap > .ColorChip { float:right; position:relative; height:20px; }
.UIF_imgArea .CBWrap > .Button { float:right; height:20px; vertical-align:middle; }
.UIF_imgArea .CBWrap .ColorChip h3 { float:left; margin:0 5px 0 20px; font-size:11px; line-height:20px; font-weight:normal; }
.UIF_imgArea .CBWrap .ColorChip ul { float:left; position:relative; }
.UIF_imgArea .CBWrap .ColorChip li { float:left; margin:0 0 0 2px; width:20px; height:20px; }
.UIF_imgArea .CBWrap .Button a { margin-left:20px; font-size:11px; line-height:20px; text-decoration:none; }

.UIF_imgArea .CBWrap .ColorChip h3::before,
.UIF_imgArea .CBWrap .Button a::before { vertical-align:middle; padding-right:4px; }

/* infoArea */
.UIF_infoArea { float:left; margin-left:40px; padding-top:20px; width:calc(40% - 40px); border-top:1px solid #909090; }
.UIF_infoArea table.Table_ProductInfo { width:100%; padding:7px 0; }
.UIF_infoArea table.Table_ProductInfo th { padding:7px 0; font-weight:bold; width:100px; vertical-align:middle; text-align:left; }
.UIF_infoArea table.Table_ProductInfo td { position:relative; padding:7px 0; vertical-align:middle; text-align:left; }
.UIF_infoArea table.Table_ProductInfo td.social img { cursor:pointer; }

.UIF_infoArea table.Table_ProductInfo input,
.UIF_infoArea table.Table_ProductInfo select { padding:3px; font-size:12px; border:1px solid #909090; background:#f3f3f3; color:#000000; outline:none; }
.UIF_infoArea table.Table_ProductInfo input { width:70%; }
.UIF_infoArea table.Table_ProductInfo input[type="file"] { background:none; border:none; padding:0; }

.UIF_infoArea table.Table_ProductInfo .fileInfo ul { padding-top:5px; }
.UIF_infoArea table.Table_ProductInfo .fileInfo ul li { font-size:11px; color:#909090; }
.UIF_infoArea table.Table_ProductInfo .fileInfo ul.infoDesc li { color:#909090; }

.UIF_infoArea .guideArea { margin:0; padding:0; font-size:11px; line-height:18px; color:#909090; }
.UIF_infoArea .guideArea > span { display:inline; padding:0; }
.UIF_infoArea .guideArea > span::before { padding-right:3px; }

#totalProducts { position:relative; padding:20px 0; }
#totalProducts .info { padding:0 0 9px; font-size:11px; color:#909090; line-height:18px; }
#totalProducts .info::before { padding-right:3px; }

#totalProducts table { margin:0; }
#totalProducts table .left { text-align:left; }
#totalProducts table .center { text-align:center; }
#totalProducts table .right { padding-right:9px; font-weight:bold; color:#000; text-align:right; }
#totalProducts thead th { height:0; padding:0; font-size:0; line-height:0; *position:absolute;}
#totalProducts tbody th { vertical-align:middle; }
#totalProducts tbody td { padding:9px 0; border-top:1px solid #909090; color:#000; line-height:18px; vertical-align:middle; word-wrap:break-word; word-break:break-all; }
#totalProducts tbody tr td:first-child { padding-left:4px; }
#totalProducts tbody tr:first-child td { border-top:1px solid #909090; }
#totalProducts tbody td p { padding:0 10px 0 0; font-weight:bold; line-height:21px; }
#totalProducts tbody td p.product span { font-weight:normal; color:#909090; line-height:18px; }
#totalProducts tbody td p.product span.soldOut { color:#008bcc; }
#totalProducts tbody td img { vertical-align:middle; }
#totalProducts tbody td .quantity { display:inline-block; position:relative; width:50px; vertical-align:top; *margin:0 4px 0 0; }
#totalProducts tbody td .quantity input { width:22px; height:23px; padding:0 2px 0 3px; line-height:23px; border:1px solid #909090; border-radius:3px 0 0 3px; *margin-top:-1px; }
#totalProducts tbody td .quantity .up { position:absolute; left:28px; top:0; }
#totalProducts tbody td .quantity .down { position:absolute; left:28px; top:12px; }
    #totalProducts tbody.option_products tr td .quantity input,
    #totalProducts tbody.add_products tr td .quantity input { height:19px; line-height:19px; }
    #totalProducts tbody.option_products tr td .quantity .down,
    #totalProducts tbody.add_products tr td .quantity .down { bottom:0; top:auto; vertical-align:middle; }
#totalProducts tbody td .mileage { display:block; white-space:nowrap; }
#totalProducts tbody td .mileage_price { }

#totalProducts tfoot td { padding:20px 10px; color:#ffffff; vertical-align:middle; background:#909090; }
#totalProducts tfoot td .total { color:#fff; }
#totalProducts tfoot td .total em { font-style:normal; font-size:21px; }

#totalProducts + .xans-product-action { margin-top:0; }

/* 소 영역 타이틀 */
.ProMicTitle { margin:0 20px; text-align:center; border-top:1px solid #909090; }
.ProMicTitle h3 { padding:20px 0 10px; font-family: 'Nixie One', 'Nanum Gothic','FontAwesome',Verdana,Dotum,AppleGothic,sans-serif, cursive; font-size:24px; font-weight:normal; }
.ProMicTitle p { padding-bottom:20px; font-size:11px; }
.ProMicTitle a.toggle { position:absolute; right:10px; top:4px; }

/* 추가구성상품 */
.UIF_ComboSet { position:relative; margin:20px 0; font-size:0; }
.UIF_ComboSet .Item { 
	display:inline-block;
	vertical-align:top;
	font-size:12px;;
	margin:10px 20px;
}
.UIF_ComboSet .Item:first-child { clear:both; }
.ComboColumn4 > .Item { width:245px; }
.ComboColumn5 > .Item { width:188px; }
.ComboColumn6 > .Item { width:150px; }
.ComboColumn4 .ImgBox { height:245px; }
.ComboColumn5 .ImgBox { height:188px; }
.ComboColumn6 .ImgBox { height:150px; }

.InfoBox_Option { clear:both; }
.InfoBox_Option table { border:0; overflow:hidden; }
.InfoBox_Option th, .InfoBox_Option td { font-size:11px; font-weight:normal; padding:5px 0; vertical-align:middle; }
.InfoBox_Option th { width:25%; text-align:left; }
.InfoBox_Option td { width:75%; text-align:left; }
.InfoBox_Option td input, select { width:100%; font-size:11px; }
.InfoBox_Option td.selectButton { text-align:center; }

.UIF_ComboSet .product { padding:9px 0 4px; border-top:1px solid #e9e9e9; vertical-align:top; }
.UIF_ComboSet .sizeGuide { padding:5px 10px; height:19px; border-top:1px solid #cacaca; text-align:right; }
.UIF_ComboSet .sizeGuide a { margin:0; padding-left:0; position:static; }
.UIF_ComboSet .sizeGuide a span { display:inline-block; padding:0 0 0 24px; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/product/ico_sizeGuide.gif") no-repeat 0 2px; *zoom:1; }
.UIF_ComboSet .seperate,
.UIF_ComboSet .info { padding:0 0 0 58px; font-size:11px; color:#8f8f91; }

.UIF_ComboSet.normal { border:0; }
.UIF_ComboSet.normal th { border-right:1px solid #cacaca; }
.UIF_ComboSet.normal tr:first-child th,
.UIF_ComboSet.normal tr:first-child td { padding-top:11px; padding-bottom:11px; border-bottom:1px solid #cacaca; background:#ffffff; }
.UIF_ComboSet.normal .option th { padding-top:0; }
.UIF_ComboSet.normal .option td { padding:1px 10px 7px; }
.UIF_ComboSet.normal .option tr:first-child th { padding-top:5px; padding-bottom:6px; border-bottom:0; background:none; }
.UIF_ComboSet.normal .option tr:first-child td { padding-top:1px; padding-bottom:6px; border-bottom:0; background:none; }
.UIF_ComboSet.normal .product { margin:1px 0 0; padding:0; border:1px solid #cacaca; }

.UIF_ComboSet .xans-product-addoption td .inputWrap { display:inline-block; width:273px; }

.UIF_ComboSet.hide .product { display:none; }

.UIF_infoArea .xans-product-option tr th { padding:5px 0 5px 4px; }
.UIF_infoArea .xans-product-option tr td { padding:4px 10px 4px 0; }
.UIF_infoArea .xans-product-option tr:first-child th,
.UIF_infoArea .xans-product-option .xans-product-fileoption th { padding-top:14px; border-top:1px solid #e8e8e8; }
.UIF_infoArea .xans-product-option tr:first-child td,
.UIF_infoArea .xans-product-option .xans-product-fileoption td { padding-top:10px; border-top:1px solid #e8e8e8; }
.UIF_infoArea .xans-product-option td.selectButton { text-align:right; }

.UIF_infoArea .xans-product-addoption td .inputWrap { display:inline-block; width:280px; }
.UIF_infoArea .xans-product-addoption .txtByte { font-size:11px; vertical-align:middle; letter-spacing:-1px; }
.UIF_infoArea .xans-product-addoption .txtByte strong { color:#008bcc; }

/* 버튼 */
.ProductButton { }
.ProductButton .btnArea { overflow:hidden; margin:0; }
.ProductButton .btnArea a { float:left; width:130px; text-align:center; padding:20px 0; margin:0 2.5px; }
.ProductButton .btnArea a:first-child { margin-left:0; }
.ProductButton .btnArea a:last-child { margin-right:0; }

/* eventArea */
.xans-product-detail .eventArea { color:#000000; }
.xans-product-detail .eventArea h3 { padding:0 0 0 9px; border-top:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8; font-size:12px; color:#008bcc; line-height:39px; }
.xans-product-detail .eventArea .event { padding:27px 10px 46px 9px; color:#000000; line-height:18px; }

/* xans-myshop-benefit */
.xans-myshop-benefit { margin:20px 0; background:#909090; }
.xans-myshop-benefit .thanks { padding:7px 0 11px 9px; border:1px solid #d6d4d4; border-bottom:1px solid #e8e7e7; color:#000000; background:#fbfbfb; }
.xans-myshop-benefit .thanks img { margin:-1px 6px 0 0; vertical-align:middle; }
.xans-myshop-benefit .myInfo { overflow:hidden; padding:9px 10px 10px 100px; border:1px solid #d6d4d4; border-top:0; }
.xans-myshop-benefit .myInfo p { color:#909090; line-height:18px; }
.xans-myshop-benefit .myThumb { float:left; margin:0 0 0 -91px; }
.xans-myshop-benefit .member { margin:2px 0 19px; }
.xans-myshop-benefit .member strong { color:#000000; }
.xans-myshop-benefit .member em { font-style:normal; color:#000000; }

/* 상품 미리보기 이미지 */
#image_zoom_small { display:block; position:absolute; z-index:999; background:#fff; border:1px solid #aaa; filter:alpha(opacity=50); opacity:0.5; }
#zoom_wrap { position:absolute; top:30px; left:380px; z-index:100; }
.image_zoom_large { position:absolute; z-index:999; width:350px; height:350px; overflow:hidden; background:#fff; border:1px solid #aaa; }
.image_zoom_large .image_zoom_large_relative { position:relative; }
.image_zoom_large .image_zoom_large_relative #zoom_image { position:absolute; z-index:99; }

#NaverChk_Button { clear:both; margin:10px 0 0; float:right; }

#divNvPointInfo { display:none; position:absolute; z-index:99; width:245px; padding:10px; color:#777; font-size:11px; background:#fff; border:1px solid #5B9761; }
#divNvPointInfo a { display:block; padding:5px 0 0; color:#1ec228; }
#divNvPointInfo a img { vertical-align:middle; }
#imgNaverMileageHelp { cursor:pointer; }

/* 세트상품 및 추가구성상품 */
.UIF_infoArea .productSet { margin:10px 0 0; border:1px solid #cacaca; }
.UIF_infoArea .productSet table { table-layout:fixed; margin:0; }
.UIF_infoArea .productSet th { width:100px; padding:5px 5px 5px 8px; color:#000000; }
.UIF_infoArea .productSet td { padding:5px 10px; color:#000000; }
.UIF_infoArea .productSet td.del { text-decoration:line-through; }
.UIF_infoArea .productSet td.price { font-weight:bold; color:#ff8a56; }
.UIF_infoArea .productSet td.sale { font-weight:bold; color:#f95959; }
.UIF_infoArea .productSet td.thumbnail img { width:78px; height:108px; margin:3px 0 7px; border:1px solid #ececec; }
.UIF_infoArea .productSet .product { padding:9px 0 4px; border-top:1px solid #e9e9e9; vertical-align:top; }
.UIF_infoArea .productSet .sizeGuide { padding:5px 10px; height:19px; border-top:1px solid #cacaca; text-align:right; }
.UIF_infoArea .productSet .sizeGuide a { margin:0; padding-left:0; position:static; }
.UIF_infoArea .productSet .sizeGuide a span { display:inline-block; padding:0 0 0 24px; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/product/ico_sizeGuide.gif") no-repeat 0 2px; *zoom:1; }
.UIF_infoArea .productSet .seperate,
.UIF_infoArea .productSet .option { vertical-align:top; *zoom:1; }
.UIF_infoArea .productSet .option td { padding:4px 10px; }
.UIF_infoArea .productSet .info { padding:0 0 0 58px; font-size:11px; color:#8f8f91; }
.UIF_infoArea .productSet .selectButton { text-align:right; }

.UIF_infoArea .productSet .recommend { position:relative; padding:0 0 0 8px; font-size:11px; color:#909090; line-height:38px; background:#ffffff; }
.UIF_infoArea .productSet .recommend strong { padding:0 7px 0 0; font-size:12px; color:#000000; }
.UIF_infoArea .productSet .recommend .toggle { position:absolute; right:10px; top:4px; }

.UIF_infoArea .productSet.normal { border:0; }
.UIF_infoArea .productSet.normal th { border-right:1px solid #cacaca; }
.UIF_infoArea .productSet.normal tr:first-child th,
.UIF_infoArea .productSet.normal tr:first-child td { padding-top:11px; padding-bottom:11px; border-bottom:1px solid #cacaca; background:#ffffff; }
.UIF_infoArea .productSet.normal .option th { padding-top:0; }
.UIF_infoArea .productSet.normal .option td { padding:1px 10px 7px; }
.UIF_infoArea .productSet.normal .option tr:first-child th { padding-top:5px; padding-bottom:6px; border-bottom:0; background:none; }
.UIF_infoArea .productSet.normal .option tr:first-child td { padding-top:1px; padding-bottom:6px; border-bottom:0; background:none; }
.UIF_infoArea .productSet.normal .product { margin:1px 0 0; padding:0; border:1px solid #cacaca; }

.UIF_infoArea .productSet .xans-product-addoption td .inputWrap { display:inline-block; width:273px; }

.UIF_infoArea .productSet.hide .product { display:none; }

/* 배송비 차등부과 레이어 */
.differentialShipping { display:none; overflow:hidden; position:absolute; left:50%; top:17px; z-index:100; width:350px; margin:0 0 0 -176px; }
.differentialShipping h3.title { height:35px; padding:0 35px 0 19px; border:0; color:#fff; font-size:14px; line-height:35px; background:#495164; }
.differentialShipping .content { padding:12px 18px 14px 18px; border:1px solid #909090; border-top:0; text-align:center; background:#fff; }
.differentialShipping .close { position:absolute; right:14px; top:12px; }
.differentialShipping .close img { cursor:pointer; }

.differentialShipping .content ul { color:#909090; line-height:25px; }
.differentialShipping .content li { overflow:hidden; }
.differentialShipping .content li strong { float:left; font-weight:normal; }
.differentialShipping .content li span { float:right; color:#2e2e2e; }
.differentialShipping .content .info { margin:7px 0 0; padding:7px 0 0; border-top:1px dotted #b0b1b3; font-size:11px; color:#80aeef; text-align:right; }

/* SNS 상품 홍보 */
.xans-product-customsns,
.xans-product-customsns ul,
.xans-product-customsns li { display:inline; vertical-align:middle; }
.xans-product-customsns img { margin-bottom:2px; }

/* 회원등급별 할인가 적용 */
.UIF_infoArea table.Table_ProductInfo td ul.discountMember > li { position:relative; float:left; }
.UIF_infoArea table.Table_ProductInfo td ul.discountMember li a { display:block; margin:0 4px 4px 0; }
.UIF_infoArea table.Table_ProductInfo td ul.discountMember .discount_layer { z-index:10; overflow:auto; position:absolute; left:-140px; top:19px; margin-top:7px; padding:15px; min-width:300px; max-height:400px; border:1px solid #565960; background:#fff; }
.UIF_infoArea table.Table_ProductInfo td ul.discountMember .discount_layer h3 { margin:0 0 8px; padding:0 10px; font-size:12px; border-bottom:0; background:url("http://img.echosting.cafe24.com/skin/admin_ko_KR/product/ico_layer_title.gif") no-repeat 0 50%; }
.UIF_infoArea table.Table_ProductInfo td ul.discountMember .discount_layer p,
.UIF_infoArea table.Table_ProductInfo td ul.discountMember .discount_layer ul { padding:0 10px; }
.UIF_infoArea table.Table_ProductInfo td ul.discountMember .discount_layer p strong { color:#0088d4; }
.UIF_infoArea table.Table_ProductInfo td ul.discountMember .discount_layer ul li { float:none; padding:0 0 5px 5px; line-height:1.4em; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/board/ico_function.gif") no-repeat 0 5px; }
.UIF_infoArea table.Table_ProductInfo td ul.discountMember .discount_layer thead th { padding:0; height:0; font-size:0; line-height:0; }
.UIF_infoArea table.Table_ProductInfo td ul.discountMember .discount_layer tbody { border:1px solid #d7d5d6; }
.UIF_infoArea table.Table_ProductInfo td ul.discountMember .discount_layer th { padding:5px 0 5px 15px; background:#fbf9fa; border-right:1px solid #e8e8e8; color:#363636; }
.UIF_infoArea table.Table_ProductInfo td ul.discountMemberi .discount_layer.member_rating th { width:50px; }
.UIF_infoArea table.Table_ProductInfo td ul.discountMember .discount_layer th,
.UIF_infoArea table.Table_ProductInfo td ul.discountMember .discount_layer td { height:15px; border-bottom:1px solid #e8e8e8; }
.UIF_infoArea table.Table_ProductInfo td ul.discountMember .discount_layer td { padding:5px 15px 5px 5px; text-align:right; }
.UIF_infoArea table.Table_ProductInfo td ul.discountMember .discount_layer tr:last-of-type th,
.UIF_infoArea table.Table_ProductInfo td ul.discountMember .discount_layer tr:last-of-type td { border-bottom:0; }
.UIF_infoArea table.Table_ProductInfo td ul.discountMember .discount_layer .close { position:absolute; right:15px; top:15px; border:0; }
.UIF_infoArea table.Table_ProductInfo td ul.discountMember .arrow { z-index:20; position:absolute; left:46%; top:22px; }

/*************************************************/
/* 상세페이지 하단 관련상품 영역 */
/*************************************************/
.UIF_ProductRelation { padding:40px 0 20px 0; }

/*************************************************/
/* 상세페이지 하단 상품정보 영역 */
/*************************************************/
.UIF_ProductAddInfo { clear:both; margin:0 20px; }
#prdDetail, #prdInfo, #prdReview, #prdQnA { padding:40px 0 20px 0; }
.UIF_ProductAddInfo .ProMicTitle { margin:0; }
.UIF_ProductAddInfo ul.ProductTerms { font-size:0; line-height:0; }
.UIF_ProductAddInfo .ProductTerms li { 
	position:relative;
	display:inline-block;
	vertical-align:top;
	margin-right:10px;
	width:360px;
	background:#f6f6f6;
	font-size:11px;
	line-height:14px;
}
.UIF_ProductAddInfo .ProductTerms li:last-child { margin-right:0; }
.UIF_ProductAddInfo .ProductTerms li h4 { padding:60px 20px 20px 20px; text-align:center; font-size:12px; font-weight:normal; background:#909090; color:#fff; }
.UIF_ProductAddInfo .ProductTerms li h4::before { position:absolute; top:30px; left:calc(50% - 18px); font-size:36px; color:#ffffff; }
.UIF_ProductAddInfo .ProductTerms li .TermsDesc { padding:20px; height:130px; overflow-y:auto; }
.UIF_ProductAddInfo .ProductTerms li .TermsDesc p { word-break: break-all; }

/*************************************************/
/* 상세페이지 하단 게시판 영역 */
/*************************************************/
.UIF_ProductAddInfo div.UIF_Board p.nodata { margin:15px 0 0; border:1px solid #f3f3f3; font-weight:bold; line-height:39px; text-align:center; }

.UIF_ProductAddInfo table.UIF_Board { font-size:12px; line-height:140%; }
.UIF_ProductAddInfo table.UIF_Board thead { display:none; }
.UIF_ProductAddInfo table.UIF_Board th { padding:10px 5px; font-weight:normal; background:#909090; color:#ffffff; }
.UIF_ProductAddInfo table.UIF_Board td { padding:10px 5px; text-align:center; vertical-align:middle; border-bottom:1px solid #f3f3f3; }
.UIF_ProductAddInfo table.UIF_Board tr:first-child td { border-top:1px solid #f3f3f3; }
.UIF_ProductAddInfo table.UIF_Board a,
.UIF_ProductAddInfo table.UIF_Board a:hover { color:#000000; }
.UIF_ProductAddInfo table.UIF_Board .subject { padding-left:8px; color:#f76560; text-align:left; word-break:break-all; }
.UIF_ProductAddInfo table.UIF_Board .subject img { vertical-align:middle; margin:0 1px; }
.UIF_ProductAddInfo table.UIF_Board .txtLess { color:#939393; font-size:11px; }
.UIF_ProductAddInfo table.UIF_Board td .view { padding:16px 19px 0; line-height:18px; text-align:left; }

.UIF_ProductAddInfo div.UIF_Board .BoardFooter { padding-top:20px; text-align:right; }
.UIF_ProductAddInfo div.UIF_Board .BoardFooter > div { display:inline-block; }
.UIF_ProductAddInfo div.UIF_Board .BoardFooter .btnArea { padding-left: 30px; text-align:right; }
.UIF_ProductAddInfo div.UIF_Board .BoardFooter .btnArea img { margin:0 0 0 4px; }
.UIF_ProductAddInfo div.UIF_Board .BoardFooter .UIF_PageSmall { vertical-align:middle; }

#commentWriteForm_4 { padding:0 19px; }
#SecretForm_4 { background:#fbf9fa; }
#SecretForm_4 .view { padding:8px 0 7px; }
#SecretForm_4 input { width:41px; height:24px; margin:0 0 0 6px; border:0; font-size:0; line-height:0; cursor:pointer; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/board/btn_ico_submit.gif") no-repeat 0 0; }
#SecretForm_4 input#secure_password { width:130px; height:18px; margin-left:11px; padding:2px 2px 2px 4px; border:1px solid #d9d9d9; font-size:12px; line-height:14px; cursor:text; background:#fff; }
#product-review-read td,
#product-qna-read td { padding:0; }
#product-review-read td #SecretForm_4 .view { padding-left:79px; }
#product-qna-read td #SecretForm_4 .view { padding-left:213px; }

.UIF_ProductAddInfo .UIF_BoardComment { padding:0 19px; }
.UIF_ProductAddInfo .UIF_BoardComment li { position:relative; overflow:hidden; margin:10px 0 0 0; padding:12px 0 0; border-top:1px solid #d7d5d6; color:#000000; text-align:left; line-height:14px; }
.UIF_ProductAddInfo .UIF_BoardComment li:first-child { margin-top:0; }
.UIF_ProductAddInfo .UIF_BoardComment li .comment { margin:9px 0 0; padding:16px 0 15px 9px; border-top:1px solid #e9e9e9; line-height:18px; word-break:break-all; }
.UIF_ProductAddInfo .UIF_BoardComment li .name { margin:0 21px 0 0; }
.UIF_ProductAddInfo .UIF_BoardComment li .name input { width:13px; height:13px; margin:0 2px 0 0; vertical-align:-2px; *vertical-align:2px; }
.UIF_ProductAddInfo .UIF_BoardComment li .date { margin:0 10px 0 0; font-size:11px; }
.UIF_ProductAddInfo .UIF_BoardComment li .grade { margin:0 10px 0 0; }
.UIF_ProductAddInfo .UIF_BoardComment li .button { position:absolute; right:0; top:6px; }

.UIF_ProductAddInfo .memoCont { margin:20px 15px; padding:10px 20px 15px 20px; border:1px solid #e9e9e9; color:#000000; text-align:left; background:#ffffff; }
.UIF_ProductAddInfo .memoCont .user { overflow:hidden; padding:0 90px 0 0; }
.UIF_ProductAddInfo .memoCont .user input,
.UIF_ProductAddInfo .memoCont .user textarea { border:1px solid #d9d9d9; }
.UIF_ProductAddInfo .memoCont .user input { width:135px; height:18px; margin:0 10px 0 9px; padding:2px 2px 2px 4px; }
.UIF_ProductAddInfo .memoCont .user .secret input { width:13px; height:13px; margin-right:3px; }
.UIF_ProductAddInfo .memoCont .user .secret { margin:0 20px 0 0; }
.UIF_ProductAddInfo .memoCont .user textarea { float:left; width:100%; padding:2px 0; height:44px; text-indent:4px; *margin-right:10px; }
.UIF_ProductAddInfo .memoCont .user a { float:right; margin:0 -90px 0 0; }
.UIF_ProductAddInfo .memoCont .nameArea { display:block; margin:0 0 10px; }
.UIF_ProductAddInfo .memoCont .rating { margin:12px 0 0; }
.UIF_ProductAddInfo .memoCont .rating input { width:13px; height:13px; margin:0 2px 0 0; padding:0; border:0; vertical-align:-2px; *vertical-align:1px; }
.UIF_ProductAddInfo .memoCont .rating label { padding:0 10px 0 0; }
.UIF_ProductAddInfo .memoCont .rating em { font-style:normal; }
.UIF_ProductAddInfo .memoCont .text { margin:5px 0 0; font-size:11px; }
.UIF_ProductAddInfo .memoCont .text span { color:#008bcc; }
.UIF_ProductAddInfo .memoCont .captcha { margin:8px 0 0; padding:10px 0 0; border-top:1px solid #e9e9e9; font-size:11px; color:#909090; }
.UIF_ProductAddInfo .memoCont .captcha img { vertical-align:middle; }
.UIF_ProductAddInfo .memoCont .captcha input { margin:0 10px 0 20px; font-size:12px; }

.UIF_ProductAddInfo table.UIF_Board td .view + form .memoCont { margin-top:0; }

/* 댓글의 댓글 */
.UIF_ProductAddInfo .UIF_BoardComment li.replyArea { margin:-1px 0 0; padding:10px 0 7px 33px; border:1px solid #e9e9e9; background:url("http://img.echosting.cafe24.com/skin/admin_ko_KR/board/ico_comment.gif") no-repeat 20px 15px; }
.UIF_ProductAddInfo .UIF_BoardComment li.replyArea .commentSecret { margin-right:30px; }
.UIF_ProductAddInfo .UIF_BoardComment li.replyArea .comment { margin:7px 0 0; padding:0; border-top:0; }

/* 권한없을시 */
.UIF_ProductAddInfo .noAccess { margin:15px 0 10px; border:1px solid #cacaca; font-weight:bold; color:#008bcc; line-height:39px; text-align:center; }

/* 미성년자 */
.UIF_ProductAddInfo .minor { margin:15px 0 0; padding:35px 0 24px; border:1px solid #cacaca; font-weight:bold; color:#000000; line-height:14px; text-align:center; }
.UIF_ProductAddInfo .minor p:first-child img { margin:-11px 8px 0 0; vertical-align:top; }
.UIF_ProductAddInfo .minor strong { color:#008bcc; }
.UIF_ProductAddInfo .minor .button { margin:-7px 0 0; }

/* 비밀글 관련 */
.UIF_ProductAddInfo .commentSecret { margin:10px 10px 5px 0; padding:10px 15px; border:1px solid #e9e9e9; background-color:#ffffff; color:#000000; }
.UIF_ProductAddInfo .commentSecret input[type=password] { height:20px; padding:2px 2px 2px 4px; border:1px solid #d9d9d9; }

/*************************************************/
/* 게시판 하단 검색 + 페이징 영역 */
/*************************************************/
.UIF_Board_Footer { position:relative; margin:20px 0; padding:20px 0; border-top:1px solid #909090; }
.UIF_Board_Footer div.UIF_BoardSearch { float:left; vertical-align:top; }
.UIF_Board_Footer div.UIF_PageSmall { float:right; vertical-align:top; }


/*************************************************/
/* 게시판 하단 검색
/*************************************************/
.UIF_BoardSearch { vertical-align:middle; }
.UIF_BoardSearch input { width:150px; border:1px solid #909090; height:15px; font-size:11px; line-height:11px; padding:3px 5px; outline:none; }
.UIF_BoardSearch select { width:80px; border:1px solid #909090; height:23px; font-size:11px; padding:3px 5px; outline:none; }
.UIF_BoardSearch a { padding:5px 10px; }


/*************************************************/
/* 페이징 */
/*************************************************/
/* 기본형 */
.UIF_Page { text-align:center; font-size:0; line-height:0; }
.UIF_Page > p,
.UIF_Page > ol,
.UIF_Page > ol li { display:inline-block; vertical-align:top; }
.UIF_Page p { margin:0 2px; width:50px; height:50px; *display:inline; *zoom:1; }
.UIF_Page p a { display:block; width:100%; height:100%; font-size:14px; text-decoration:none; }
.UIF_Page p a::before {
	display:block;
	width:100%; height:100%;
	line-height:50px;
	vertical-align:middle;
	text-align:center;
	color:#fff;
	background:#cacaca;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.UIF_Page p a:hover::before { background:#fff; color:#000; }
.UIF_Page ol { font-size:0; line-height:0; vertical-align:top; *display:inline; *zoom:1; *margin:0; }
.UIF_Page li { width:50px; height:50px; text-align:center; }
.UIF_Page li a { 
	display:block;
	width:100%;
	height:100%;
	font-size:14px;
	text-decoration:none;
	vertical-align:middle;
	line-height:50px;
	color:#fff;
	background:#cacaca;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.UIF_Page li a:hover { background:#fff; color:#000; }
.UIF_Page li a.this { color:#fff; background:#000; }
.UIF_Page li a.this:hover { }
.UIF_Page a.nolink { cursor:default; }

/* 축소형 */
.UIF_PageSmall { text-align:center; }
.UIF_PageSmall > p,
.UIF_PageSmall > ol,
.UIF_PageSmall > ol li { display:inline-block; vertical-align:top; }
.UIF_PageSmall p { margin:0 1px; width:23px; height:23px; *display:inline; *zoom:1; }
.UIF_PageSmall p a { display:block; width:100%; height:100%; font-size:12px; text-decoration:none; }
.UIF_PageSmall p a::before {
	display:block;
	width:100%; height:100%;
	line-height:23px;
	vertical-align:middle;
	text-align:center;
	color:#fff;
	background:#cacaca;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.UIF_PageSmall p a:hover::before { background:#fff; color:#000; }
.UIF_PageSmall ol { font-size:0; line-height:0; vertical-align:top; *display:inline; *zoom:1; *margin:0; }
.UIF_PageSmall li { width:23px; height:23px; text-align:center; }
.UIF_PageSmall li a { 
	display:block;
	width:100%;
	height:100%;
	font-size:12px;
	text-decoration:none;
	vertical-align:middle;
	line-height:23px;
	color:#fff;
	background:#cacaca;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.UIF_PageSmall li a:hover { background:#fff; color:#000; }
.UIF_PageSmall li a.this { color:#fff; background:#000; }
.UIF_PageSmall li a.this:hover { }
.UIF_PageSmall a.nolink { cursor:default; }

/*************************************************/
/* 결제 스탭 */
/*************************************************/
.OrderStep {
	margin:20px 0 40px 0;
	font-size:0;
	line-height:0;
	text-align:center;
	background:url("/UI_FANDANGO/img/uif_pointbg02.png") repeat;
	padding:20px 0;
}
.OrderStep li {
	display:inline-block;
	padding:10px 20px;
	text-align:center;
	color:#f3f3f3;
	font-size:12px;
	line-height:16px;
}
.OrderStep li:after {
	content: "\f054";
	padding-left:40px;
}
.OrderStep li:last-child::after {
	content: "";
	padding-left:0;
}
.OrderStep li.ActiveStep {
	color:#ef4d27;
}

/*************************************************/
/* 폼 */
/*************************************************/
input.typeA { }
input.typeB { padding:5px; border:1px solid #909090; }

/*************************************************/
/* 버튼 */
/*************************************************/
[class*="UIF_BtnType"] {
	display:inline-block;
	font-family:'Nanum Gothic','FontAwesome',Verdana,Dotum,AppleGothic,sans-serif;
	opacity: 1;
	border-radius:2px;
	-webkit-transform: all 0.3s ease;
	-moz-transform: all 0.3s ease;
	-ms-transform: all 0.3s ease;
	transition: all .15s ease;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
}
[class*="UIF_BtnType"]:hover { text-decoration:none; }

.UIF_BtnTypeA { font-size:14px; padding:7px 20px; }
.UIF_BtnTypeB { font-size:12px; padding:5px 15px; }
.UIF_BtnTypeC { font-size:11px; padding:5px 10px; }
.UIF_BtnTypeD { font-size:11px; padding:3px 5px; }
.UIF_BtnTypeBuy { font-size:14px; padding:0; }
.UIF_BtnTypeCart { font-size:14px; padding:15px 20px; width:100px; }
.UIF_BtnTypeCartSmall { font-size:11px; padding:3px; width:40px; }

.BSet_Default { color:#fff; background:#909090; }
.BSet_Default:hover { color:#fff; background:#afaba7; }
.BSet_Black01 { color:#fff; background:#000000; }
.BSet_Black01:hover { color:#fff; background:#444444; }
.BSet_White01 { color:#b90505; background:#fff;border: 1px solid #444444 }
.BSet_White01:hover { color:#fff; background:#b90505; }
.BSet_White02 { color:#000000; background:#fff;border: 1px solid #444444 }
.BSet_White02:hover { color:#fff; background:#444444; }
.BSet_Blue01 { color:#fff; background:#386890; }
.BSet_Blue01:hover { color:#fff; background:#3f75a2; }
.BSet_Green01 { color:#fff; background:#97d366; }
.BSet_Green01:hover { color:#fff; background:#85b35f; }
.BSet_Orange01 { color:#fff; background:#ef4d27; }
.BSet_Orange01:hover { color:#fff; background:#f47a5e; }

/*************************************************/
/* 공백 */
/*************************************************/
.TempHeight20 { clear:both; height:20px; }
.TempHeight30 { clear:both; height:30px; }
.TempHeight50 { clear:both; height:50px; }
.TempHeight70 { clear:both; height:70px; }
.TempHeight100 { clear:both; height:100px; }

.marginL20 { margin-left:20px; }
