@charset "utf-8";
.lt_gal .con_tit{text-align:center;}
.lt_gal  ul{padding:0px 0 0px}
.lt_gal  ul:after {display:block;visibility:hidden;clear:both;content:""} 
.lt_gal li{padding-bottom:20px;width:33.333%;float:left;padding:5px;}
.lt_gal li:after {display:block;visibility:hidden;clear:both;content:""} 
.lt_gal li .lt_wr{position:relative}
.lt_gal li .lt_txt{padding: 10px 20px}
.lt_gal li .lt_txt .lt_detail{line-height:1.5em;margin-top:5px;color:#666}
.lt_gal li .lt_img{position:relative;background:#bcbcbc;}
.lt_gal li .lt_img img {width:100%;height:auto}
.lt_gal li .lt_txt{width:100%;position:absolute;bottom:0;left:0;background:#000;background:rgba(0,0,0,0.6)}
.lt_gal li .lt_txt .lt_tit{display:block;line-height:18px;color:#fff;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.lt_gal li .lt_img{width:100%}


@media (max-width: 640px){
.lt_gal li{width:100%;padding:10px 0}
}