@charset "utf-8";


/* ### 기본 스타일 커스터마이징 시작 ### */

/* 게시판 버튼 */
/* 목록 버튼 */
#bo_list a.btn_b01 {}
#bo_list a.btn_b01:focus, #bo_list .btn_b01:hover {}
#bo_list a.btn_b02 {}
#bo_list a.btn_b02:focus, #bo_list .btn_b02:hover {}
#bo_list a.btn_admin {} /* 관리자 전용 버튼 */
#bo_list a.btn_admin:focus, #bo_list a.btn_admin:hover {}

/* 읽기 버튼 */
#bo_v a.btn_b01 {}
#bo_v a.btn_b01:focus, #bo_v .btn_b01:hover {}
#bo_v a.btn_b02 {}
#bo_v a.btn_b02:focus, #bo_v .btn_b02:hover {}
#bo_v a.btn_admin {} /* 관리자 전용 버튼 */
#bo_v a.btn_admin:focus, #bo_v a.btn_admin:hover {}

/* 쓰기 버튼 */
#bo_w .btn_confirm {} /* 서식단계 진행 */
#bo_w .btn_submit {width:100px;height:40px;font-weight:bold}
#bo_w .btn_cancel {height:40px;line-height:40px;font-weight:bold;padding:0 10px}
#bo_w .btn_frmline {} /* 우편번호검색버튼 등 */

@media (max-width: 640px){
    #bo_w .btn_submit{width:50%}
}

/* 기본테이블 */
/* 목록 테이블 */
#bo_list .tbl_head01 {}
#bo_list .tbl_head01 caption {}
#bo_list .tbl_head01 thead th {}
#bo_list .tbl_head01 thead a {}
#bo_list .tbl_head01 thead th input {} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
#bo_list .tbl_head01 tfoot th {}
#bo_list .tbl_head01 tfoot td {}
#bo_list .tbl_head01 tbody th {}
#bo_list .tbl_head01 td {}
#bo_list .tbl_head01 a {}
#bo_list td.empty_table {}

/* 읽기 내 테이블 */
#bo_v .tbl_head01 {}
#bo_v .tbl_head01 caption {}
#bo_v .tbl_head01 thead th {}
#bo_v .tbl_head01 thead a {}
#bo_v .tbl_head01 thead th input {} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
#bo_v .tbl_head01 tfoot th {}
#bo_v .tbl_head01 tfoot td {}
#bo_v .tbl_head01 tbody th {}
#bo_v .tbl_head01 td {}
#bo_v .tbl_head01 a {}
#bo_v td.empty_table {}

/* 쓰기 테이블 */
#bo_w{margin:0 20px}
#bo_w table {text-align:left;margin:10px 0}
#bo_w caption{position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#bo_w .frm_address {}
#bo_w .frm_file {}
#bo_w .frm_info {}

#bo_w .tbl_frm01 {}
#bo_w .tbl_frm01 caption {}
#bo_w .tbl_frm01 th {}
#bo_w .tbl_frm01 td {}
#bo_w .tbl_frm01 textarea, #bo_w .frm_input {}
#bo_w .tbl_frm01 textarea {}
/*
#bo_w .tbl_frm01 #captcha {}
#bo_w .tbl_frm01 #captcha input {}
*/
#bo_w .tbl_frm01 a {}

#bo_w .required, #bo_w textarea.required {}



/* ### 기본 스타일 커스터마이징 끝 ### */

/* 게시판 목록 */
#bo_list .td_chk {width:30px;text-align:center}
#bo_list .td_group {width:100px;text-align:center}
#bo_list .td_board {width:120px;text-align:center}
#bo_list .td_num {width:50px;text-align:center}
#bo_list .td_numbig {width:80px;text-align:center}
#bo_list .td_mb_id {width:100px;text-align:center}
#bo_list .td_nick {width:100px;text-align:center}
#bo_list .td_name {width:100px;text-align:left}
#bo_list .td_date {width:60px;text-align:center}
#bo_list .td_datetime {width:150px;text-align:center}
#bo_list .td_mng {width:80px;text-align:center}

#bo_cate  h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#bo_cate  ul {list-style:none;display:inline-block;margin:0;padding: 0}
#bo_cate  ul:after {display:block;visibility:hidden;clear:both;content:""}
#bo_cate  ul li {display:inline-block;padding:0 3px 0 ;font-size:0.917em;line-height:24px;font-family:'Nanum Gothic',sans-serif}
#bo_cate  ul li:first-child{background:none}
#bo_cate  a {border:2px solid #fff;text-decoration:none;color:#656565;display:inline-block;margin:0 5px;transition: all 0.3s ease;letter-spacing: 1.5px;}
#bo_cate  a:hover,#bo_cate  #bo_cate_on{border-bottom:2px solid #993355;color:#993355}

/* 관리자일 때 */
#bo_list_admin{padding:20px}
#bo_list_admin th label {position:absolute;font-size:0;line-height:0;overflow:hidden}

#bo_list_admin th:nth-of-type(1) {width:30px}
#bo_list_admin td:nth-of-type(1) {text-align:center}
#bo_list_admin td:nth-of-type(3) {width:100px;text-align:center}

/* 관리자가 아닐 때 */
#bo_list td:nth-of-type(2) {text-align:center}

/* 게시판 목록 공통 */
.bo_fx {margin-bottom:5px;padding:5px 0}
.bo_fx:after {display:block;visibility:hidden;clear:both;content:""}
.bo_fx ul {margin:0;padding:0;list-style:none;text-align:right}
#bo_list_total {float:left;padding:0;height:2.5em;line-height:2.5em}
.btn_bo_user {float:right;margin:0;padding:0;list-style:none}
.btn_bo_user li {float:left;margin-left:5px}
.btn_bo_adm {float:left}
.btn_bo_adm li {float:left;margin-right:5px;vertical-align:top;}
.btn_bo_adm li a{padding:8px;border:0;background:#eee;color:#777;text-decoration:none;vertical-align:middle;display:inline-block}
.btn_bo_adm input {padding:8px;border:0;background:#000;color:#fff;text-decoration:none;vertical-align:middle}
.bo_notice td {background:#f7f7f7}
.bo_notice td a {font-weight:bold}
.td_num strong {color:#000}
a.bo_cate_link {color: #fff;background: #333;font-size: 0.92em;padding: 3px 5px;display: inline-block;}
.bo_current {color:#e8180c}
.td_subject img {margin-left:3px}
#bo_list .cnt_cmt {display:inline-block;margin:0 0 0 3px;font-weight:bold}
#bo_list {padding:20px}
#bo_sch {margin-bottom:10px;padding-top:5px;text-align:center}
#bo_sch select{height:30px;}
#bo_sch .btn_sch{height:30px;border:0;background:#444;color:#fff;padding:0 5px}

/* 게시판 쓰기 */
#bo_w #wr_email, #bo_w #wr_homepage, #bo_w #wr_subject {width:100%}

#char_count_desc {display:block;margin:0 0 5px;padding:0}
#char_count_wrap {margin:5px 0 0;text-align:right}
#char_count {font-weight:bold}

#wr_email, #wr_homepage, #wr_subject, .wr_link {width:100%}

/* 게시판 읽기 */
#bo_v {margin-bottom:15px;padding:20px;text-align:left;}
#bo_v h1{text-align:center;}
#bo_v_table {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#bo_v .bo_cate_link{color: #fff;background: #333;font-size: 0.92em;padding: 3px 5px;margin-bottom: 10px;display: inline-block;}
#bo_v .bo_cate_link:hover{background:#993355;color:#fff;}

#bo_v_table {padding:0 10px;color:#999;font-size:0.9em;font-weight:bold}

#bo_v_title{display:block;font-size:2.5em;font-family:'Nanum Gothic',sans-serif;font-weight:bold;line-height:1.3em;border-bottom:1px solid #ddd;padding-bottom:10px}

#bo_v_info {padding:25px;border:1px solid #ddd;margin-bottom:30px;;border-bottom:1px solid #ddd}
#bo_v_info:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_info h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#bo_v_info {}
#bo_v_info strong {display:inline-block;font-weight:normal}
#bo_v_info .info_name{font-weight:bold;font-size:1.25em;margin:15px 0 10px}
#bo_v_info .info_name a{font-weight:bold}
#bo_v_info .info_date{font-size:0.92em;color:#888}
#bo_v_info .info_reply,#bo_v_info .info_view{font-size:0.92em;color:#888;margin:5px 0}
.bo_v_profile{width:50%;float:left;;position:relative;min-height:90px}
.bo_v_profile .profile_img{position:absolute;top:0;left:0}

#bo_v_scrap{text-align:right;margin:10px 0}
#bo_v_scrap a{display:inline-block;padding:0 10px;height:30px;line-height:30px;border:1px solid #ddd;text-align:center}

#bo_v_file {font-size:0.92em}
#bo_v_file h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#bo_v_file ul {margin:0;padding:0;list-style:none}
#bo_v_file li {padding:0 10px;border-bottom:1px solid #eee;background:#f7f7f7;}
#bo_v_file a {display:inline-block;padding:5px 0;color:#000;text-decoration:none}
#bo_v_file a:focus, #bo_v_file a:hover, #bo_v_file a:active {text-decoration:none}
.bo_v_file_cnt {display:inline-block;margin:0 10px}

#bo_v_link {font-size:0.92em}
#bo_v_link h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#bo_v_link ul {margin:0;padding:0;list-style:none}
#bo_v_link li {padding:0 10px;border-bottom:1px solid #eee;background:#f7f7f7}
#bo_v_link a {display:inline-block;padding:5px 0;color:#000;text-decoration:none}
#bo_v_link a:focus, #bo_v_link a:hover, #bo_v_link a:active {text-decoration:none}
.bo_v_link_cnt {display:inline-block;margin:0 10px}

#bo_v_top {margin:0 0 10px;padding:10px}
#bo_v_top:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_top h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#bo_v_top ul {margin:0;padding:0;list-style:none}

#bo_v_bot {padding:10px 0 30px;border-top:1px solid #ddd;margin-top:10px}
#bo_v_bot:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_bot h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#bo_v_bot ul {margin:0 0 10px;padding:0;list-style:none}

.bo_v_nb {float:left}
.bo_v_nb a{padding: 0 10px;height: 28px;line-height: 28px;background:#000;display:inline-block;font-size:0.92em;color:#fff}
.bo_v_nb li {float:left;margin-right:5px}
.bo_v_com {float:right}
.bo_v_com li {float:left;margin-left:5px}

#bo_v_atc {padding:10px;min-height:200px;background:#fff}
#bo_v_atc_title {margin:0;padding:0;height:0;overflow:hidden}

#bo_v_img {margin:0 0 10px;width:100%;overflow:hidden;zoom:1}
#bo_v_img:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_img img {margin-bottom:15px;max-width:100%;height:auto}

#bo_v_con {margin-bottom:20px;width:100%;font-size:1.250em;line-height:1.7em;word-break:break-all;overflow:hidden;min-height:200px}
#bo_v_con a {color:#000;text-decoration:underline}
#bo_v_con img {max-width:100%;height:auto}

#bo_v_act {position:relative;float:right;width:50%;;text-align:right;padding-top:15px}
#bo_v_act a {margin-right:5px;vertical-align:middle}
#bo_v_act strong {color:#ff3061}
#bo_v_act_good, #bo_v_act_nogood {display:none;position:absolute;top:30px;right:10%;padding:10px 0;width:165px;background:#ff3061;color:#fff;text-align:center}
#bo_v_act .btn_good{border: 1px solid #000;width:65px;height:65px;display:inline-block;border-radius:50%;text-align:center}
#bo_v_act .btn_good:hover{background:#f3f3f3}
#bo_v_act .btn_good i{font-size:25px;margin:10px 0 5px; }
#bo_v_act .btn_good strong{display:block;color:#000;font-style:italic;font-weight:bold;font-size:14px;margin:0}
#bo_v_sns {margin:0 0 20px;padding:0;list-style:none;text-align:center;zoom:1}

#bo_v_sns:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_sns li {display:inline-block;;margin:0 5px 0 0}

#bo_v_prd ul{margin:10px -10px}
#bo_v_prd ul:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_prd li{float:left;width:25%;padding:10px}
#bo_v_prd li img{width:100%;height:auto}
#bo_v_prd li .prd_name{display:block;margin:5px 0;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#bo_v_prd li .prd_cost{display:block;margin:5px 0;font-weight:bold}


@media (max-width: 970px){
    #bo_v_title{font-size:1.5em}

}
@media (max-width: 640px){
    .bo_v_profile{width:100%;}
    #bo_v_act{width:100%;text-align:center;margin-bottom:0;border-top:1px solid #eee;margin-top:20px}
    .info_date {margin-top:5px}
    #bo_v_info .info_name{margin:5px 0;}
    #bo_v_prd li{width:50%}
}

/* 게시판 댓글 */
#bo_vc {margin:0 0 20px;background:#fff;border: 1px solid #FFB5BC;border-top:0;background: #FFFBFB;}
#bo_vc h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#bo_vc article {padding:0 0 5px;border-top:1px solid #FFB5BC;padding:10px 20px;position:relative}
#bo_vc header {position:relative;padding:5px 0 5px}
#bo_vc header .icon_reply {position:absolute;top:13px;left:-20px}
#bo_vc .sv_member, #bo_vc .sv_guest {font-weight:bold}
.bo_vc_hdinfo {display:inline-block;margin:0 0 0 5px;font-size:0.92em;color:#888}
#bo_vc h3 {width:0;height:0;font-size:0;line-height:0;overflow:hidden}
#bo_vc a {color:#000;text-decoration:none}
#bo_vc p {padding:0 0 5px;line-height:1.8em}
#bo_vc p a {text-decoration:underline}
#bo_vc p a.s_cmt {text-decoration:underline}
#bo_vc_empty {margin:0;padding:60px !important;text-align:center;border-top:1px solid #ddd;color:#999;background:#f3f3f3}
#bo_vc #bo_vc_winfo {float:left}
#bo_vc footer {zoom:1}
#bo_vc footer:after {display:block;visibility:hidden;clear:both;content:""}

.bo_vc_act {position:absolute;top:10px;right:10px;margin:0;list-style:none;font-size:0.92em;}
.bo_vc_act:after {display:block;visibility:hidden;clear:both;content:""}
.bo_vc_act li {float:left;margin:2px}
.bo_vc_act li a{display:inline-block;padding:5px;}

#bo_vc_w {position:relative;margin-bottom:10px;padding:0 0 15px;border-bottom:1px solid #ddd;}
#bo_vc_w h2{position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#bo_vc_w .tbl_wrap {margin:10px 0 ;border:0}

#bo_vc_w #char_cnt {display:block;margin-bottom:5px}
#bo_vc_w textarea {width:100%;margin-bottom:5px}
#bo_vc_w .frm_input{max-width:300px;width:100%}
#bo_vc_w .btn_confirm{}
#bo_vc_w .btn_submit{color:#fff;font-weight:bold;width:140px;height:50px;}
#bo_vc_sns {margin:0;padding:0;list-style:none;zoom:1}
#bo_vc_sns:after {display:block;visibility:hidden;clear:both;content:""}
#bo_vc_sns li {float:left;margin:0 10px 0 0}
#bo_vc_sns input {margin:0 0 0 5px}



@media (max-width: 640px){

    #bo_vc_w .btn_submit{width:100%}
}
