@charset "utf-8";

#cs_top{background:#fff;border:2px solid #000;text-align:left;margin:20px}
#cs_top:after {display:block;visibility:hidden;clear:both;content:""}
#faq_sch{float:left;width:50%;padding:40px 0}
#faq_sch h2{display:inline-block;padding-right:10px;font-family:'Nanum Gothic',sans-serif;font-size:2.17em;vertical-align:middle;line-height:40px}
#faq_sch form{display:inline-block;position:relative;width:60%;vertical-align:middle;border:1px solid #dfdfdf}
#faq_sch .frm_input {background:#fff !important;border:0;width:100%;;line-height:40px;height:40px;}
#faq_sch .btn_submit{position:absolute;top:0;right:0;height:40px;width:80px;border:0;background:url(img/sch_btn2.png) 15px 50% no-repeat #3d3d3d;font-weight:bold;padding-left:25px}
.cs_top_wr{float:left;width:25%;border-left:1px solid #dfdfdf;padding:20px;height:125px}
.cs_top_qa .btn_blue{width:100%;text-align:center;font-weight:bold;height:40px;line-height:40px;background:#DA5461;display:block;color:#fff;}
.cs_top_qa p{line-height:1.5em;margin-bottom:10px}
.cs_top_call p{line-height:1.4em;color:#909090}
.cs_top_call strong{font-size:1.7em;font-family:'Nanum Gothic',sans-serif;display:block;padding:10px 0}

#bo_cate{text-align:center;;margin:30px 20px 10px}
#bo_cate_ul {border-bottom:1px solid #ddd}
#bo_cate_ul:after {display:block;visibility:hidden;clear:both;content:""}
#bo_cate h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_cate_ul li{width:120px;display:inline-block;line-height: 30px;border-bottom: 4px solid #fff;font-size: 13px}
#bo_cate_ul a{display:block}
#bo_cate_ul #bo_cate_on{border-color:#DA5461;color:#DA5461;font-weight: bold;}
#bo_cate_ul #bo_cate_on a{color:#DA5461;}

#faq_wrap {padding:10px 20px;min-height:200px}
#faq_wrap h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
.faq_admin {margin:0 5px;text-align:right}
#faq_wrap ol {margin:0;padding:0;list-style:none}
#faq_con {text-align:left;border:1px solid #e9e9e9;border-top:0}
#faq_con h3{background:#fff;border-top:1px solid #e9e9e9;}
#faq_con h3 a {position:relative;display:block;padding:10px 20px 10px 40px;margin-right:10px;line-height:20px;background:url(img/faq_bg.png) no-repeat right;}
#faq_con h3 .con_q{position:absolute;top:0;left:0;width:40px;text-align:center;display:block;color:#000;line-height:40px;}
#faq_con .con_a{position:absolute;top:0;left:0;width:40px;text-align:center;display:block;line-height:40px;font-weight:bold}
#faq_con .con_inner {display:none;position:relative;padding:10px 10px 10px  40px;line-height:1.8em;background:#fff;border-top:1px solid #e9e9e9}
#faq_con .con_closer {margin:10px 0 0;text-align:right}
#faq_con .closer_btn {margin:0;padding:5px 8px;border:0;background:#666;color:#fff}
.faq_tolist {padding:0 10px;text-align:right}
.faq_img {text-align:center}

#faq_sch {text-align:center}

#faq_wrap .empty_table{line-height:1.5em}
#faq_wrap .empty_table a{text-decoration:underline}

@media (max-width: 970px){
    #faq_sch{width:100%;padding: 20px;}
    .cs_top_wr{width:50%;border:0 ;border-top:1px solid #dfdfdf}
    .cs_top_call{border-left:1px solid #dfdfdf}
}

@media (max-width: 640px){
    #faq_sch{padding:10px 20px 20px;}
    #faq_sch h2{font-size:1.5em;width:100%}
    #faq_sch form{width:100%}
    #faq_sch .btn_submit{width:40px;text-indent:-99px;overflow:hidden;background-position:50% 50%}
    .cs_top_wr{width:100%;border:0;border-top:1px solid #dfdfdf;height:auto }
    .cs_top_qa br{display:none}
    #bo_cate_ul li{width:33.33%;float:left}
}