@charset "utf-8";

/* aside:gnb */
#gnb{float:left;font-family:'Nanum Gothic',sans-serif;}
#gnb:after{display:block;visibility:hidden;clear:both;content:""}
#gnb .gnb_1dli{display:inline-block;}
#gnb .gnb_1dli .gnb_1da {display:inline-block;padding:0 10px;font-weight:bold;font-size:1em;;vertical-align:top}
.gnb_2dul{display:none}

@media (max-width: 970px){
    #gnb{display:none}
}
/*메인배너*/
#main_bn{position:relative;border-top:0}
#main_bn .item{display:none}
#main_bn .item:first-child{display:block}
#main_bn img{height:auto;width:100%;}
#main_bn .owl-prev{position:absolute;top:50%;left:0;z-index:9;margin-top:-35px;;width:50px;height:70px;background:url('img/pv_btn_3.png') no-repeat 50% 50%;text-indent:-999px;overflow:hidden;opacity:0.5}
#main_bn .owl-next{position:absolute;top:50%;right:0;z-index:9;margin-top:-35px;width:50px;height:70px;background:url('img/nx_btn_3.png') no-repeat 50% 50%;text-indent:-999px;overflow:hidden;opacity:0.5}
#main_bn .owl-next:hover,#main_bn .owl-prev:hover{opacity:1}

#main_bn .owl-pagination{z-index:10;position:absolute;bottom:10px;text-align:center;width:100%}
#main_bn .owl-page{width:40px;height:4px;background:#fff;display:inline-block;margin:3px;}
#main_bn .active{background:#333}

/*왼쪽배너*/
#sbn_side ul:after{display:block;visibility:hidden;clear:both;content:""}
#sbn_side  li{float:left;width:50%;position:relative;overflow:hidden}
#sbn_side  li:hover img{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
#sbn_side  li img{width:100%;height:auto;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;}
#sbn_side li .bn-txt{position: absolute;left: 50%;top: 50%;display: block;visibility: visible;width: 60%;color:#fff;border:3px solid #fff;padding:13% 5%;font-size:2em;line-height:1.3em;font-weight:bold;text-align:center;
-webkit-transform: translate(-50%,-50%);
-moz-transform: translate(-50%,-50%);
-o-transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);}

@media (max-width: 640px){
    #sbn_side li .bn-txt{font-size:1.17em;text-align:center}
}


/*이벤트*/
#sev{padding:10px;height:100%}
#sev:after{display:block;visibility:hidden;clear:both;content:""}
#sev li.sev_li{width:50%;position:relative;padding:10px;height:100%;float:left}
#sev li .ev_wr{background:#fff;padding:20px;height:100%}
#sev li img{width:100%;height:auto}
#sev li strong{display:inline-block;color:#8183c3;border:2px solid #8183c3;padding:0 10px;height:28px;line-height:24px;text-transform: uppercase}
#sev li .sev_text{display:block;margin:10px 0;font-size:2em;font-weight:bold}
#sev li .ev_prd{width:100%;display:block;position:relative}
#sev li .ev_prd .owl-pagination{position:absolute;bottom:0;right:0}
#sev li .ev_prd .owl-page{display:inline-block;background:#c7c7c7;width:10px;height:10px;border-radius:10px;margin:0 2px }
#sev li .ev_prd .active{background:#b785e6;width:20px;}
#sev li .ev_prd .ev_prd_tit{display:block;margin:5px 0}
#sev li .ev_prd .ev_prd_price{color:#e44941;}

@media (max-width:1200px){
    #sev li .sev_text{font-size:1.25em}

}


@media (max-width: 640px){
    #sev li strong{font-size:0.92em;height:25px;line-height:21px;padding:0 5px}
    #sev li .sev_text{font-size:1.19em;margin:5px}
    #sev li .ev_wr{padding:10px}
}


/*오늘본상품 */
#stv_list{position:static !important;}
#stv_list li:after{display:block;visibility:hidden;clear:both;content:""}
#stv_ul{border-top:1px solid #e6e6e6;text-align:left;}
#stv_ul li{border-bottom:1px solid #e6e6e6;padding:10px 0}
.c2{display:none}
.stv_img{float:left;width:50%}
.stv_txt{float:left;width:50%;text-align:left;}
.stv_name{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.stv_pgwr{margin:10px 0; font-size:0.92em;position:relative;line-height:30px;}
.stv_name{margin:5px 0;font-weight:bold}
#up{position:absolute;top:0;left:0;width:60px;height:30px;border:1px solid #ddd;background:#fff}
#down{position:absolute;top:0;right:0;width:60px;height:30px;border:1px solid #ddd;background:#fff}
#up:hover,#down:hover{background:#f3f3f3}
.stv_pgwr i{color:#aaa}
.stv_no{color:#999;margin:100px 0 0}

/* ##### maint.(nn).skin.php, list.(nn).skin.php 공통 적용 시작 ##### */
/* 공통 */
.sct_wrap {margin:0 0 30px;zoom:1}
.sct_wrap:after {display:block;visibility:hidden;clear:both;content:""}
.sct_wrap header {margin:0 0 20px;zoom:1}
.sct_wrap header:after {display:block;visibility:hidden;clear:both;content:""}
.sct_wrap h2 a {text-decoration:none}
.sct_wrap h2 a:hover{color:#34b5a1}
.sct_wrap_hdesc {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}

.sct {margin: 0 ;padding:0;list-style:none;zoom:1;clear:both;}
.sct:after {display:block;visibility:hidden;clear:both;content:""}
.sct_li {position:relative;}
.sct_noitem {padding:200px 0;color:#999;text-align:center}
.sct_icon img {margin:0 1px 0 0}
.sct_sns a {display:inline-block;margin:0 4px 0 0}
.sct_sns button {margin:0 4px 0 0;padding:0;border:0}

.li_more{text-align:center}
.li_more img{width:30px;margin:5px 0}
.li_more p{color:#aaa;margin-top:5px;display:none;}
.li_more button{background:none;border:2px solid #8183c3;width:205px;height:40px;line-height:36px;color:#8183c3;font-weight:bold;margin:20px 0}
.li_more button:hover{background:#8183c3;color:#fff;}

.mli_btn button{background:url(img/mainlist_btn.gif) no-repeat; width:30px; height:30px;border:none;text-indent:-9999px}
.mli_btn button.mli_pre{position:absolute;top:0;left:10px}
.mli_btn button.mli_next{background-position: -33px 0;position:absolute;top:0;right:10px}

.sit_icon {display:block;margin: 0 0;padding-right:20px}
.sit_icon img {margin:0 1px 1px 0;vertical-align:middle}

@media (max-width: 640px){
    .li_more button{width:100%}
}


/* 메인 상품 목록 스킨 10 */
.main_10{}
.main_10 li{padding:10px 0;position:relative;border-top:1px solid #eee;}
.main_10 li:first-child{border:0}
.main_10 li:after {display:block;visibility:hidden;clear:both;content:""}
.main_10 li .sct_img{width:20%;float:left}
.main_10 li .sct_img img{width:100%;height:auto}
.main_10 li .sct_txt_wr{width:80%;text-align:left;padding-left:10px;float:left}
.main_10 li .sct_btn{position:absolute;bottom:5px;right:0px;}
.main_10 li .sct_btn button{background:#fff;border:0;width:20px;height:20px}
.main_10 li .sct_btn button:hover{color:#a989c8}
.main_10 li .sct_cost{margin:5px 0;color:#e44941}

/* 상품 목록 스킨 10 */
.sct_10{}
.sct_10 .sct_li {position:relative;float:left;padding:10px;width:25%;text-align:left}
.sct_10 .sct_li:nth-child(4n+1){clear:both}
.sct_10 .sct_li .sct_wr{position:relative;background:#fff;border:1px solid #ddd;}
.sct_10 .sct_li:hover .sct_wr{border-color:#8183c3}
.sct_10 .sct_li .sct_img img{width:100%;height:auto}
.sct_10 .sct_txt_wr{padding:10px}
.sct_10 .sct_txt{margin:0 0 20px}
.sct_10 .sct_cost{margin:0;color:#e44941}
.sct_10 .sct_icon_wr{ margin:5px 0 0 }
.sct_10 .sct_btn{position:absolute;bottom:0;right:0}
.sct_10 .sct_btn button{border:0;background:none;width:30px;height:30px}
.sct_10 .sct_btn button:hover{color:#a989c8}

@media (max-width: 640px){
    .sct_10 .sct_li {width:50%;padding:5px}
    .sct_10 .sct_li:nth-child(2n+1){clear:both}

}




/* 관련상품 목록 스킨 10 */
#sit_rel{padding:20px ;background:#fff;text-align:center;margin:20px 0;}
#sit_rel h2{text-align:center;;margin:10px 0}
#sit_rel .item img{width:100%;height:auto}
#sit_rel .item {padding:5px;}
#sct_relitem{padding:0 15px}
#sct_relitem .owl-prev{position:absolute;top:50%;left:0;margin-top:-8px;width: 0; height: 0; border-top: 8px solid transparent;border-bottom: 8px solid transparent;border-right: 10px solid #aaa;text-indent:-999px;overflow:hidden}
#sct_relitem .owl-next{ position:absolute;top:50%;right:0;margin-top:-8px;width: 0; height: 0; border-top: 8px solid transparent;border-bottom: 8px solid transparent;border-left: 10px solid #aaa;text-indent:-999px;overflow:hidden}
#sct_relitem .owl-prev:hover{border-right-color:#777}
#sct_relitem .owl-next:hover{border-left-color:#777}
#sit_rel .sct_noitem{padding:50px 0 !important}

/*같이구매한 상품*/
#sit_relbuy{background:#fff;padding:20px ;margin:20px 0;}
#sit_relbuy h2{text-align:center;margin:10px 0}
#sit_relbuy .item img{width:100%;height:auto}
#sit_relbuy .item {padding:5px;}
#sct_relbuyitem{padding:0 15px}
#sct_relbuyitem .owl-prev{position:absolute;top:50%;left:0;margin-top:-8px;width: 0; height: 0; border-top: 8px solid transparent;border-bottom: 8px solid transparent;border-right: 10px solid #aaa;text-indent:-999px;overflow:hidden}
#sct_relbuyitem .owl-next{ position:absolute;top:50%;right:0;margin-top:-8px;width: 0; height: 0; border-top: 8px solid transparent;border-bottom: 8px solid transparent;border-left: 10px solid #aaa;text-indent:-999px;overflow:hidden}
#sct_relbuyitem .owl-prev:hover{border-right-color:#777}
#sct_relbuyitem .owl-next:hover{border-left-color:#777}


/* 베스트상품 스킨 10 */
#best_item{position:relative;margin-top:20px}
#best_item h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden;}
#best_item .owl-item{padding:10px;}
#best_item .item{position:relative;background:#fff;text-align:left;border:1px solid #ddd}
#best_item .item img{width:100%;height:auto}
#best_item .best_icon{display:block;overflow:hidden;text-indent:-999px;background:url(img/best_icon.png) 50% 0  no-repeat;width:43px;height:81px;position:absolute;top:-9px;left:10px}
#best_item .sct_txt{padding:10px;}
#best_item .sct_cost{font-weight:bold;color:#e44941;padding:10px;font-size:0.92em}
#best_item .owl-pagination{text-align:center}
#best_item .owl-pagination .owl-page{background:#aaa;width:10px;height:10px;display:inline-block;border-radius:15px;margin:3px}
#best_item .owl-pagination .active{background: #b785e6; width: 20px;}

@media (max-width: 640px){
    #best_item .owl-item{padding:5px}
}


/* 개인결제 목록 */
.sct_pv {margin-top:10px}
.sct_pv .sct_li {position:relative;float:left;position:relative;float:left;margin-bottom:10px;}
.sct_pv .sct_img{padding:0 5px}
.sct_pv .sct_img a{border:1px solid #e2edef}
.sct_pv .sct_img img{width:100%;}
.sct_pv .sct_last {margin:0 0 15px !important}
.sct_pv .sct_clear {clear:both}
.sct_pv .sct_a {display:block;position:relative;margin:0 0 5px;text-decoration:none;  font-weight: bold;  text-overflow: ellipsis;  overflow: hidden;  white-space: nowrap;  line-height: 20px;}
.sct_pv .sct_id {display:block;margin:0 0 5px}
.sct_pv .sct_basic {margin:0 0 10px}
.sct_pv .sct_cost {display:block;margin:0 0 10px;}
.sct_pv .sct_cost strike {display:block;margin:0 0 5px;color:#999;font-weight:normal}
.sct_pv .sct_icon {margin:0 0 10px}
/* ##### maint.(nn).skin.php, list.(nn).skin.php 공통 적용 끝 ##### */

/* 상품 목록 */
#sct {}
.sct_admin {margin:0 0 10px;text-align:right}

/* 상품 목록 현재 위치 */
#sct_location {border:1px solid #e9e9e9;background:#f2f5f9;letter-spacing:-4px}
#sct_location a {display:inline-block;padding:5px 10px;text-decoration:none;letter-spacing:0 !important}
.sct_here {font-weight:bold}
.sct_bg {padding-right:13px !important;background:url('img/sct_bg_toright.gif') right 8px no-repeat}

/* 상품 목록 카테고리 목록 */
.sct_ct {text-align:center;width:100%;margin:20px 0}
.sct_ct h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
.sct_ct ul {list-style:none;;margin:0;padding: 0;border-left:1px solid #ddd;}
.sct_ct ul:after {display:block;visibility:hidden;clear:both;content:""}
.sct_ct ul li {float:left;font-size:0.917em;line-height:24px;width:20%;text-align:left;border-right:1px solid #ddd;border-top:1px solid #ddd;border-bottom:1px solid #ddd;margin-top:-1px}
.sct_ct ul li:first-child{background:none}
.sct_ct a {display:block;background:#fff;padding:0 10px; line-height:30px;}
.sct_ct a:hover{background:#8183c3;color:#fff}
.sct_ct_parent {font-weight:bold}
.sct_ct_here {color:#ff3600 !important}

#sct_ct_2 li {margin:0 0 10px}
#sct_ct_2 a {display:inline-block;width:120px}
#sct_ct_3 li {float:left;margin:0 10px 10px 0;width:120px}

@media (max-width: 640px){
    .sct_ct{margin:10px 0 }
    .sct_ct ul li{width:33.333%}
}

/* 상품 정렬 */
#sct_sort {padding:20px 10px;text-align:right;clear:both}
#sct_sort select{height:30px;width:150px}
#sct_sort:after {display:block;visibility:hidden;clear:both;content:""}
#sct_sort h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sct_sort ul {margin:0;padding:0 0 0 1px;list-style:none;}
#sct_sort ul:after {display:block;visibility:hidden;clear:both;content:""}
#sct_sort li {float:left;position:relative;margin-left:-1px;width:33.33%}
#sct_sort li a{display:block;text-align:center;color:#8d8d8d;background:#fff;border-color:#e9e9e9;font-size:0.917em}


/* 상품 리스트 스타일 선택 */
#sct_lst {float:right;margin:10px 0;padding:0;list-style:none}
#sct_lst:after {display:block;visibility:hidden;clear:both;content:""}
#sct_lst li {position:relative;float:left;margin:0 0 0 -1px}
#sct_lst button {position:relative;margin:0 0 0 -1px;padding:0;width:25px;height:25px;border:1px solid #ccc}
#sct_lst button span {position:absolute;top:0;left:0;width:100%;height:100%;background:url('../shop/img/is_button.gif')}
#sct_lst button.sct_lst_list span {background-position:0 0}
#sct_lst button.sct_lst_list span.sct_lst_on {background-position:0 -30px}
#sct_lst button.sct_lst_gallery span {background-position:-30px 0}
#sct_lst button.sct_lst_gallery span.sct_lst_on {background-position:-30px -30px}


/* 상품 상세보기 */
#sit {margin:0}
.sit_admin {margin:10px 10px 0;text-align:right}
.sit_empty {padding:50px 0;color:#777;text-align:center}

/* 상품상세 */
#info_content {padding:0 10px 30px;zoom:1}
#info_content:after {display:block;visibility:hidden;clear:both;content:""}
#info_content h3 {margin:0 0 10px}
.if_tit{text-align:center;margin-top:10px;padding:10px;background:#f5f5f5;border:1px solid #e9e9e9;}
.win_desc_if{border:1px solid #e9e9e9;padding:10px;border-top:none;}
.win_desc{margin-top:10px}

/* 상품 상세보기 - 개요 */
#sit_ov_wrap {margin:20px 0;text-align:left;padding:30px;background:#fff}
#sit_ov_wrap:after {display:block;visibility:hidden;clear:both;content:""}

/* 상품 상세보기 - 이미지 미리보기 */
#sit_pvi {position:relative;text-align:center;float:left;width:50%;}
#sit_pvi .owl-prev {position:absolute;top:50%;left:0;background:url(img/pv_btn_3.png) no-repeat 50% 50%;width:27px;height:45px;text-indent:-9999px;margin-top:-20px;}
#sit_pvi .owl-next {position:absolute;top:50%;right:0;background:url(img/nx_btn_3.png) no-repeat  50% 50%;margin-top:-20px;width:27px;height:45px;text-indent:-9999px}
.sit_pvi_btn {display:none;z-index:10;width:20px;border:0;background:#f2f5f9}
#sit_pvi_slide {position:relative;margin:0 auto;padding:0;list-style:none;overflow-x:hidden;max-width:500px;}
#sit_pvi_slide img {max-width:100%;height:auto}
#sit_pvi_nw h1 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sit_pvi_nwbig {padding:10px 0;text-align:center}
#sit_pvi_nwbig span {display:none}
#sit_pvi_nwbig span.visible {display:inline}
#sit_pvi_nw ul {margin:0 0 20px;padding:0 10px;list-style:none;text-align:center;zoom:1;}
#sit_pvi_nw ul:after {display:block;visibility:hidden;clear:both;content:""}
#sit_pvi_nw li {display:inline-block;margin:0 0 1px 1px}
#sit_pvi_nw li img {width:60px;height:60px}

/* 상품 상세보기 - 간략정보 및 구매기능 */
#sit_ov {position:relative;padding:0 0 0 20px ;height:auto !important;float:right;width:50%;}
#sit_ov .sit_ov_wr{margin:0 auto;max-width:500px;}
#sit_ov h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sit_ov h3 {margin:0 0 10px}
#sit_ov section{margin: 10px 0;}

.sit_icon_wr{margin:10px 0 5px}
.sit_icon_wr img{margin:2px;}
#sit_title {display:block;margin:5px 0 10px; font-size:2em;font-family:'Nanum Gothic',sans-serif;}
#sit_desc {display:block;margin:10px 0;line-height:1.5em}
#sit_opt_info {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
.sit_icon {display:block;margin: 0 0;}
.sit_icon img {margin:0 1px 2px 0;vertical-align:middle;}

#sit_star_sns{clear:both;border-top:1px solid #ddd;border-bottom:1px solid #ddd;margin:10px 0;line-height:45px}
#sit_star_sns:after {display:block;visibility:hidden;clear:both;content:""}
#sit_star {color:#777;font-size:0.95em;}
#sit_star span {display:inline-block;margin:0 5px 0 0;color:#666;letter-spacing:0}
#sit_star .sit_star {position:relative;top:-2px;margin:0 5px 0 0}
#sit_star a {display:inline-block;vertical-align:middle}
#sit_star button {margin:0;padding:0;border:0}
#sit_sns{}
#sit_sns a{display:inline-block;width:30px;vertical-align:middle;height:30px;text-align:center;opacity:0.4}
#sit_sns a:hover{opacity:1}
#sit_sns a img{width:100%;height:auto;vertical-align:top;}
#sit_btn_rec {background:none;font-size:0.92em;color:#000;padding:0 3px;display:inline-block;font-size:16px;}
 #sit_btn_rec  i{line-height:30px;vertical-align:top}
.sit_ov_tbl {margin:10px 0px ;padding:15px 0;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.sit_ov_tbl .sit_ov_tbl_btn{background:none;border:0;position:relative;width:100%;text-align:left;height:20px;line-height:20px}
.sit_ov_tbl .sit_ov_tbl_btn i{position:absolute;top:0;right:0;font-size:19px}
.sit_ov_tbl table{border-collapse:collapse;width:100%;border:0;font-size:0.917em;color:#626262;}
.sit_ov_tbl th {;font-weight:normal;text-align:left;padding:5px 0;width:100px}
.sit_ov_tbl td {padding:5px 0;text-align:left}
.sit_ov_tbl tr:first-child td,.sit_ov_tbl tr:first-child th{border:none}
.sit_ov_ro {padding:2px 2px 3px;border:0;background:transparent;text-align:right;vertical-align:middle}
.sit_ov_opt {padding:2px 2px 3px;border:0;background:transparent;vertical-align:middle}
.sit_ov_input {height:1.8em;border:1px solid #b8c9c2;background:transparent;vertical-align:middle}
.sit_ov_tbl button {margin:0}
.sit_op_sl{width:100%}
.sit_opt_wr{float:left;width:50%}
.sit_btn_wr{float:right;width:50%;padding:10px 0 ;padding-left:20px;;}
.sit_op_sl{font-size:0.92em;color:#666;border-bottom:1px solid #ddd;padding:0 0 10px;margin:10px 0 0}
.sit_op_sl h3{margin-bottom:10px;}
.sit_op_sl table{width:100%;border-collapse:collapse}
.sit_op_sl th{font-weight:normal;text-align:left;}
.sit_op_sl td{text-align:left;}

.sit_sel_btn {position:relative;top:-15px;right:-2px} /* 선택옵션용 추가 버튼 */
.sit_sel_btn button {width:100%}

#sit_ov_soldout {margin:0 0 20px;color:#ff3061;font-weight:bold;text-align:right}
#sit_ov_btn {margin:0;}
#sit_ov_btn:after {display:block;visibility:hidden;clear:both;content:""}
#sit_ov_btn a {display:inline-block;padding: 0 20px;vertical-align:middle;text-decoration:none;line-height:45px;height:45px;color:#8183c3;font-size:13px;}
#sit_ov_btn input {padding:0;height:45px;line-height:45px;padding:0 30px;font-size:1.17em;font-weight:bold;}
#sit_btn_cart{border:0;background:#8183c3;color:#fff;transition: all 0.3s ease;display:inline-block}
#sit_btn_cart:hover{background:#5255cc}
#sit_btn_buy, #sit_btn_wish {;background:#fff;color:#8183c3;border:1px solid #8183c3}
#sit_btn_wish{font-weight:bold}


@media (max-width: 1200px){
    #sit_title{font-size:1.5em}
}

@media (max-width: 970px){
    #sit_ov{width:100%;padding:0}
    #sit_pvi{width:100%;}
    #sit_ov .sit_ov_wr{width:100%;max-width:100%}
    #sit_btn_cart{width:40%;float:left}
    #sit_btn_buy{width:40%;float:left;margin:0 1%}
    #sit_btn_wish{width:18%;text-align:center}
    #sit_ov_btn input,#sit_ov_btn a{padding:0}
}

@media (max-width: 640px){
    #sit_ov_wrap{padding:20px}
}

/* 상품 상세보기 - 다른 상품 보기 */
#sit_siblings {text-align:center;position:relative}
#sit_siblings h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sit_siblings a {display:inline-block;background:#383838;color:#fff}
#sit_siblings a#siblings_prev {position:absolute;bottom:20px;left:10px;background: url(img/mainlist_btn.gif) no-repeat;  width: 30px;  height: 30px;text-indent:-999px;overflow:hidden}
#sit_siblings a#siblings_next {position:absolute;bottom:20px;right:10px;background: url(img/mainlist_btn.gif) no-repeat -33px 0;  width: 30px;  height: 30px;text-indent:-999px;overflow:hidden}
#sit_siblings a span {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}

/* 상품 상세보기 하단 버튼 */
#sit_more {-webkit-backface-visibility: hidden;padding:0;background-color: rgba(0, 0, 0, 0.8);position:fixed;bottom:0;left:0;width:100%;z-index:9999}
#sit_more:after {display:block;visibility:hidden;clear:both;content:""}
#sit_more li {position:relative;width:25%;float:left;letter-spacing:0.2em;background:url(img/item_bg.gif) no-repeat left 17px;}
#sit_more li:first-child{background:none}
#sit_more a {display:block;padding:15px 0 15px 2px;text-align:center;color:#fff}
.item_use_count,.item_qa_count{color:#999;padding-left:2px}

/* 상품 상세보기 - 상품정보 */
#sit_inf{background:#fff;padding:30px}
#sit_inf h2{font-size:1.25em;margin:0 0 20px}
#sit_inf h3 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sit_inf_explan{text-align:left}
#sit_inf_explan img{max-width:100%;height:auto}
#sit_inf_open{text-align:left;text-align:center;border-collapse:collapse;width:100%;color:#626262;margin:20px 0;font-size:0.92em;font-family:"돋움" ,Dotum,sans-serif}
#sit_inf_open th{text-align:left;background:#f8f8f8;border:1px solid #eee;padding:5px}
#sit_inf_open td{text-align:left;border:1px solid #eee;padding:5px}

@media (max-width: 640px){
    #sit_inf{padding:20px}
}

/*상품 상세보기 - 탭*/
#sit_tab{background:#fff;padding:30px}
#sit_tab .tabsTit {border-bottom:1px solid #ddd;font-size:0;text-align:center;}
#sit_tab .tabsTit h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#sit_tab .tabsTit li{width:120px;display:inline-block;line-height: 30px;border-bottom: 4px solid #fff;font-size: 13px}
#sit_tab .tabsTita{display:block}
#sit_tab .tabsTit .tabsHover{  border-color:#8183c3;color: #8183c3;font-weight: bold;}
#sit_tab .tabsCon h2{position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sit_dvex{height:auto;margin:20px 0 }
#sit_dvex:after {display:block;visibility:hidden;clear:both;content:""}
#sit_dvex h3{margin-bottom:10px;}
#sit_dvr{float:left;width:49%;text-align:left;background:#f1f1f1;padding:20px;min-height:200px;line-height:1.5em}
#sit_ex{float:right;width:49%;text-align:left;background:#f1f1f1;padding:20px;min-height:200px;line-height:1.5em}

@media (max-width: 640px){
    #sit_dvr, #sit_ex{width:100%;margin-bottom:10px}
    #sit_tab .tabsTit li{width:33.33%}
    #sit_tab{padding:20px}
}

/* 상품 상세보기 - 사용후기 */
.tit_no{position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sit_use {margin:0 0 10px;padding:0px 0 20px}
#sit_use_ol {margin:0 0 20px;padding:0;list-style:none}
.sit_use_li{padding:20px 0;border-bottom:1px solid #ddd;position:relative}
.sit_use_li:after {display:block;visibility:hidden;clear:both;content:""}
.sit_use_dl{float:left;width:20%;text-align:left;}
.sit_use_dl dt{position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
.sit_use_dl dd{color:#777;font-size:0.92em;font-size:0.92em;line-height:1.5em}
.sit_use_star{margin-bottom:20px;}
.sit_content{float:left;width:80%;text-align:left}
.sit_content h3{font-size:1.17em;margin-bottom:5px;line-height:1.4em;padding-right:100px}
.show-more{display:block;background:none;border:0;font-size:0.92em;;color:#8183c3;border:1px solid #8183c3;padding:3px 5px;;margin:10px 0 0}
.show-more:hover{background:#8183c3;color:#fff;}
.sit_use_con {display:none;line-height:1.5em;margin:10px 0;color:#777}
.sit_use_cmd{text-align:right;position:absolute;top:20px;right:0}
.sit_use_cmd a{display:inline-block;background:#f3f3f3;font-size:0.92em;color:#777;padding:3px 5px;border:1px solid #ddd}
#sit_use_wbtn {margin:0 0 5px;text-align:right;font-weight:bold}
#sit_use_write {}
#sit_use_write #is_subject {width:100%}
#sit_use_write ul {margin:5px 0 0}
#sit_use_write li {margin:0 0 5px}
#sit_use_write li label {display:inline-block;width:80px}
#sit_use_write_star {margin:0;padding:0;list-style:none}

@media (max-width: 970px){
    .sit_use_dl{width:30%}
    .sit_content{width:70%}
}
@media (max-width: 640px){
    .sit_use_dl{width:100%}
    .sit_content{width:100%}
    .sit_use_dl dd{display:inline-block;padding-right:5px;}
    .sit_use_dl .sit_use_star{display:block;margin-bottom:5px}
    .sit_content h3{margin-top:10px;padding-right:0}
}

/* 상품 상세보기 - 상품문의 */
#sit_qa {margin:0 0 10px;padding:0px 0px 20px}
#sit_qa_ol {margin:0 0 20px;padding:0;list-style:none}
.sit_qa_li{padding:20px 0;border-bottom:1px solid #ddd;position:relative}
.sit_qa_li:after {display:block;visibility:hidden;clear:both;content:""}
.sit_qa_dl{float:left;width:20%;text-align:left;}
.sit_qa_dl dt{position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
.sit_qa_dl dd{color:#777;font-size:0.92em;font-size:0.92em;line-height:1.5em}
.sit_qa_dl dd.sit_qaa_yet span,.sit_qa_dl dd.sit_qaa_done span{background:#eee;padding:0 9px;;height:25px;line-height:25px;color:#888;border-radius:15px;display:inline-block;margin-bottom:10px;}
.sit_qa_dl dd.sit_qaa_done span{background:#e44941;color:#fff}
.sit_qa_con {display:none;line-height:1.5em;margin:10px 0;color:#777}
.sit_qa_cmd{text-align:right;position:absolute;top:20px;right:0}
.sit_qa_cmd a{display:inline-block;background:#f3f3f3;font-size:0.92em;color:#777;padding:3px 5px;border:1px solid #ddd}
span.sit_alp{position:absolute;top:10px;left:0;background:#000;color:#fff;color:#fff;font-weight:bold;width:25px;height:25px;line-height:25px;display:inline-block;border-radius:15px;text-align:center;}
.sit_qa_qaq,.sit_qa_qaa {padding:10px 0;position:relative;line-height:1.5em}
.sit_qa_qaq strong,.sit_qa_qaa strong{position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
.sit_qa_qaa {border-top:1px dotted #ddd;background:url(img/qa_rp.png) no-repeat 0 10px ;padding:35px 15px 20px 15px}
.sit_qa_qaa  span.sit_alp{background:#5b5b5b}
.sit_qa_pw {display:none;position:absolute;top:30px;left:175px;padding:10px;width:348px;border:1px solid #000;background:#fff;text-align:center}
.sit_qa_pw span {display:block;margin:0 0 5px}
#sit_qa_wbtn {margin:0 0 5px;text-align:right;font-weight:bold}
#sit_qa_w {display:none}
a.qa_wr{height:40px;line-height:40px;display:inline-block;width:120px;text-align:center;background:#333;color:#fff;vertical-align:top}
#itemqa_list,#itemuse_list{text-align:center;background: #fff;  border: 1px solid #cbcbcb;  width: 120px;  height:40px;line-height:40px;font-size: 0.917em;  color: #888;padding:0;;vertical-align:top}

@media (max-width: 970px){
    .sit_qa_dl{width:30%}
}
@media (max-width: 640px){
    .sit_qa_dl{width:100%}
    .sit_qa_dl dd{display:inline-block;padding-right:5px;}
    .sit_qa_dl dd.sit_qaa_yet,.sit_qa_dl dd.sit_qaa_done{display:block}
    a.qa_wr{width:49%}
    #itemqa_list,#itemuse_list{width:49%}
}


/* 로딩안내 레이어 */
#loading_message {z-index:10000;position:absolute;top:0;left:0;background:#fff;opacity:0.7}
#loading_message img {position:relative;opacity:1.0}

/* 알림 box */
#fancyalert {display:block;z-index:10000;position:absolute;top:0;left:0}
#fancyalert_inner {display:table;z-index:2;position:relative}
#fancyalert_inner div {display:table-cell;vertical-align:middle;text-align:center}
#fancyalert_inner span {display:block;margin:0 auto;padding:30px;width:200px;background:#1f1f1f;color:#f0f1f2}
#fancyalert_inner button {margin:15px 0 0;padding:10px 30px;border:0;background:#000;color:#fff}
#fancyalert_bg {z-index:0;position:absolute;top:0;left:0;width:100%;height:100%;vertical-align:middle;background:#000;text-align:center;opacity: 0.7}

#sit_sms_new .tbl_frm01 th {width:100px}

/*쿠폰존 리스트*/
.couponzone_list{margin:20px 0 0;;text-align:left;padding:30px;background:#fff;}
.couponzone_list h2{margin:0 0 5px;font-size:1.35em;font-family:'Nanum Gothic',sans-serif}
.couponzone_list p{margin:0 0 10px;}
.couponzone_list ul{padding:0;margin:0;list-style:none;border-left:1px dotted #ddd;background:#fff}
.couponzone_list ul:after {display:block;visibility:hidden;clear:both;content:""}
.couponzone_list ul li{float:left;width:33.33%;border-right:1px dotted #ddd;background:#fff;padding:0 10px 10px;line-height:1.2em}
.couponzone_list ul li:nth-child(3n+1){clear:both;}
.couponzone_list ul li img{width:100%;height:auto}
.couponzone_list ul li .coupon_img{}
.couponzone_list ul li .coupon_tit{margin:10px 0 5px;font-weight:bold;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.couponzone_list ul li .coupon_date{margin: 5px 0px;font-size:0.92em;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#777}
.couponzone_list ul li .coupon_target{margin: 5px 0px;font-size:0.92em;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#777}
.couponzone_list ul li .coupon_target a{color:#777;text-decoration:underline}
.couponzone_list ul li .coupon_point{margin: 5px 0px;font-size:0.92em;;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#777}
.couponzone_list ul li .coupon_btn{margin:10px 0 0;text-align:center}
.couponzone_list ul li .coupon_btn .btn02{width:100%;height:35px;padding:0;font-weight:bold;background:#8183c3;border:0}
.couponzone_list ul li .coupon_btn .btn02:hover{background:#5255cc;color:#fff}
.couponzone_list ul li .coupon_btn .disabled {background: #ddd;border:1px;color:#999;border-color:#ddd}
.couponzone_list ul li .coupon_btn .disabled:hover {background: #ddd;border:1px;color:#999;border-color:#ddd}
.couponzone_list .no_coupon{padding: 100px 0;text-align:center;color:#999}
#point_coupon li{height:250px;}

@media (max-width: 970px){
    .couponzone_list ul li{width:50%}
    .couponzone_list ul li:nth-child(3n+1){clear:none;}
    .couponzone_list ul li:nth-child(2n+1){clear:both;}


}
@media (max-width:  640px){
    .couponzone_list ul li{padding:7px;width:100%}
}


#sit_hhtml img{max-width:100%;height:auto}