@charset "utf-8";


.mbskin{background:#fff;border:1px solid #ced2d7;margin-bottom:30px}

/* 버튼 */
.mbskin a.btn01 {}
.mbskin a.btn01:focus, .mbskin a.btn01:hover {}
.mbskin a.btn02 {}
.mbskin a.btn02:focus, .mbskin .btn02:hover {}
.mbskin .btn_confirm {} /* 서식단계 진행 */
.mbskin .btn_submit {width:100px;height:40px;font-weight:bold}
.mbskin .btn_cancel {height:40px;line-height:40px;padding:0 10px;font-weight:bold}
.mbskin .btn_frmline {} /* 우편번호검색버튼 등 */
.mbskin .win_btn {} /* 새창용 */
.mbskin .win_btn a {}
.mbskin .win_btn button {}
.mbskin .win_btn input {}

/* 게시판용 버튼 */
.mbskin a.btn_b01 {}
.mbskin a.btn_b01:focus, .mbskin .btn_b01:hover {}
.mbskin a.btn_b02 {}
.mbskin a.btn_b02:focus, .mbskin .btn_b02:hover {}
.mbskin a.btn_admin {} /* 관리자 전용 버튼 */
.mbskin a.btn_admin:focus, .mbskin a.btn_admin:hover {}

/* 기본테이블 */
.mbskin .tbl_head01 {}
.mbskin .tbl_head01 caption {}
.mbskin .tbl_head01 thead th {}
.mbskin .tbl_head01 thead a {}
.mbskin .tbl_head01 thead th input {} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.mbskin .tbl_head01 tfoot th {}
.mbskin .tbl_head01 tfoot td {}
.mbskin .tbl_head01 tbody th {}
.mbskin .tbl_head01 td {}
.mbskin .tbl_head01 a {}
.mbskin td.empty_table {}

/* 폼 테이블 */
.mbskin table {}
.mbskin caption {padding-top:0;font-size:1.083em}
.mbskin .tbl_frm01 {margin:0 0 20px}
.mbskin .tbl_frm01 table {width:100%;border-collapse:collapse;border-spacing:0}
.mbskin .tbl_frm01 th {width:155px;padding:10px 13px;border:1px solid #c4c4c4;background:#ebebeb;color:#383838;text-align:left;font-size:1.083em;}
.mbskin .tbl_frm01 td {padding:7px 10px;border:1px solid #dfdfdf;font-size:1.083em;color:#666;text-align:left}
.mbskin .tbl_frm01 textarea, .frm_input {border:1px solid #dcdcdc;;color:#000;vertical-align:middle;line-height:2em}
.mbskin .tbl_frm01 textarea {padding:2px 2px 3px;width:98%;height:100px}
.mbskin .frm_input {height:30px;padding-left:10px;font-size:1.083em;color:#555}
.mbskin .tbl_frm01 a {text-decoration:none}
.mbskin .tbl_frm01 .frm_file {display:block;margin-bottom:5px;padding-left:0}
.mbskin .tbl_frm01 .frm_info {display:block;padding:0 0 5px;line-height:1.4em}

/* 테이블 항목별 정의 */
.mbskin .td_board {}
.mbskin .td_chk {}
.mbskin .td_date {}
.mbskin .td_datetime {}
.mbskin .td_group {}
.mbskin .td_mb_id {}
.mbskin .td_mng {}
.mbskin .td_name {}
.mbskin .td_nick {}
.mbskin .td_num {}
.mbskin .td_numbig {}

/* ### 기본 스타일 커스터마이징 끝 ### */

/* 회원가입 약관 */
#fregister{padding:20px}
#fregister section {padding:15px 0;;border-bottom:1px solid #eee;}
#fregister h2 {text-align:left;margin-bottom:10px}
#fregister textarea {display:block;margin-bottom:10px;padding:5px;width:99%;height:150px;border:1px solid #ddd;background:#f7f7f7}
.fregister_agree {padding:10px 0 0;text-align:right;margin-bottom:10px}
.fregister_agree label {display:inline-block;margin-right:5px}
#fregister p {color:#c62a68;font-weight:bold;text-align:center}
#fregister .btn_confirm {margin:15px 0}
#fregister_private .tbl_head01 {margin:0}
#fregister_private .tbl_head01 th{;text-align:center;border:1px solid #d1dee2;width:33%;background:#eee}
#fregister_private .tbl_head01 td {border:1px solid #e9e9e9;background:#fff}
#fregister_private .tbl_head01 caption{position:absolute;font-size:0;line-height:0;overflow:hidden;top:0;color:#fff}

/* 회원가입 입력 */
#fregisterform {}
#fregisterform #reg_mb_email, #fregisterform .frm_address {width:100%}
#fregisterform textarea {width:100%;height:50px}
#fregisterform #msg_certify {margin:5px 0 0;padding:5px;border:1px solid #dbecff;background:#eaf4ff;text-align:center}
#fregisterform .frm_address {margin:5px 0 0}
#fregisterform #mb_addr3 {display:block;margin:5px 0 0}
#fregisterform #mb_addr_jibeon {display:block;margin:5px 0 0}

/* 회원가입 완료 */
#reg_result {padding:40px 10px 0}
#reg_result #result_email {margin:20px 0;padding:10px 50px;border-top:1px solid #eee;border-bottom:1px solid #eee;background:#fff;line-height:2em}
#reg_result #result_email span {display:inline-block;width:150px}
#reg_result #result_email strong {color:#e8180c;font-size:1.2em}
#reg_result p {line-height:1.8em}
#reg_result .btn_confirm {margin:50px 0}

/* 아이디/비밀번호 찾기 */
#find_info #info_fs {margin:0 20px 10px}
#find_info #info_fs p {margin:0 0 10px;line-height:1.8em}
#find_info #info_fs #mb_email {width:100%}
#find_info #captcha {margin:0 20px;padding:0 0 10px}
#find_info #captcha input {margin-left:5px}

/* 로그인 */
#mb_login {background:#efefef;width:100%;min-height:100%;min-height:100%;width:100%;padding:50px 20px 20px}
.mbskin_wr{margin:0 auto 30px;max-width:460px;background:#fff;}
#flogin,#mb_login #mb_login_notmb{padding:20px 40px 30px;margin-bottom:30px;}
#mb_login h1 {text-align:center;padding:40px 0 10px}
#mb_login h2  {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#login_fs label{font-size:0.92em;color:#777;margin:10px 0;display:inline-block}
#mb_login #login_frm {position:relative;padding:0 5px;font-size:1em}
#mb_login #login_frm div {padding:10px 0 0;text-align:right}
#mb_login .login_input {display:block;margin-bottom:5px;padding:0;width:100%;background:url('img/input-rq.gif') no-repeat bottom right #fff !important;border:1px solid #efefef;height:40px;line-height:40px;font-size:1.25em}
#mb_login .btn_submit {width:100%;height:50px;font-weight:bold}
#mb_login a.btn_submit {width:100%;height:50px;line-height:50px;color:#fff;text-align:center;padding:0;;margin-top:10px;font-weight:bold;display:inline-block}
#mb_login .btn_join{display:inline-block;background:#fff;border:1px solid #FC4C5E;color:#444;height:50px;line-height:48px;width:100%;font-weight:bold;text-align:center;margin:5px 0 20px;color:#FC4C5E;}
#mb_login section {margin:20px 0 0;padding:15px 0px;border-top:1px solid #ddd;color:#666;line-height:1.53em}
#mb_login section div {text-align:right}
#login_password_lost{text-align:center;display:block;text-decoration:underline;color:#666}

#mb_login_od{background:#fff;padding:40px;margin-bottom:30px;border-top:1px solid #efefef;}
#mb_login_od label{font-size:0.92em;color:#777;margin:10px 0 5px;display:inline-block}
#mb_login_od .frm_input{display:inline-block;background:#fff;border:1px solid #cbcbcb;color:#444;width:100%;font-weight:bold;}
#mb_login_od .btn_submit{margin-top:10px;}
#mb_login  #guest_privacy{border:1px solid #ddd;background:#f3f3f;max-height:200px;padding:10px;margin:5px 0;overflow-y:scroll;background:#f3f3f3;text-align:left;color:#000}

@media (max-width: 640px){
    #mb_login {padding-top:30px}
    #mb_login h1{margin-bottom:10px;}
    #mb_login h1 img{max-width:50%;height:auto}
    #flogin,#mb_login #mb_login_notmb{padding:30px}
    #mb_login_od{padding:30px}
    #mb_login .login_input{height:30px}
    #mb_login .btn_submit,#mb_login .btn_join,#mb_login a.btn_submit{height:40px;line-height:40px;}
}


/* 쪽지 */
#memo_view_contents {margin:0 auto 20px;width:90%}
#memo_view_contents h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#memo_view_ul {margin:0;padding:0 0 10px;border-bottom:1px solid #eee;list-style:none}
.memo_view_li {position:relative;padding:5px 0}
.memo_view_subj {display:inline-block;width:65px}
#memo_view_ul a {}
#memo_view p {padding:10px 0;min-height:150px;height:auto !important;height:150px;line-height:1.8em}

#memo_list_ul {margin:0 20px;padding:0;border-top:1px solid #e9e9e9;list-style:none}
#memo_list_ul li {position:relative;padding:10px 0;border-bottom:1px solid #e9e9e9}
#memo_list_ul .memo_link {}
#memo_list_ul .memo_send {display:block;margin-top:4px}
#memo_list_ul .memo_send a{color:#777}
#memo_list_ul .memo_read {font-size:0.95em;color:#666}
#memo_list_ul .memo_del {position:absolute;top:10px;right:0}

#memo_write #me_recv_mb_id {width:98%}
#memo_write textarea {width:99%;height:100px}

/* 스크랩 */
#scrap_ul {margin:0 20px;padding:0;border-top:1px solid #e9e9e9;list-style:none}
#scrap_ul li {position:relative;padding:10px 35px 10px 0;border-bottom:1px solid #e9e9e9}
#scrap_ul .scrap_board {display:inline-block;margin:0 10px 0 0;font-weight:bold}
#scrap_ul .scrap_del {position:absolute;top:10px;right:0}

#scrap_do .tbl_frm01{margin:0 20px}
#scrap_do table {margin:0 0 10px;width:100%}
#scrap_do textarea {width:99%;height:100px}

/* 포인트 */
#point_ul {margin:0 20px;padding:0;border-top:1px solid #e9e9e9;list-style:none}
#point_ul li {position:relative;padding:10px 0;border-bottom:1px solid #e9e9e9}
#point_ul .point_wrap01 {position:relative;padding:0 0 0 90px}
#point_ul .point_wrap02 {margin:7px 0 0;text-align:right}
#point_ul .point_date {position:absolute;top:0;left:0}

#point_sum {margin:0 20px}
#point_sum .sum_row {margin:0 0 1px;background:#f2f5f9}
#point_sum .sum_row:after {display:block;visibility:hidden;clear:both;content:''}
#point_sum .sum_tit, #point_sum .sum_val {display:block;margin:0 0 1px;padding:10px}
#point_sum .sum_tit {clear:both;float:left;width:100px}
#point_sum .sum_val {float:right}

/* 회원 비밀번호 확인 */
#mb_confirm {margin:30px 0}
#mb_confirm h1 {margin:0 0 15px;padding:0 10px;font-size:1.3em}
#mb_confirm p {padding:15px 10px;border-bottom:1px solid #cfded8;border-bottom:0;background:#fff}
#mb_confirm p strong {display:block}
#mb_confirm fieldset {position:relative;margin:0 0 5px;padding:20px 10px;border-bottom:1px solid #cfded8;background:#f7f7f7}
#mb_confirm_pw {display:block;margin-top:10px;padding:0;width:88%;line-height:1.8em !important}
#mb_confirm .btn_submit {position:absolute;bottom:20px;right:10px;width:10%;height:1.9em !important;line-height:1.9em}

/* 비밀글 비밀번호 확인 */
#pw_confirm {margin:30px 0}
#pw_confirm h1 {margin:0 0 15px;padding:0 10px;font-size:1.3em}
#pw_confirm p {padding:15px 10px;border-bottom:1px solid #cfded8;border-bottom:0;background:#fff}
#pw_confirm p strong {display:block}
#pw_confirm fieldset {position:relative;margin:0 0 5px;padding:5px 5px 10px;border-bottom:1px solid #cfded8;background:#f7f7f7}
#pw_wr_password {display:block;margin-top:10px;padding:0;width:88%;line-height:1.8em !important}
#pw_confirm .btn_submit {position:absolute;bottom:10px;right:5px;width:10%;height:1.9em !important;line-height:1.9em}

/* 폼메일 */
#formmail #subject {width:98%}
#formmail textarea {width:99%;height:100px}

/* 자기소개 */
#profile table {margin-bottom:0}
#profile section {padding:10px 20px}
#profile h2 {margin:0}
#profile .sv_wrap a {margin:0 0 5px;padding:0;font-weight:bold;line-height:10px}